$c-Alert__backgroundColor: $t-Color__grey--lightest !default;
$c-Alert__border: 1px solid $t-Color__grey--light !default;

$c-Alert__danger_error__backgroundColor: $t-Color__alert--light !default;
$c-Alert__danger_error__borderColor: $t-Color__grey--lightest !default;
$c-Alert__danger_error__textColor: $t-Color__alert !default;

$c-Alert__message__border: 1px dashed $t-Color__grey--dark !default;

$c-Alert__error__message__background: $t-Color__alert--light !default;
$c-Alert__info__message__background: $t-Color__info__background !default;
$c-Alert__success__message__background: $t-Color__success__background !default;

.c-Alert { //.alert
  padding: 4px 14px 4px 14px;
  margin: 10px auto;
  background-color: $c-Alert__backgroundColor;
  border: $c-Alert__border;
  border-radius: 4px;
  font-size: 14px;
}

.c-Alert__danger, .c-Alert__error { //.alert-danger, .alert-error
  background-color: $c-Alert__danger_error__backgroundColor;
  border-color: $c-Alert__danger_error__borderColor;
  color: $c-Alert__danger_error__textColor;
}

%message {
  padding: 10px 10px;
  margin: 0 0 15px 0;
  border: $c-Alert__message__border;
  border-left: 0;
  border-right: 0;

  > p {
    margin: 0;
  }
}

.c-Alert__error__message { //.error-message
  @extend %message;
  background: $c-Alert__error__message__background;
}

.c-Alert__info__message { //.info-message
  @extend %message;
  background: $c-Alert__info__message__background;
}

.c-Alert__success__message { //.success-message
  @extend %message;
  background: $c-Alert__success__message__background;
}
