@import "../../lib/l-functions";
@import "../../lib/l-mixins";

@import "bootstrap/mixins/buttons";

$c-Button__padding: 8px !default;
$c-Button__capitalization: none !default;

$c-Button__primary__backgroundColor: $t-Color__primary !default;
$c-Button__primary__borderColor: $t-Color__primary--dark !default;
$c-Button__primary__backgroundColor--hover: null !default;

$c-Button__grey__borderColor: $t-Color__grey--dark !default;

%c-Button__base {
  display: inline-block;
  padding: $c-Button__padding;
  margin-left: 5px;
  vertical-align: middle;

  font-weight: $bs-Button__fontWeight;
  line-height: normal;
  text-transform: $c-Button__capitalization;

  border-radius: $t-Border__radius;
}

//TODO COLAB-2561: move to custom/_button.scss
.btn {
  text-transform: $c-Button__capitalization;
}

@mixin theme-button($button-color, $border-color: null, $image-url: null, $hover-color: null) {
  @extend %c-Button__base;
  font-size: 16px;

  @include background-gradient($button-color, $image-url, 40px);

  @if $border-color == none {
    border: none;
  } @else {
    border: 1px solid $border-color;
  }

  color: contrasting-color($button-color, white, $t-Color__grey--darkest, $t-Text__threshold);
  $c-Button__theme__textShadow: 1px 1px 0 darken($button-color, 25%) !default;
  text-shadow: $c-Button__theme__textShadow;

  &:hover {
    color: contrasting-color(darken($button-color, 10%), white, $t-Color__grey--darkest, $t-Text__threshold);
    text-decoration: none;
    @include background-gradient(hover-color($button-color), $image-url, 40px);
  }
}

.btn-admin {
  @include button-variant($c-Button__primary__backgroundColor, $t-Color__accent);
}
