$c-Box__border: 1px solid $t-Color__grey--light !default;
$c-Box__rounded__borderRadius: 12px !default;
$c-Box__shadow: 3px 3px 1px $t-Color__grey--medium !default;

$c-Box__boxColor--dark__margin--top: -34px !default;

$c-Box__background__color--dark: $t-Color__grey--lightest !default;
$c-Box__background__color--light: transparent !default;
$c-Box__background__color--primary: $t-Color__primary__grey !default;

$c-Box__background--dark: $c-Box__background__color--dark !default;
$c-Box__background--light: $c-Box__background__color--light !default;
$c-Box__background--primary: $c-Box__background__color--primary !default;

$c-Box__boxColor--light__padding--top: 25px !default;
$c-Box__messaging__padding--top: 5px !default;

$c-Box__button__backgroundColor--light: $t-Color__primary !default;
$c-Box__button__backgroundColor--dark: $t-Color__primary !default;

$c-Box__button__boxColor--dark__textColor: white !default;
$c-Box__button__boxColor--primary__backgroundColor--hover: null !default;
$c-Box__button__boxColor--dark__backgroundColor--hover: null !default;
$c-Box__button__boxColor--light__backgroundColor--hover: null !default;

.c-Box {
  padding: 15px 10px;

  &.boxColor--primary {
    background: $c-Box__background--primary;
    color: contrasting-color($c-Box__background__color--primary);
  }

  &.boxColor--dark {
    background: $c-Box__background--dark;
    color: contrasting-color($c-Box__background__color--dark);
    margin-top: $c-Box__boxColor--dark__margin--top;
  }

  &.boxColor--light {
    background: $c-Box__background--light;
    padding-top: $c-Box__boxColor--light__padding--top;
    padding-bottom: $c-Box__messaging__padding--top;

    @if $c-Box__background--light != transparent {
      color: contrasting-color($c-Box__background__color--light);
    } @else {
      color: contrasting-color(white);
    }
  }

  &.hasShadow {
    box-shadow: $c-Box__shadow;
  }

  &.hasBorder {
    border: $c-Box__border;
  }

  &.messaging {
    padding-top: $c-Box__messaging__padding--top;
  }

  img {
    vertical-align: middle;
    margin-right: 3px;
  }

}

.c-Box__button {
  //TODO: this creates a dependency on _c-Button.scss
  @extend %c-Button__base;
  font-size: 14px;

  &.boxColor--primary {
    background: contrasting-color($t-Color__primary, white, $t-Color__grey--darkest);
    color: $c-Box__background__color--primary;

    &:hover {
      background: hover-color(contrasting-color($t-Color__primary, white, $t-Color__grey--darkest),
              $c-Box__button__boxColor--primary__backgroundColor--hover);
      text-decoration: none;
    }
  }

  &.boxColor--dark {
    background: $c-Box__button__backgroundColor--light;
    color: $c-Box__button__boxColor--dark__textColor;
    margin-top: -5px;
    float: right;

    &:hover {
      background: hover-color($c-Box__button__backgroundColor--dark,
              $c-Box__button__boxColor--dark__backgroundColor--hover);
      text-decoration: none;
    }
  }

  &.boxColor--light {
    background: $c-Box__button__backgroundColor--light;
    color: $t-Color__primary;

    &:hover {
      background: hover-color($c-Box__button__backgroundColor--light,
              $c-Box__button__boxColor--light__backgroundColor--hover);
      text-decoration: none;
    }
  }
}

.c-Box--round {
  @extend .c-Box;
  border-radius: $c-Box__rounded__borderRadius;
}
