@import "../../lib/l-functions";
@import "../../lib/l-mixins";

//TODO COLAB-2561: Remove this mixin (and the whole file)
@mixin theme-button($button-color, $border-color: null, $image-url: null, $hover-color: null) {
  display: inline-block;
  padding: 8px;
  margin-left: 5px;
  vertical-align: middle;

  font-weight: $bs-Button__fontWeight;
  line-height: normal;

  border-radius: $t-Border__radius;

  font-size: 16px;

  @include background-gradient($button-color, $image-url, 40px);

  @if $border-color == none {
    border: none;
  } @else {
    border: 1px solid $border-color;
  }

  color: yiq-contrasting-color($button-color);

  &:hover {
    color: yiq-contrasting-color(darken($button-color, 10%));
    text-decoration: none;
    @include background-gradient(hover-color($button-color), $image-url, 40px);
  }
}
