@import "../../lib/functions";

$c-Box__border: 1px solid $t-Color__gray--medium-500 !default;
$c-Box__shadow: 3px 3px 1px $t-Color__gray--dark-600 !default;

$c-Box__boxColor--dark__margin--top: -34px !default;

$c-Box__background__color--dark: $t-Color__tan !default;
$c-Box__background__color--light: transparent !default;
$c-Box__background__color--primary: $t-Color__primary__gray !default;

$c-Box__background--dark: $c-Box__background__color--dark !default;
$c-Box__background--light: $c-Box__background__color--light !default;
$c-Box__background--primary: $c-Box__background__color--primary !default;

$c-Box__boxColor--light__padding--top: 25px !default;
$c-Box__messaging__padding--top: 5px !default;

.c-Box {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;

  &.boxColor--primary {
    background: $c-Box__background--primary;
    color: yiq-contrasting-color($c-Box__background__color--primary);
  }

  &.boxColor--dark {
    background: $c-Box__background--dark;
    color: yiq-contrasting-color($c-Box__background__color--dark);
    margin-top: $c-Box__boxColor--dark__margin--top;
  }

  &.boxColor--light {
    background: $c-Box__background--light;
    padding-top: $c-Box__boxColor--light__padding--top;
    padding-bottom: $c-Box__messaging__padding--top;

    @if $c-Box__background--light != transparent {
      color: yiq-contrasting-color($c-Box__background__color--light);
    } @else {
      color: yiq-contrasting-color(white);
    }
  }

  &.hasShadow {
    box-shadow: $c-Box__shadow;
  }

  &.hasBorder {
    border: $c-Box__border;
  }

  img {
    margin-right: 3px;
  }

}
