$c-Comment__input__button__background: url(/climatecolab-theme/images/comment_submit.gif) !default;
$c-Comment__input__button__border: none !default;

$c-Comment__special__highlight: $t-Color__alert--light !default;

$c-Comment__box__border: 2px solid $t-Color__grey--light !default;

$c-Comment__count__backgroundColor: $t-Color__grey--lightest !default;
$c-Comment__count__background: url(/images/icon-proposal-comments.png) no-repeat 11px 5px $c-Comment__count__backgroundColor !default;
$c-Comment__count__a__fontWeight: 700 !default;
$c-Comment__count__a__margin--left: 0px !default;

$c-Comment__commentor__backgroundImage: url(/images/pattern-6x6.png) !default;
$c-Comment__commentor__textColor: black !default;

$c-Comment__threads__list__tr__border--bottom: 1px solid $t-Color__grey--light !default;

.c-Comment { //.the-comment
  width: 693px;
  padding: 28px;
  position: relative;
  line-height: 22px;
  color: $t-Color__grey--darkest;

  p {
    margin: 0 0 10px 0;
  }
}

.c-Comment__new { //#thecomment
  float: left;
  width: 790px
}

.c-Comment__button { //.comm-butt
  position: relative;
  float: right;
  width: 715px;
  text-align: left;
  margin-top: 8px;

  img {
    vertical-align: middle;
    padding-right: 8px;
  }
}

input.c-Comment__button[type="submit"],
input.c-Comment__button[type="submit"]:hover,
input.c-Comment__button[type="submit"]:focus { //input.comm-butt
  background: $c-Comment__input__button__background;
  border: $c-Comment__input__button__border;
  width: 119px;
  height: 30px;
  cursor: pointer;
}

.c-Comment__share { //.comm-share
  float: right;
}

.c-Comment__add { //.addcomment
  font-size: 14px;
  margin-top: 25px;

  .c-Comment__add__info { //#add
    float: left;
    width: 178px;
    padding: 10px 6px 10px 6px;
  }

  strong {
    font-weight: $b-Typography__fontWeight--bold;
  }
}

.c-Comment__box { //.commentbox
  height: 178px;
  width: 788px;
  border: $c-Comment__box__border;
  margin-bottom: 25px;

  &.discussion {
    width: 700px
  }
}

.c-Comment__actions { //.commentsActions
  margin-top: 15px;
  text-align: right;
}

.c-Comment__share { //.icon_share
  padding-left: 20px;
}

.c-Comment__count { //.commbox
  background: $c-Comment__count__background;
  margin-right: 18px;

  a {
    font-weight: $c-Comment__count__a__fontWeight;
    margin-left: $c-Comment__count__a__margin--left;
  }
}

.c-Comment__list { //.comments
  font-size: 15px;

  tr.odd td {
    background-color: $t-Color__grey--lightest;
  }

  td {
    border-bottom: 3px solid white;
  }
}

.c-Comment.spam, .comments tr.odd td.c-Comment.spam{
  background-color: $c-Comment__special__highlight;
}

.c-Comment__commentor { //.commentor
  background-image: $c-Comment__commentor__backgroundImage;
  width: 212px;
  padding: 16px 20px 26px 16px;
  line-height: 19px;
  color: $c-Comment__commentor__textColor;

  a {
    font-weight: $b-Typography__fontWeight--bold;
  }

  img {
    margin-bottom: 14px;
  }

  span {
    font-weight: $b-Typography__fontWeight--bold;
  }
}

.c-Comment__threads { //.threads-container {
  @extend .clearfix;

  .c-Comment__threads__container { //.main-content
    float: left;
    width: 680px;
  }

  .c-Comment__threads__sidebar { //.sidebar
    float: left;
    margin-left: 50px;
  }
}

.addpropbox.evaluation {
  .c-Comment__commentor {
    float: left;
  }

  .c-Comment {
    padding-bottom: 40px;
    padding-top: 10px;
    display: table-footer-group;

    li {
      background: none;
    }
  }
}



//TODO: unused in source code - verify if used elsewhere
#commentbox {
  height: 178px;
  width: 788px;
  border: 2px solid $t-Color__grey--light;
  margin-bottom: 25px;
}

//TODO: unused in source code - verify if used elsewhere
.featured_expert {
  background: $t-Color__grey--lightest;
  padding: 0 0 10px 0;
  border-bottom: 3px solid $t-Color__grey--lightest;
}

//TODO: unused in source code - verify if used elsewhere
.featured_expert-title {
  background: $t-Color__grey--lightest;
  height: 26px;
  padding: 6px 0 0 101px;
  font-size: 12px;
  font-weight: $b-Typography__fontWeight--bold;
  color: #444;
}

//TODO: unused in source code - verify if used elsewhere
.wf-active .featured_expert-title {
  font-size: 14px;
}

//TODO: unused in source code - verify if used elsewhere
.featired_expert-img {
  width: 72px;
  float: left;
  margin: -24px 8px 0 15px;
}

//TODO: unused in source code - verify if used elsewhere
.featured_expert-name {
  font-size: 14px;
  font-weight: $b-Typography__fontWeight--bold;
  padding: 9px 0 20px 103px;
  line-height: 20px;
}

//TODO: unused in source code - verify if used elsewhere
.wf-active .featured_expert-name {
  font-size: 16px;
}

//TODO: unused in source code - verify if used elsewhere
.featured_expert p {
  padding: 0 15px;
  margin-bottom: 10px;
  font: 12px/21px Verdana, Geneva, sans-serif;
}

//TODO: unused in source code - verify if used elsewhere
.add-comment textarea.field {
  width: 100%;
  max-width: 100% !important;
}
