$c-Count__fontSize: 20px !default;
$c-Count__capitalization: $b-Typography__capitalization--none !default;
$c-Count__number__color: $t-Color__secondary !default;
$c-Count__number__fontSize: 30px !default;
$c-Count__number__fontWeight: $t-Typography__fontWeight--bold !default;
$c-Count__number__color--accent: $t-Color__accent !default;

//TODO: port other counts to this

.c-Count {
  display: inline-block;
  vertical-align: middle;
  font-size: $c-Count__fontSize;
  text-transform: $c-Count__capitalization;
}

.c-Count__number {
  display: inline-block;
  margin-right: $t-Spacing__base * .25;
  font-size: $c-Count__number__fontSize;
  font-weight: $c-Count__number__fontWeight;

  color: $c-Count__number__color;
}

.c-Count__number--accent {
  color: $c-Count__number__color--accent;
}

.c-Count__number--neutral {
  color: $b-Typography__textColor;
}
