@import "../../lib/l-mixins";

$c-ContestBox__meta__flag__capitalization: $b-Typography__capitalization--none !default;
$c-ContestBox__meta__flag__boxShadow: 2px 2px 1px $t-Color__grey--dark !default;
$c-ContestBox__meta__flag--color__border: 1px solid $t-Color__secondary--light !default;
$c-ContestBox__meta__flag__position: absolute !default;
$c-ContestBox__meta__flag__padding: 0 15px !default;
$c-ContestBox__meta__flag__textColor: white !default;
$c-ContestBox__meta__flag__height: 30px !default;
$c-ContestBox__meta__flag__fontSize: 15px !default;
$c-ContestBox__meta__flag__marginTop: 0 !default;
$c-ContestBox__meta__flag__isGradient: true !default;
$c-ContestBox__meta__flag__background--color: $t-Color__secondary !default;
$c-ContestBox__meta__flag__background--grey: $t-Color__grey--medium !default;
$c-ContestBox__meta__flag__fontWeight: $t-Typography__fontWeight !default;

$c-ContestBox__text__height: 125px !default;
$c-ContestBox__text__title__textColor: $t-Color__primary !default;
$c-ContestBox__text__title__textColor--hover: $b-Typography__textColor__a--isHover !default;

$c-ContestBox__background: white !default;
$c-ContestBox__border: 4px solid $t-Color__grey--lightest !default;
$c-ContestBox__border__radius: 8px !default;
$c-ContestBox__border__bottom: null !default;
$c-ContestBox--hover__boxShadow: 0 0 10px #666 !default;

.c-ContestBox--compact {
  width: 476px;

  border: $c-ContestBox__border;
  @if $c-ContestBox__border__bottom != null {
    border-bottom: $c-ContestBox__border__bottom;
  }
  border-radius: $c-ContestBox__border__radius;

  background: $c-ContestBox__background;

  &.backgroundLight {
    background: white;
  }

  &:hover {
    box-shadow: $c-ContestBox--hover__boxShadow;
  }

  padding: 9px 8px;
  margin-bottom: 24px;
  float: left;
  position: relative;
}

.c-ContestBox { //.contestbox {
  @extend .c-ContestBox--compact;
  height: 178px;
}

.c-ContestBox__image { //.contestbox .img-wrap {
  float: left;
  margin-right: 18px;
}

.c-ContestBox__text--compact {
  float: left;
  width: 283px;
  font-size: 14px;
  padding-top: 3px;
  line-height: 20px;
  color: $t-Color__grey--dark;
}

.c-ContestBox__text { // .contestbox .text-wrap {
  @extend .c-ContestBox__text--compact;
  height: $c-ContestBox__text__height;
}

.c-ContestBox__text__title { // .contestbox h3 {
  margin-bottom: 8px;
  a {
    color: $c-ContestBox__text__title__textColor;
  }

  a:hover {
    color: $c-ContestBox__text__title__textColor--hover;
    text-decoration: none;
  }
}

.c-ContestBox__meta__count { //.contestbox .count
  color: $t-Color__grey--medium;
}

%c-ContestBox__meta__flag {
  display: inline-block;
  padding: $c-ContestBox__meta__flag__padding;
  margin-top: $c-ContestBox__meta__flag__marginTop;

  height: $c-ContestBox__meta__flag__height;
  line-height: $c-ContestBox__meta__flag__height;

  font-size: $c-ContestBox__meta__flag__fontSize;
  font-weight: $c-ContestBox__meta__flag__fontWeight;
  color: $c-ContestBox__meta__flag__textColor;
  text-align: center;

  box-shadow: $c-ContestBox__meta__flag__boxShadow;

  @if $c-ContestBox__meta__flag__position != none {
    position: $c-ContestBox__meta__flag__position;
    top: 115px;
    left: -20px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      bottom: 3px;
      right: 3px;
    }
  }

  text-transform: $c-ContestBox__meta__flag__capitalization;
}

.c-ContestBox__meta__flag--color { // .contest-flag-color {
  @extend %c-ContestBox__meta__flag;
  @if $c-ContestBox__meta__flag__isGradient {
    @include background-gradient($c-ContestBox__meta__flag__background--color);
  } @else {
    background: $c-ContestBox__meta__flag__background--color;
  }

  @if $c-ContestBox__meta__flag__position != none {
    &:after {
      border: $c-ContestBox__meta__flag--color__border;
      border-left: 0;
    }
  }
}

.c-ContestBox__meta__flag--grey { //.contest-flag-grey {
  @extend %c-ContestBox__meta__flag;
  @if $c-ContestBox__meta__flag__isGradient {
    @include background-gradient($c-ContestBox__meta__flag__background--grey);
  } @else {
    background: $c-ContestBox__meta__flag__background--grey;
  }

  @if $c-ContestBox__meta__flag__position != none {
    &:after {
      border: 1px solid $t-Color__grey--light;
      border-left: 0;
    }
  }
}
