$c-Footer__backgroundColor: $t-Color__grey--lightest !default;
$c-Footer__background: url(/images/bg-noise.png) $c-Footer__backgroundColor !default;

$c-Footer__menu__background__isSimple: false !default;
$c-Footer__menu__backgroundColor: simple-gradient($t-Color__grey--dark) !default;

$c-Footer__menu__li__a--hover__color: $t-Color__accent !default;
$c-Footer__menu__li__textColor: white !default;
$c-Footer__menu__boxShadow: none !default;

$c-Footer__link__textColor--hover: $t-Color__accent !default;

#c-Footer { //#footer
  background: $c-Footer__background;
  padding-bottom: 30px;
}

#c-Footer__menu { //#footmenu
  padding: 8px 0;
  @if $c-Footer__menu__background__isSimple {
    background: $c-Footer__menu__backgroundColor;
  } @else {
    background: url(/images/bg-noise.png), $c-Footer__menu__backgroundColor;
  }

  box-shadow: $c-Footer__menu__boxShadow;

  .nav-link {
    color: $c-Footer__menu__li__textColor;

    &.active {
        color: $c-Footer__menu__li__a--hover__color;
    }

    &:hover {
      color: $c-Footer__menu__li__a--hover__color;
    }
  }
}

//TODO: used in content article for footer - replace with bootstrap classes
#footleft {
  float: left;
  width: 420px;
  padding-top: 21px;
}

//TODO: used in content article for footer - replace with bootstrap classes
#footright {
  float: right;
  width: 510px;
  padding-top: 34px;

  #cc {
    padding-top: 6px;
  }

  #txt {
    float: left;
    width: 400px;
    margin-right: 16px;
    font-size: 13px;
    color: $t-Color__grey--dark;
    line-height: 20px;

    a {
      padding-bottom: 2px;
      border-bottom: 1px solid $t-Color__grey--light;
      font-size: 12px;
      font-weight: $t-Typography__fontWeight--bold;
      color: black;

      &:hover {
        color: $c-Footer__link__textColor--hover;
        text-decoration: none;
      }
    }
  }
}
