
.c-Header__displayName {
  max-width: 180px;
  text-align: right;
}

.c-Header__socialButtons {

  text-align: center;

  > a {
    margin: 0 10px;

    &:hover {
      border-bottom: none !important;
    }

    > span:hover {
      border-bottom: 1px dashed white;
    }

    > img {
      width: 32px;
      height: 32px;
      margin-right: 5px;
    }
  }
}

.c-Header__login__with { //.loginwith

  text-align: center;

  img {
    margin-right: 5px;
  }
}

.c-Header__login__with__del { //.loginwith-del
  height: 0;
  width: 37%;
  border-bottom: 1px solid;
  margin: 8px 4%;
  float: left;
}

.c-Header__login__with__or { //.loginwith-or
  width: 23px;
  float: left;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
