$c-Header__background: url(/images/bg-noise.png), $t-Color__grey--lightest !default;
$c-Header__border--bottom: 1px solid #aaa9a5 !default;
$c-Header__box-shadow: none !default;

$c-Header__menu__li__border--left: 1px solid $t-Color__grey--light !default;
$c-Header__menu__li__isCurrent__border--left: 1px solid $t-Color__grey--medium !default;

$c-Header__menu__li__a__width: auto !default;
$c-Header__menu__li__a__textColor: $t-Color__primary !default;
$c-Header__menu__li__a__textAlign: left !default;
$c-Header__menu__li__a__fontWeight: $b-Typography__fontWeight--bold !default;
$c-Header__menu__li__a__search__backgroundUrl: url(/images/icon-menu-search.png) !default;
$c-Header__menu__li__a__search__textColor: $t-Color__grey--dark !default;
$c-Header__menu__li__a__search__fontFamily: Arial, Helvetica, sans-serif !default;
$c-Header__menu__li__a__search__textColor--hover: black !default;
$c-Header__menu__li__isCurrent__boxShadow: none !default;
$c-Header__menu__li__isCurrent__a__textColor: $t-Color__primary !default;

$c-Header__menu__highlightedTextColor: $t-Color__grey--darkest !default;
$c-Header__menu__subitem__borderColor--left: $t-Color__grey--medium !default;

$c-Header__menu__right__li__fontFamily: Arial, Helvetica, sans-serif !default;
$c-Header__menu__right__li__register__backgroundUrl: url(/images/icon-menu-register.png) !default;
$c-Header__menu__right__li__register--hover__backgroundUrl: url(/images/icon-menu-register2.png) !default;
$c-Header__menu__right__li__help__backgroundUrl: url(/images/icon-menu-help.png) !default;
$c-Header__menu__right__li__help__border--left: 1px solid $t-Color__grey--light !default;
$c-Header__menu__right__li__help--hover__backgroundUrl: url(/images/icon-menu-help2.png) !default;
$c-Header__menu__right__li__login__backgroundUrl: url(/images/icon-menu-login.png) !default;
$c-Header__menu__right__li__login--hover__backgroundUrl: url(/images/icon-menu-login2.png) !default;
$c-Header__menu__right__li__user__backgroundUrl: url(/images/arrow-blue_down.png) !default;
$c-Header__menu__right__li__user__a__textColor: $t-Color__primary !default;
$c-Header__menu__right__li__user__a--hover__textColor: #333 !default;
$c-Header__menu__right__li__user__a__img__border: 1px solid $t-Color__grey--medium !default;
$c-Header__menu__right__li__a__textColor: $t-Color__grey--dark !default;
$c-Header__menu__right__li__a__paddingTop: 45px !default;
$c-Header__menu__right__li__a__fontWeight: $b-Typography__fontWeight--bold !default;
$c-Header__menu__right__li__a--hover__textColor: black !default;

$c-Header__search__top__background: $t-Color__grey--darkest !default;
$c-Header__search__box__background: url(/images/search-bg.png) !default;
$c-Header__search__term__font: 12px "Lucida Grande", Arial, sans-serif !default;
$c-Header__search__submit__background: $t-Color__primary !default;
$c-Header__search__submit__textColor: white !default;
$c-Header__search__submit__borderRadius: 3px !default;
$c-Header__search__pop__positionLeft: 520px !default;

$c-Header__login__top__background: $t-Color__grey--darkest !default;
$c-Header__login__box__background: url(/images/search-bg.png) !default;
$c-Header__login__box__textColor: $t-Color__grey--lightest !default;
$c-Header__login__box__span__a__textColor: white !default;
$c-Header__login__box__span__a--hover__border--bottom: 1px dashed white !default;

$c-Header__login__fields__border: none !default;
$c-Header__login__fields__font: 12px "Lucida Grande", Arial, sans-serif !default;
$c-Header__login__submit__border: none !default;
$c-Header__login__submit__background: $t-Color__primary !default;
$c-Header__login__submit--hover__background: $t-Color__primary--dark !default;
$c-Header__login__submit__textColor: white !default;

$c-Header__user__notification__font: 12px Arial, Helvetica, sans-serif !default;
$c-Header__user__notification__textColor: white !default;
$c-Header__user__notification__top__background: $t-Color__primary--darkest !default;
$c-Header__user__notification__message__background: $t-Color__secondary !default;

$c-Header__user__top__background: url(/images/arrow-white_down.png) no-repeat 39px center $t-Color__grey--darkest !default;
$c-Header__user__top__img__border: 1px solid $t-Color__grey--medium !default;
$c-Header__user__box__textColor: $t-Color__grey--lightest !default;
$c-Header__user__box__background: url(/images/search-bg.png) !default;
$c-Header__user__box__a__textColor: white !default;
$c-Header__user__box__a--hover__border--bottom: 1px dashed white !default;

#c-Header { //.header
  height: 67px;
  background: $c-Header__background;
  border-bottom: $c-Header__border--bottom;
  box-shadow: $c-Header__box-shadow;

  .inner {
    position: relative;
    z-index: 11;
  }
}

#c-Header__logo { //#logo
  float: left;
  margin-right: 15px;
  margin-top: 12px;
}

#c-Header__menu { //#menu
  float: left;
  width: 445px;
  height: 67px;

  li {
    float: left;
    padding: 0;
    margin-left: 0;
    list-style: none;
    background: none;
    border-left: $c-Header__menu__li__border--left;

    &.isCurrent {
      background: white;
      border-left: $c-Header__menu__li__isCurrent__border--left;
      box-shadow: $c-Header__menu__li__isCurrent__boxShadow;

      a {
        color: $c-Header__menu__li__isCurrent__a__textColor;
      }
    }

    a {
      height: 41px;
      width: $c-Header__menu__li__a__width;
      text-align: $c-Header__menu__li__a__textAlign;
      padding: 26px 16px 0 15px;
      color: $c-Header__menu__li__a__textColor;
      font-weight: $c-Header__menu__li__a__fontWeight;
      display: inline-block;
      box-sizing: content-box;

      &.search {
        background: $c-Header__menu__li__a__search__backgroundUrl no-repeat 24px 18px;
        background-position-x: 50%;
        height: 22px;
        padding-top: 45px;
        font-size: 10px;
        color: $c-Header__menu__li__a__search__textColor;
        text-transform: uppercase;
        font-family: $c-Header__menu__li__a__search__fontFamily;
      }
    }
  }
}

#c-Header__menu li a:hover, #c-Header__menu li.isCurrent a {
  color: $c-Header__menu__highlightedTextColor;
  text-decoration: none;
  height: 42px;
}

#c-Header__menu li:hover + li, #c-Header__menu li.isCurrent + li {
  border-left: 1px solid $c-Header__menu__subitem__borderColor--left;
}

#c-Header__menu li a.search:hover, #c-Header__menu li.isCurrent a.search {
  height: 22px;
  color: $c-Header__menu__li__a__search__textColor--hover;
}

#c-Header__menu__right { //#menu-right
  float: right;
  min-width: 180px;
  height: 67px;
  position: relative;

  li {
    float: left;
    list-style: none;
    font-family: $c-Header__menu__right__li__fontFamily;

    &.register {
      background: $c-Header__menu__right__li__register__backgroundUrl no-repeat center 13px;

      &:hover {
        background: $c-Header__menu__right__li__register--hover__backgroundUrl no-repeat center 13px;
      }
    }

    &.login {
      background: $c-Header__menu__right__li__login__backgroundUrl no-repeat center 15px;
      padding-right: 7px;

      &:hover {
        background: $c-Header__menu__right__li__login--hover__backgroundUrl no-repeat center 15px;
      }
    }

    &.help {
      background: $c-Header__menu__right__li__help__backgroundUrl no-repeat 20px 15px;
      padding-left: 7px;
      border-left: $c-Header__menu__right__li__help__border--left;

      &:hover {
        background: $c-Header__menu__right__li__help--hover__backgroundUrl no-repeat 20px 15px;
      }
    }

    &.user {
      background: $c-Header__menu__right__li__user__backgroundUrl no-repeat right center;
      margin-right: 11px;

      a {
        height: 47px;
        padding: 20px 15px 0 0;
        color: $c-Header__menu__right__li__user__a__textColor;
        font-size: 15px;
        text-transform: none;

        &:hover {
          color: $c-Header__menu__right__li__user__a--hover__textColor;
        }

        img {
          border: $c-Header__menu__right__li__user__a__img__border;
          margin-left: 10px;
          vertical-align: -9px;
        }
      }

      &.small a {
        font-size: 13px;
      }
    }

    a {
      height: 22px;
      padding: $c-Header__menu__right__li__a__paddingTop 7px 0 7px;
      font-size: 10px;
      font-weight: $c-Header__menu__right__li__a__fontWeight;
      color: $c-Header__menu__right__li__a__textColor;
      display: inline-block;
      text-transform: uppercase;

      &:hover {
        color: $c-Header__menu__right__li__a--hover__textColor;
        text-decoration: none;
      }
    }
  }
}

.c-Header__search__pop { //.searchpop
  position: absolute;
  top: 11px;
  left: $c-Header__search__pop__positionLeft;
  z-index: 11;
}

.c-Header__search__top { //.searchtop
  width: 33px;
  height: 30px;
  padding: 12px 0 0 12px;
  background: $c-Header__search__top__background;
  @include border-top-left-radius(3px);
  @include border-top-right-radius(3px);
}

.c-Header__search__box { //.searchbox
  padding: 10px;
  background: $c-Header__search__box__background;
  @include border-bottom-left-radius(3px);
  @include border-bottom-right-radius(3px);
  @include border-top-right-radius(3px);
}

.c-Header__search__term { //.search-term
  display: inline-block;
  width: 199px;
  height: 29px;
  margin-right: 7px;
  padding-left: 5px;
  border: none;
  font: $c-Header__search__term__font;
}

.c-Header__search__submit { //.search-submit
  display: inline-block;
  padding: 4px 5px;
  margin-left: 5px;
  line-height: normal;
  background: $c-Header__search__submit__background;
  font-size: 15px;
  font-weight: $b-Typography__fontWeight--bold;
  text-transform: uppercase;
  color: $c-Header__search__submit__textColor;
  cursor: pointer;
  @include border-radius($c-Header__search__submit__borderRadius);

  &:hover {
    background: hover-color($c-Header__search__submit__background);
    color: $c-Header__search__submit__textColor;
  }
}

.c-Header__login__pop { //.loginpop
  position: absolute;
  top: 11px;
  left: 635px;
  width: 287px;
  z-index: 11;
}

.c-Header__login__top { //.logintop
  width: 33px;
  height: 30px;
  padding: 6px 3px 0 9px;
  margin-left: 242px;
  background: $c-Header__login__top__background;
  @include border-top-left-radius(3px);
  @include border-top-right-radius(3px);
}

.c-Header__login__box { //.loginbox
  width: 274px;
  padding: 17px 0 10px 13px;
  background: $c-Header__login__box__background;
  font-size: 14px;
  color: $c-Header__login__box__textColor;
  font-weight: $b-Typography__fontWeight--bold;
  @include border-bottom-left-radius(3px);
  @include border-bottom-right-radius(3px);
  @include border-top-left-radius(3px);

  span {
    font-weight: $b-Typography__fontWeight;

    a {
      color: $c-Header__login__box__span__a__textColor;

      &:hover {
        border-bottom: $c-Header__login__box__span__a--hover__border--bottom;
      }
    }
  }
}

.c-Header__login__with { //.loginwith
  margin-bottom: 25px;

  img {
    vertical-align: middle;
    margin-right: 5px;
  }
}

.c-Header__login__with__del { //.loginwith-del
  height: 0;
  width: 35%;
  border-bottom: 1px solid;
  margin: 8px 4%;
  float: left;
}

.c-Header__login__with__or { //.loginwith-or
  width: 23px;
  float: left;
}

//TODO: unused in source code - verify if used elsewhere
.loginform { //.loginform
  margin-top: 5px;
}

.c-Header__login__username, .c-Header__login__password { //.username, .password
  width: 254px;
  height: 29px;
  padding-left: 5px;
  margin-bottom: 8px;
  border: $c-Header__login__fields__border;
  font: $c-Header__login__fields__font;
  @include border-radius(3px);
}

.c-Header__login__forgot { //.forgot
  vertical-align: top;
  margin: 0 15px 0 5px;
}

.c-Header__login__submit { //.login-submit
  width: 88px;
  height: 30px;
  padding-top: 3px;
  background: $c-Header__login__submit__background;
  border: $c-Header__login__submit__border;
  font-size: 15px;
  font-weight: $b-Typography__fontWeight--bold;
  color: $c-Header__login__submit__textColor;
  text-align: center;
  @include border-radius(3px);
  cursor: pointer;

  &:hover {
    background: $c-Header__login__submit--hover__background;
  }
}

.c-Header__user__notification { //.user-notification
  display: inline;
  text-align: center;
  font: $c-Header__user__notification__font;
  color: $c-Header__user__notification__textColor;
  padding: 0 5px;
  margin-left: 5px;
  @include border-radius(8px);
  position: absolute;
}

.c-Header__user__notification__top { //.user-notification-top
  top: 13px;
  right: 78px;
  background: $c-Header__user__notification__top__background;
}

.c-Header__user__notification__message { //.user-notification-message
  top: 84px;
  left: 105px;
  background: $c-Header__user__notification__message__background;
}

.c-Header__user__pop { //.userpop
  position: absolute;
  top: 11px;
  left: 752px;
  width: 175px;
  z-index: 100;
}

.c-Header__user__top { //.usertop
  width: 47px;
  height: 34px;
  padding: 8px 0 0 8px;
  margin-left: 120px;
  background: $c-Header__user__top__background;
  @include border-top-left-radius(3px);
  @include border-top-right-radius(3px);

  img {
    border: $c-Header__user__top__img__border;
  }
}

.c-Header__user__box { //.userbox
  width: 158px;
  padding: 10px 0 18px 17px;
  background: $c-Header__user__box__background;
  font-size: 14px;
  color: $c-Header__user__box__textColor;
  font-weight: $b-Typography__fontWeight--bold;
  @include border-bottom-left-radius(3px);
  @include border-bottom-right-radius(3px);
  @include border-top-left-radius(3px);

  a {
    height: 18px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: $b-Typography__fontWeight--bold;
    color: $c-Header__user__box__a__textColor;
    display: inline-block;

    &:hover {
      border-bottom: $c-Header__user__box__a--hover__border--bottom;
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
  }

  li {
    height: 28px;
    list-style: none;
    background: none;
    padding: 0;
    margin-left: 0;
  }
}
