$c-Headline__addprop__textColor: black !default;
$c-Headline__h2__textColor: $t-Color__grey--darkest !default;
$c-Headline__h2__span__fontWeight: 700 !default;
$c-Headline__h2__span__textColor: $t-Color__secondary !default;
$c-Headline__fold__message_backgroundColor: $t-Color__primary__grey--light !default;
$c-Headline__days-left__span__textColor: $t-Color__accent !default;
$c-Headline__h2__span__fontSize: 33px !default;
$c-Headline__days-left__span__padding: 0 !default;
$c-Headline__days-left__span__background: none !default;
$c-Headline__days-left__span__fontSize: 24px !default;

$c-Headline__show__font: 12px "Lucida Grande", Arial, sans-serif !default;

.c-Headline { //.headline
  display: block;
  margin-bottom: 22px;

  &:after { //.headline:after
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
    content: ".";
  }

  &.addprop { //.headline.addprop
    width: 616px;
    margin-right: 368px;
    line-height: 24px;
    margin-bottom: 30px;
    color: $c-Headline__addprop__textColor;

    a { //.headline.addprop a
      font-weight: $t-Typography__fontWeight--bold;
    }
  }

  &.contest-page { //.headline.contest-page
    margin-bottom: 14px;
  }

  &.prophead { //.headline.prophead
    margin: 10px 0 15px 0;
    padding-left: 15px;
  }

  &.propsubhead { //.headline.propsubhead
    margin: 70px 0 15px 0;
    padding-left: 15px;
  }

  &.c-Headline__subhead { //.headline.subhead
    margin: 0 0 15px 0;
    padding-left: 15px;
  }

  h1 { //.headline h1
    display: inline;
    float: left;
    width: auto;
    margin-right: 30px;
  }

  h2 { //.headline h2
    display: inline;
    float: left;
    width: auto;
    font-weight: $t-Typography__fontWeight;
    color: $c-Headline__h2__textColor;

    span { //.headline h2 span
      font-size: $c-Headline__h2__span__fontSize;
      font-weight: $c-Headline__h2__span__fontWeight;
      color: $c-Headline__h2__span__textColor;
    }
  }

  .contest-image { //.headline contest-image
    float: left;
    width: 52px;
    height: 52px;
    margin: -12px 15px 0 0;
  }

  .days-left { //.headline .days-left
    float: right;
    width: 300px;
    text-align: right;
    vertical-align: middle;
    line-height: normal;
    text-transform: lowercase;
    span { //.headline .days-left span
      display: inline-block;
      margin-right: 5px;
      padding: $c-Headline__days-left__span__padding;
      background: $c-Headline__days-left__span__background;

      font-size: $c-Headline__days-left__span__fontSize;
      font-weight: $t-Typography__fontWeight--bold;
      color: $c-Headline__days-left__span__textColor;
      vertical-align: middle;
    }
  }

  .divider { //.headline .divider
    float: left;
    height: 30px;
    width: 5px;
    margin-right: 5px;
    border-right: 1px dotted #333;
  }

  .show {
    display: inline;
    float: left;
    vertical-align: middle;
    height: 26px;
    padding-top: 8px;
    font: $c-Headline__show__font;
  }
}

* html .c-Headline { //* html .headline
  height: 1%;
}

.c-Headline__fold { //.fold
  padding: 25px 0 25px 0;

  .fold-message { //.fold .fold-message
    padding: 10px 10px;
    border-top: 1px dashed #00f;
    border-bottom: 1px dashed #00f;
    background:_ $c-Headline__fold__message_backgroundColor;
    text-align: center;

    h3 { //.fold h3
      display: inline;
    }
  }
}

.c-Headline__subhead { //.subhead .right
  .right {
    float: right;
    width: 300px;
    text-align: right;
  }
}
