$c-Message__textColor: #666 !default;
$c-Message__number__textColor: #0090FF !default;

$c-Message__input__background: #F2F1E9 url(/images/sendMessage_textarea.gif) no-repeat !default;

.c-Message__number { //span.num
  font-size: 34px;
}

.c-Message { //#message-info
  margin: 45px 0 20px 0;
  font-size: 15px;
  font-style: italic;
  color: $c-Message__textColor;
}

.c-Message__input { //popuplogin_input
  width: 390px;
  height: 27px;
  padding: 2px 0 0 8px;
  background: $c-Message__input__background;
  border: none;
  font-size: 13px;
  font-weight: $t-Typography__fontWeight;
}

.c-Previous__message {
  color: $t-Color__primary--darkest;
  border-left: 1px solid ;
  margin-left: 10px;
  margin-top: 2%;
  padding-left: 5px;

}

//Maximum of 5 levels of indentation
.c-Previous__message .c-Previous__message .c-Previous__message .c-Previous__message .c-Previous__message{
  color: $t-Color__primary--darkest;
  border-left: none ;
  margin-left: 0px;
  margin-top: 1%;
  padding-top: 2%;
  padding-left: 0px;
  position: relative;
  &:after {
    content:"";
    background: $t-Color__primary__gray;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 10%;
    height: 1px;
    width: 70%;
  }
}
//Horizontal ruler after maximum indentation
.c-Previous__message .c-Previous__message .c-Previous__message .c-Previous__message .c-Previous__message

.c-TitleWrap {
  float: left;
  width: 100%;
}

.c-MessageSubject {
  display:inline-block;
}

.c-Reply-button {
  float: right;
  //margin-right: 25%;
}

.c-Previous__message__header {
  color: $t-Color__secondary--darkest;
  opacity: 0.8;
  font-size: smaller;
}
