$c-Popup__p__textColor: black !default;
$c-Popup__h4__textColor: $t-Color__grey--dark !default;

$c-Popup__wrapper__background: url(/images/adminoverlay-bg.png) !default;
$c-Popup__close__background: url(/images/x.png) no-repeat left top !default;
$c-Popup__close__background--hover: url(/images/x.png) no-repeat left bottom !default;

.c-Popup__wrapper { //.popup-wrap
  position: fixed;
  left: 50%;
  top: 150px;
  z-index: 99;
  width: 642px;
  padding: 11px 10px;
  margin-left: -321px;
  background: $c-Popup__wrapper__background;
  @include border-radius(5px);
}

#c-Popup__accept__TOS { //#acceptTosPopup .popup-wrap
  .c-Popup__wrapper {
    top: 30px
  }
}

.c-Popup { //.popup
  position: relative;
  padding: 30px 30px 32px 30px;
  background: white;
  @include border-radius(5px);

  p {  //.popup p
    margin-bottom: 20px;
    font-size: 15px;
    color: $c-Popup__p__textColor;
    line-height: 22px;

    a { //.popup p a
      font-weight: $b-Typography__fontWeight--bold;
    }

    span { //.popup p span
      color: #666;
    }
  }

  h4 { //.popup h4
    margin-bottom: 30px;
    font-size: 22px;
    color: $c-Popup__h4__textColor;
    font-weight: $b-Typography__fontWeight;
  }

  .btns { //.popup .btns
    margin-top: 5px;
    text-align: center;
  }

  .close { //.popup .close
    position: absolute;
    width: 15px;
    height: 16px;
    top: 10px;
    right: 10px;
    background: $c-Popup__close__background;
    cursor: pointer;
  }

  .close:hover { //.popup .close:hover
    background: $c-Popup__close__background--hover;
  }

  .terms { //.popup .terms
    height: 260px;
    overflow: auto;
  }
}