$p-About__left__li__a__fontWeight: $t-Typography__fontWeight--bold !default;
$p-About__left__li__a__padding--left: 4px !default;
$p-About__left__li__a__current__background: $t-Color__tan !default;
$p-About__left__li__a__current__border--left: none !default;
$p-About__left__li__a__current__padding--left: 4px !default;
$p-About__left__li__ul__li__a__padding--left: 28px !default;

$c-SideMenu__menuItem__paddingLeft: $t-Spacing__base * .5 !default;

//This is purposely kept with just a single wrapper class,
// as the menu is usually external content managed via content articles
.c-SideMenu {
  li {
    list-style: none;
    background: none;
    padding: 0;
    margin: 0;

    > a {
      display: block;
      padding-left: $c-SideMenu__menuItem__paddingLeft;
      border-bottom: 1px solid $t-Color__gray--medium-500;;

      line-height: 2em;
      font-size: 18px;
      font-weight: $p-About__left__li__a__fontWeight;
      color: $t-Color__primary;
    }

    > a:hover,
    &.c-SideMenu__link--active > a {
      background: $p-About__left__li__a__current__background;
      border-left: $p-About__left__li__a__current__border--left;
      color: yiq-contrasting-color($p-About__left__li__a__current__background);
      text-decoration: none;
    }

    //Nested sub-menu
    ul {
      padding: $t-Spacing__base * .5 0;
      border-bottom: 1px solid $t-Color__gray--medium-500;
      margin-left: $t-Spacing__base;

      @include media-breakpoint-up(md) {
        padding: $t-Spacing__base 0;
      }

      li > a {
        font-size: 0.9em;
        border-bottom: none;
      }
    }
  }
}
