$_c-SocialButton__height: 30px !default;
$_c-SocialButton__height--xs: 22px !default;

.c-SocialButton {
  margin: 1px;
  display: inline-block;
  cursor: pointer;

  transition: all .2s ease-in-out;
  animation-fill-mode: both;

  &:hover {
    transform: translateY(-4px);
  }

  > img {
    height: $_c-SocialButton__height;
    width: $_c-SocialButton__height;
  }

  &.c-SocialButton--xs > img {
    height: $_c-SocialButton__height--xs;
    width: $_c-SocialButton__height--xs;
  }
}
