$c-Table__borderColor: $t-Color__primary__gray !default;

$c-Table__title__backgroundColor: $t-Color__primary__gray--light !default;
$c-Table__title__fontColor: $t-Color__primary !default;
$c-Table__title__textColor--hover: $t-Color__gray--dark-700 !default;

$c-Table__row__fontWeight: $t-Typography__fontWeight--bold !default;
$c-Table__cell__fontWeight--active: $t-Typography__fontWeight--bold !default;
$c-Table__cell--title__borderRight: none !default;
$c-Table__cell--odd__background: url(/images/pattern-tbl-6x6.png) !default;
$c-Table__row--title__borderTop: none !default;
$c-Table__row--title__borderBottom: 1px solid $c-Table__borderColor !default;
$c-Table__cell--title__a__capitalization: $b-Typography__capitalization--none !default;
$c-Table__cell__count__backgroundColor: $t-Color__tan !default;
$c-Table__cell__count__hideImage: false !default;

.c-Table {
}

.c-Table__row {
  &.featured {
    background-color: $t-Color__tan;
  }

  &.selected {
    background-color: $t-Color__tan;
    color: $t-Color__secondary;
    a {
      color: $t-Color__secondary;
    }
  }
}

.c-Table__row--title { //thead.blueheaderbar
  background: $c-Table__title__backgroundColor;
  padding: 10px 0;
  border-top: $c-Table__row--title__borderTop;
  border-bottom: $c-Table__row--title__borderBottom;
  color: $c-Table__title__fontColor;

  height: 30px;
  line-height: 30px;
  white-space: nowrap;

  a {
    font-weight: $c-Table__row__fontWeight;
    color: $c-Table__title__fontColor;

    &:hover {
      color: $c-Table__title__textColor--hover;
    }
  }
}

%c-Table__cell {
  padding: 10px;
}

%c-Table__cell__count {
  img {
    @if $c-Table__cell__count__hideImage {
      display: none;
    }
    margin-right: 10px;
  }

  a {
    font-weight: $c-Table__row__fontWeight;
  }
}

.c-Table__cell {
  @extend %c-Table__cell;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid $c-Table__borderColor;

  &.odd {
    background: $c-Table__cell--odd__background;
  }

  &.user {
    min-width: 200px;
  }

  &.points {
    text-align: right;
  }

  &.activity {
    text-align: right;
  }

  &.category {
    text-align: left;
  }

  &.member-since {
    text-align: center;
  }

  &.propname-authors {
    img {
      float: left;
      margin-right: 10px;
    }

    h4 {
      a {
        font-weight: $c-Table__row__fontWeight;
      }
    }
  }

  &.votes {
    @extend %c-Table__cell__count;
  }

  &.supporters {
    @extend %c-Table__cell__count;
  }

  &.comments {
    @extend %c-Table__cell__count;
  }

  &.modified {
  }

  &.contributors {
  }

  &.advancing-status {
    img {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &.highlight a {
    font-weight: $c-Table__cell__fontWeight--active;
  }

  &.no-border {
    border-bottom: none;
    padding-bottom: 0;
  }

  .highlight {
    background-color: $c-Table__cell__count__backgroundColor;
    border-radius: 3px;
    padding: 6px 4px;
    white-space: nowrap;
  }
}

.c-Table__cell--title {
  @extend %c-Table__cell;

  border-right: $c-Table__cell--title__borderRight;
  font-weight: $c-Table__row__fontWeight;
  text-transform: $c-Table__cell--title__a__capitalization;

  &:last-of-type {
    border-right: none;
  }

  &.user {
    min-width: 200px;
  }

  &.points {
    text-align: center;
  }

  &.activity {
    text-align: center;
  }

  &.category {
    text-align: center;
    min-width: 80px;
  }

  &.member-since {
    text-align: center;
  }

  &.propname-authors {

  }

  &.votes {
    width: 70px;
  }

  &.supporters {
    width: 70px;
  }

  &.comments {
    width: 70px;
  }

  &.modified {
    width: 70px;
  }

  &.contributors {
    width: 95px;
  }

  &.advancing-status {
    width: 195px;
  }

  a {
    text-transform: $c-Table__cell--title__a__capitalization;
  }

  .tooltipAbove {
    text-align: left;

    img {
      top: 2px;
      position: relative;
    }
  }
}
