.c-Upload {
  text-align: center;
  float: left;

  img {
    display: block;
    height: 150px;
  }

  .c-Upload__button {
    display: block;
    margin-top: 5px;
  }

  &.c-Upload--compact {
    img {
      display: inline-block;
      vertical-align: middle;
      height: 50px;
      border: 1px dashed black;
      margin-right: 20px;
    }

    .c-Upload__button {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
