table.activityFeed {
    width:100%
}


table.activityFeed td {
    vertical-align:top;
    padding:5px;

}

table.activityFeed th {
    background: #E3DFD7;
    padding-top:15px;

}

table.activityFeed td.screenName {
    width:90px;
}

table.activityFeed td.date {
    width:90px;
    text-align:center;
}

table.activityFeed td.activity {
    text-align:left;
}

h2.feedTitle {
    font-family:Helvetica, sans-serif;
    font-size:1.2em;
    color:#009ebb;
    font-weight:bold;
    margin-bottom:20px;

}



.community .colab .iceCmdSrtHdr .column-hoverDesc {
	width: 10px;
    height: 10px;
    display: block;
    margin-top: auto;
    margin-left: 5px;
	
    background: url(/climatecolab-theme/images/sort-arrow-down_on.gif) no-repeat center;
}

.community .colab .iceCmdSrtHdr .column-hoverAsc {
    width: 10px;
    height: 10px;
    display: block;
    margin-top: auto;
    margin-left: 5px;
    
    background: url(/climatecolab-theme/images/sort-arrow-up_on.gif) no-repeat center;
}

.sendMessage td {
	vertical-align: middle;
	padding: 0;
}

.sendMessage .as-selections,
.sendMessage .subject {
	width: 640px;
	background-image: none;
}

.sendMessage .subject {
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
    border-style: solid;
    border-width: 1px;
}

.sendMessage .profile_about {
	width: 640px;
	padding: 5px;
}

.sendMessage .subject {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 10px;
}

.sendMessage .error {
	padding: 2px;
	color: red;
	clear: both;
	display: block;
	float:none;
}