.filepcBtn {
    font-size: 50px;
    background-color: red;
}

.filepcTxt {
    position: relative;
    left: -100px;
    opacity: 0.0;
    -moz-opacity: 0.0;
    filter: alpha(opacity=00);
    width: 233px;
    height: 34px;
    z-index: 1000;
    cursor: pointer;
}

.userProfileAbout textarea {
    display: none;
}

.comm_rightcol .activityBody {
    color: #666;
    padding: 0 10px;
    margin-bottom: 15px;
    font: 12px/21px Verdana, Geneva, sans-serif;
    display: block;
}

.fileUpload input {
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    cursor: pointer;
    width: 121px;
    height: 30px;
    z-index: 100000;
}

.fileUpload {
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}

a.attendingConference {
    background: url(/climatecolab-theme/images/attending-conference.png) no-repeat;
    float:left;
    line-height: 0;
    font-size: 0;
    color: transparent;
    position: absolute;
    top: -9px;
    right: -10px;
}

#main.userProfile{
    background-color: #f2f1e9;
    padding: 20px;
    border: 1px solid #bdbcb7;
    position: relative;
}
/* honeypot */
#sendMessageOverlay p.p {
    display: none;
}
