.rss {position:absolute; right:47px;}
.c-Button__primary, .c-Button__secondary {display:inline;}
.c-Comment__button img, .prop-butt img {position:relative; top:-10px;}
.blueheaderbar .proposalname a {vertical-align:middle;}
#footright #txt {width:410px;}
#footright {float:right; width:520px;}