/**************************************************************************************
FILENAME:               css/style.css
DESCRIPTION:        CSS for climatecollaboratorium.org
AUTHOR:                         Chip Sheppard
AUTHOR URI:             http://sheppco.com/
VERSION:             2.41
CREATION DATE: 05/04/2012
LAST MODIFIED:  11/25/2015
***************************************************************************************/

@import "style/custom_styles";