/**************************************************************************************
FILENAME:               css/style.css
DESCRIPTION:        CSS for climatecollaboratorium.org
AUTHOR:                         Chip Sheppard
AUTHOR URI:             http://sheppco.com/
VERSION:             2.56
CREATION DATE: 05/04/2012
LAST MODIFIED:  12/30/2015
***************************************************************************************/

@import "style/custom_styles";