/**************************************************************************************
FILENAME:               css/style.css
DESCRIPTION:        CSS for climatecollaboratorium.org
AUTHOR:                         Chip Sheppard
AUTHOR URI:             http://sheppco.com/
VERSION:             2.1
CREATION DATE: 05/04/2012
LAST MODIFIED:  11/10/2015
***************************************************************************************/
@import "compass";

@import 'style/global/reset';

/* currently NOT using any of these but... you may need them -------------------- */

.alignright {
  float: right;
  margin: 0 0 0 30px;
}

.aligncenter {
  margin: 0 auto;
}

.alignleft {
  float: left;
  margin: 0 30px 0 0;
}

.centered {
  text-align: center;
}

.disabled {
  opacity: 0.3;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* ------------------------------------------------------------------------------------------------------- */

@import 'style/global/fonts';

/* ------------------------------------------------------------------------------------------------------- */

@import 'style/global/layout';

/* ------------------------------------------------------------------------------------------------------- */

@import 'style/components/header';

/* ------------------------------------------------------------------------------------------------------- */

@import 'style/components/headline';

/* ------------------------------------------------------------------------------------------------------- */

@import 'style/components/blueheaderbar';

/* ------------------------------------------------------------------------------------------------- */

@import 'style/pages/homepage';

/* ------------------------------------------------------------------------------------------------- */

@import 'style/pages/about';

/* ------------------------------------------------------------------------------------------------- */

@import 'style/pages/contests';

/* --------------------------------------------------------------------------------------------------------------- */

@import 'style/pages/proposals';

/* ------------------------------------------------------------------------------------------------------- */

@import 'style/components/buttons';

@import 'style/components/tooltips';

/* ------------------------------------------------------------------------------------------------------- */

@import 'style/components/popups';

@import 'style/components/footer';

/* --------------------------------------------------------------------------------------------------------------- */
