@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 300;
  src: url('NeueHaasGrotesk/NHaasGroteskDSStd-45Lt.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 300;
  font-style: italic;
  src: url('NeueHaasGrotesk/NHaasGroteskDSStd-46LtIt.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 400;
  src: url('NeueHaasGrotesk/NHaasGroteskDSStd-55Rg.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 400;
  font-style: italic;
  src: url('NeueHaasGrotesk/NHaasGroteskDSStd-56It.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 500;
  src: url('NeueHaasGrotesk/NHaasGroteskDSStd-65Md.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 500;
  font-style: italic;
  src: url('NeueHaasGrotesk/NHaasGroteskDSStd-66MdIt.otf') format('opentype');
}