div.req {
  background: url(../images/reg-star.png) no-repeat;
  width: 20px;
  height: 20px;
  float: left;
}

table.reg th {
  padding-top: 25px;
  width: 180px;
}

table.reg td {
  padding-top: 15px;
  padding-left: 12px;
}

th.second {
  padding-left: 80px;
  width: 60px;
}

.shortBioContent {
  width: 100%;
}

.cke_editor_shortBio {
  width: 100%;
}

.is-required {
  margin: 0 !important;
}

#fileUploadForm {
  height: 0;
}