.searchTable {
  width: 100%;
}

.searchTable th {
  background: #dadada;
  font-weight: bold;
  padding: 5px;
  border: 2px solid white;
}

.searchTable td {
  vertical-align: top;
  padding: 5px;
  border: 2px solid white;
}

.searchTable .odd td {
  background: #fafafa;
}

.searchTable .even td {
  background: #f0f0f0;
}

.searchTable td.type {
  vertical-align: middle;
  text-align: center;
  width: 50px;
}