.alert {
  padding: 4px 14px 4px 14px;
  margin: 10px auto;
  background-color: $t-Color__grey--lightest;
  border: 1px solid $t-Color__grey--light;
  @include border-radius(4px);
  font-size: 12px;
  display: inline-block;
}

.alert-danger, .alert-error {
  color: $t-Color__alert;
  background-color: $t-Color__alert--light;
  border-color: $t-Color__grey--lightest;
}

%message {
  border: 1px dashed $t-Color__grey--dark;
  border-left: 0;
  border-right: 0;
  padding: 10px 10px;
  margin: 0 0 15px 0;

  > p {
    margin: 0;
  }
}

.error-message {
  @extend %message;
  background: $t-Color__alert--light;
}

.info-message {
  @extend %message;
  background: $t-Color__info__background;
}

.success-message {
  @extend %message;
  background: $t-Color__success__background;
}