/* BUTTONS ----------------------------------------------------------------------------- */

%base-button {
  padding: 8px;
  margin-left: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  @include border-radius(5px);
  @include transition(all 1s ease-in-out);

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

@mixin theme-button($button-color, $border-color: null, $image-url: null) {
  @if $border-color == null {
    $border-color: darken($button-color, 15%);
  }
  @extend %base-button;

  color: contrasting-color($button-color, white, $darkest-grey, $text-threshold);
  @include background-gradient($button-color, $image-url, 40px);
  text-shadow: 1px 1px 0 darken($button-color, 25%);
  border: 1px solid $border-color;

  &:hover {
    color: contrasting-color(darken($button-color, 10%), white, $darkest-grey, $text-threshold);
    @include background-gradient(darken($button-color, 10%), $image-url, 40px);
  }
}

//blue-button.a is for legacy support (e.g. ice faclet portlets)
a.primary-button, .blue-button a, input.primary-button {
  @include theme-button($primary-color, $primary-dark);
}

//gray-button.a is for legacy support (e.g. ice faclet portlets)
a.grey-button, .gray-button a, input.grey-button {
  @include theme-button($medium-grey, $dark-grey);
}