$c-ContestCard__meta__flag__capitalization: $b-Typography__capitalization--capitalize !default;
$c-ContestCard__meta__flag__padding: 0 15px !default;
$c-ContestCard__meta__flag__textColor: white !default;
$c-ContestCard__meta__flag__height: 30px !default;
$c-ContestCard__meta__flag__fontSize: 15px !default;
$c-ContestCard__meta__flag__marginTop: 0 !default;
$c-ContestCard__meta__flag__isGradient: true !default;
$c-ContestCard__meta__flag__background--color: $t-Color__secondary !default;
$c-ContestCard__meta__flag__background--grey: $t-Color__grey--light !default;
$c-ContestCard__meta__flag__fontWeight: $b-Typography__fontWeight !default;

$c-ContestCard__text__height: 104px !default;
$c-ContestCard__text__title__textColor: $t-Color__primary !default;
$c-ContestCard__text__title__textColor--hover: $b-Typography__textColor__a--isHover !default;

$c-ContestCard__background: white !default;
$c-ContestCard__border: 1px solid $t-Color__grey--light !default;
$c-ContestCard__border__radius: 8px !default;
$c-ContestCard__border__bottom: null !default;


.c-ContestCard { //.contestbox {
  width: 200px;

  border: $c-ContestCard__border;
  @if $c-ContestCard__border__bottom != null {
    border-bottom: $c-ContestCard__border__bottom;
  }
  @include border-radius($c-ContestCard__border__radius);

  background: $c-ContestCard__background;

  &.backgroundLight {
    background: white;
  }

  &:hover {
    box-shadow: 0 0 3px 3px $t-Color__grey--light;
  }

  margin-bottom: 24px;
  float: left;
  position: relative;
  height: 400px;
  margin-right: 35px;
}

.c-ContestCard__image { //.contestbox .img-wrap {
  float: left;
  width: 200px;

  img {
    height: 200px;
    width: 200px;
    border-top: $c-ContestCard__border;
    border-bottom: $c-ContestCard__border;
  }
}

.c-ContestCard__text { // .contestbox .text-wrap {
  float: left;
  width: 184px;
  font-size: 12px;
  padding: 8px;
  line-height: 15px;
  overflow: hidden;
  color: $t-Color__grey--dark;
  height: $c-ContestCard__text__height;
}

.c-ContestCard__text__title { // .contestbox h3 {
  margin-bottom: 8px;
  font-size: 15px;
  color: $c-ContestCard__text__title__textColor;

  &:hover {
    color: $c-ContestCard__text__title__textColor--hover;
    text-decoration: none;
  }
}

.c-ContestCard__meta__count { //.contestbox .count
  color: $t-Color__grey--medium;
  float: left;
  height: 24px;
  width: 184px;
  padding: 8px;
  font-size: 14px;

  strong {
    color: $c-ContestCard__text__title__textColor;
  }
}

.c-ContestCard__meta__flags {
  height: 20px;
  display: inline-block;
  margin: 8px;
  float: left;

  div {
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    line-height: 20px;
    font-size: 12px;
    color: $c-ContestCard__meta__flag__textColor;
    text-align: center;
    text-transform: $c-ContestCard__meta__flag__capitalization;
  }
}


.c-ContestCard__meta__flag--grey { //.contest-flag-grey {

  background: $c-ContestCard__meta__flag__background--grey;
}

.c-ContestCard__meta__flag--color { //.contest-flag-grey {

  background: $c-ContestCard__meta__flag__background--color;
}