.c-ListView {
  background-color: $t-Color__grey--light;
  overflow:hidden;
}

.c-ListItem {
  border-radius: 3px;
  color: $t-Color__grey--light;
  height: 60px;
  float: left;
  width: 800px;
  margin-left: 110px;
  padding-bottom: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid $t-Color__grey--light;
}

.c-ListItem--background-container {
  border-radius: 3px;
  color: $t-Color__grey--light;
  height: 60px;
  float: left;
  width: 800px;
  padding-bottom: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid $t-Color__grey--light;
}

.c-ListItem__title {
  width: 474px;
  float: left;
  padding: 8px;
  font-size: 14px;
  a{
    font-size: 17px;
  }
}

.c-ListItem__meta {
  width: 214px;
  float: right;
  padding: 8px;
}

.c-ListItem__proposals {
  float:right;
  padding: 8px;
  padding-right: 0px;
  strong {
    color:$t-Color__primary;
  }
}

.c-ListItem__comments {
  float:right;
  padding: 8px;
  strong {
    color:$t-Color__primary;
  }
}

.c-ListItem__phase {
  margin-bottom: 20px;
}

.c-ListItem__meta__flag--grey {
  span {
    padding: 2px;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: $t-Color__grey--medium;
    background: $t-Color__grey--lightest;
  }
  text-align: right;
}

.c-ListItem__contests {
  border-right: 1px dashed $t-Color__grey--light;
  height: 59px;
  width: 55px;
  padding: 8px;
  float: left;
  color: $t-Color__grey--medium;
}

.c-ListItem__circle {
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  border-radius: 50%;
  height: 40px;
  background-color: $t-Color__primary;
  width: 40px;
  float: left;
  margin-left: 8px;
}