$c-Table__shadebar__background: url(../images/tableshade.png) repeat-x !default;

$c-Table__borderColor: $t-Color__primary__grey !default;

$c-Table__title__backgroundColor: $t-Color__primary__grey--light !default;
$c-Table__title__fontColor: $t-Color__grey--darkest !default;

.c-Table {
}

.c-Table__row {
   &.featured {
     background-color: $t-Color__grey--lightest;
   }
}

.c-Table__row--title { //thead.blueheaderbar
  background: $c-Table__title__backgroundColor;
  border-bottom: 1px solid $c-Table__borderColor;
  color: $c-Table__title__fontColor;
  position: -webkit-sticky;
  position: sticky;

  height: 30px;
  line-height: 30px;
  font-weight: $b-Typography__fontWeight--bold;

  a {
    color: $c-Table__title__fontColor;
  }
}

%c-Table__cell {
  padding: 5px;
}

.c-Table__cell {
  @extend %c-Table__cell;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid $c-Table__borderColor;

  &.odd {
    background-image: url(../images/pattern-tbl-6x6.png);
  }
}

.c-Table__cell--title {
  @extend %c-Table__cell;
}

.c-Table__sortArrow {
  display: inline;
}

//TODO: port
.shadebar {
  content: '';
  background: $c-Table__shadebar__background;
  height: 4px;
  position: relative;
  z-index: 9;
}