$c-Tooltip__borderRadius: 5px !default;

$c-Tooltip__textColor: white !default;
$c-Tooltip__actions__a__hover__textColor: $t-Color__primary--light !default;

$c-Tooltip__background: transparent url(../images/tooltip-bg.png) !default;
$c-Tooltip__arrow__background: url(../images/tooltip-arrow.png) no-repeat bottom center !default;
$c-Tooltip__actions__background: url(../images/actions_tooltip-top.png) no-repeat right top !default;
$c-Tooltip__actions__arrow__background: url(../images/actions_tooltip-arrow.png) no-repeat 0 8px !default;
$c-Tooltip__actions__text__background: url(../images/actions_tooltip-bg.png) !default;
$c-Tooltip__actions__bottom__background: url(../images/actions_tooltip-bottom.png) no-repeat right !default;

.c-Tooltip { //tooltip
  display: none;
  z-index: 10000;
  position: absolute;
  padding: 8px 15px;
  min-width: 150px;
  background: $c-Tooltip__background;
  @include box-shadow(0 0 6px #666);
  @include border-radius($c-Tooltip__borderRadius);
  color: $c-Tooltip__textColor;
  font: 13px Arial, Helvetica, sans-serif;
  text-transform: none;
}

.c-Tooltip__arrow { //tt-arrow
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 13px;
  background: $c-Tooltip__arrow__background;
}

.c-Tooltip__actions { //act_tooltip
  visibility: hidden;
  z-index: 5;
  position: absolute;
  left: 228px;
  top: 0;
  padding-top: 14px;
  width: 266px;
  background: $c-Tooltip__actions__background;
}

.c-Tooltip__actions a:hover { //act_tooltip a:hover
  color: $c-Tooltip__actions__a__hover__textColor;
}

.c-Tooltip__actions__arrow { //act_tt-wrap
  background: $c-Tooltip__actions__arrow__background;
}

.c-Tooltip__actions__text { //act_tt-txt
  padding: 0 16px;
  margin-left: 8px;
  min-height: 30px;
  width: 258px;
  background: $c-Tooltip__actions__background;
  color: $c-Tooltip__textColor;
  font: 11px/17px Verdana, sans-serif;
}

.c-Tooltip__actions__bottom { //act_tt-bot
  height: 20px;
  background: $c-Tooltip__actions__bottom__background;
}
