/*  FOOTER  --------------------------------------------------------------------------- */

#footer {
  height: 190px;
  background: url(../images/bg-noise.png) $t-Color__grey--lightest;
}

#footmenu {
  height: 49px;
  @include background(url(../images/bg-noise.png), simple-gradient($t-Color__grey--dark));
}

#footmenu li {
  float: left;
  list-style: none;
}

#footmenu li a {
  display: inline-block;
  padding: 15px 15px 0 0;
  color: white;
}

#footmenu li a:hover, #footmenu li.c a {
  color: $t-Color__accent;
}

#footleft {
  float: left;
  width: 213px;
  padding-top: 21px;
}

#footright {
  float: right;
  width: 490px;
  padding-top: 34px;
}

#footright #txt {
  float: left;
  width: 380px;
  margin-right: 16px;
  font-size: 13px;
  color: $t-Color__grey--dark;
  line-height: 20px;
}

#footright #txt a {
  padding-bottom: 2px;
  border-bottom: 1px solid $t-Color__grey--light;
  font-size: 12px;
  font-weight: 600;
  color: black;
}

#footright #txt a:hover {
  color: $t-Color__accent;
}

#footright #cc {
  padding-top: 6px;
}

ol, ul {
  margin-left: 0;
}

.portlet-journal-content ul, .portlet-journal-content ol, .portlet-wiki ul, .portlet-wiki ol {
  margin-bottom: 15px;
}

ol li {
  margin-left: 20px;
}

ul li {
  margin-left: 11px;
}

#footmenu li, #menu li, .prop-tabs li, .userbox li {
  list-style: none;
  background: none;
  padding: 0;
  margin-left: 0;
}

.whatWhoWhere {
  display: inline;
}

.delta-selector {
  display: none;
}

.popup-tabcontainer {
  border: 1px solid $t-Color__grey--medium;
}

#proposalPickerTable td {
  padding: 10px;
}
