//TODO: remove after liferay transition

.portlet-blogs .edit-actions {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

.portlet-blogs .edit-actions table {
  width: auto;
  float: right;
}

.portlet-blogs .entry-author {
  background: none;
  padding-left: 0;
}

.journal-article-container ul li {
  background: none;
}
