//TODO: remove after liferay transition

.wiki-body {
  font-size: 16px;
  line-height: 21px;
  color: black;
}

.wiki-body p {
  margin: 0 0 15px;
}

.wiki-body h1 {
  font-size: 36px;
  color: black;
  margin: 8px 0 31px 0;
}

.wiki-body h2 {
  font-size: 24px;
  color: black;
  margin: 5px 0 17px 0;
}

.wiki-body h3 {
  font-size: 18px;
  color: black;
}

.wiki-body h2.ex {
  font-size: 24px;
  font-weight: $b-Typography__fontWeight;
  font-style: italic;
  margin-top: 18px;
}

.portlet-wiki div.child-pages {
  border-top: 1px dashed #aaa;
  margin-top: 10px;
}

.portlet-wiki .child-pages h2 {
  padding: 10px;
  font-size: 15px;
}

.wiki-borderless table, .wiki-borderless table td, .wiki-borderless table tr {
  border: 0;
}


//TODO: are these wiki things or contest things?
/* wiki-additions, where should i go */
.contest-tax-header {
  background: url(../images/icon-prize.png) no-repeat left;
  margin-left: 38px;
  padding-left: 27px;
  padding-top: 6px;
  font-size: 21px;
  font-weight: $b-Typography__fontWeight--bold;
  padding-bottom: 5px;
  color: #66B035;
}

.contest-tax-contests {
  margin-left: 21px;
  padding-left: 12px;
}
