@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url('../fonts/Proxima Nova Light.otf') format('opentype');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/Proxima Nova Light It.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url('../fonts/Proxima Nova Reg.otf') format('opentype');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Proxima Nova Reg It.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  src: url('../fonts/Proxima Nova Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/Proxima Nova Bold It.otf') format('opentype');
}