<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
        <servlet-name>ViewRendererServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
    </servlet>	
    <servlet>
		<servlet-name>CaptchaServlet</servlet-name>
		<servlet-class>org.xcolab.utils.CaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>/captcha</url-pattern>
	</servlet-mapping>
	
    <servlet-mapping>
        <servlet-name>ViewRendererServlet</servlet-name>
        <url-pattern>/WEB-INF/servlet/view</url-pattern>
    </servlet-mapping>
    
    
	<servlet>
        <servlet-name>fileUploadServlet</servlet-name>
        <servlet-class>org.xcolab.portlets.loginregister.FileUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fileUploadServlet</servlet-name>
        <url-pattern>/fileUploadServlet</url-pattern>
    </servlet-mapping>


</web-app>