input:focus textarea:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
}

input:focus, select:focus, textarea:focus {
  border-color: rgba(0,172,255,0.8);
}
input, textarea {
  border-radius: 0;
  box-shadow: none;
}
input, select, textarea {
  border: 1px solid #DDD;
  color: #8d8d8d;
  font-weight: 200;
  margin-bottom: 7px;
}