$b-Spacing__paddingBottom: 5px !default;
$b-Spacing__spacing: 10px !default;
$b-Spacing__spacing__horizontal: 0px !default;
$b-Spacing__spacing__vertical: $b-Spacing__spacing !default;

$b-Spacing__spacing--large: 0px !default;
$b-Spacing__spacing__horizontal--large: $b-Spacing__spacing--large !default;
$b-Spacing__spacing__vertical--large: $b-Spacing__spacing--large !default;

$b-Spacing__inline--large__capitalization: $b-Typography__capitalization--none !default;

$b-Spacing__separatorColor: $t-Color__grey--light !default;

%b-Spacing {
  &.separatorBelow {
    padding-bottom: $b-Spacing__paddingBottom;
    border-bottom: 1px solid $b-Spacing__separatorColor;
  }

  &.separatorRight {
    border-right: 1px solid $b-Spacing__separatorColor;
  }

  &.separatorLeft {
    border-right: 1px solid $b-Spacing__separatorColor;
  }
}


.b-Spacing {
  @extend %b-Spacing;
  margin: $b-Spacing__spacing__vertical $b-Spacing__spacing__horizontal;
}

.b-Spacing__inline {
  @extend %b-Spacing;
  display: inline-block;
  margin-left: $b-Spacing__spacing__horizontal;
  margin-right: $b-Spacing__spacing__horizontal;
}


.b-Spacing--large {
  @extend %b-Spacing;
  margin: $b-Spacing__spacing__horizontal--large $b-Spacing__spacing__vertical--large;
}

.b-Spacing__inline--large {
  @extend %b-Spacing;
  display: inline-block;
  margin-left: $b-Spacing__spacing__horizontal--large;
  margin-right: $b-Spacing__spacing__horizontal--large;
  float: right;
  text-transform: $b-Spacing__inline--large__capitalization;
}


.b-Spacing__inner {
  @extend %b-Spacing;
  padding: $b-Spacing__spacing__horizontal $b-Spacing__spacing__vertical;
}

.b-Spacing__marginLeft {
  margin-left: 5px;
}
