body {
  background: white;
  font-size: 15px;
}

#content {
  padding: 25px 0;
  position: relative;
}

#c-Footer__menu__right {
  float: right;
  min-width: 500px;
  height: 44px;
  position: relative;
}

#c-Footer__menu__right p {
  margin: 0 0 0 0;
}

ol, ul {
  margin-left: 0;
}

.cke_editable ol, .cke_editable ul {
  margin-left: 15px;
}

ol li {
  margin-left: 20px;
}

ul li {
  margin-left: 11px;
}

.b-layout__left {
  float: left;
}

.b-layout__right {
  float: right;
}

.b-layout__center {
  text-align: center;
}

img {
  max-width: 100%;
}

a.js-PostLink {
  cursor: pointer;
}
