// Override variables with theme specific variables
@import "../variables/t-chileColab";

// Import base theme
@import "../main";



/* Contest page */


// hide author names
.c-TableGrid__row .propname-authors a:nth-child(2),
.c-TableGrid__header .c-TableGrid__cell span:nth-child(2) a {
  display: none;
}

// hide contributors
.c-TableGrid__row--continued div:nth-child(2),
.c-TableGrid__row--continued div:nth-child(5),
.c-TableGrid__cell.supporters,
.c-TableGrid__cell.votes,
.c-TableGrid__cell.contributors {
  display: none;
}

// hide 'debate' button
.p-ContestProposals__header__buttons a.btn-outline-primary {
  display: none;
}

.c-TitleBar__element.future span {
  opacity: 0;
}

// css for extra information section
div#auxilaryLawDocuments {
  background: #f6f6f6;
  margin-top: 24px;
  font-style: italic;
}

div#auxilaryLawDocuments p.title {
  font-weight: bold;
  font-size: 18px;
}


/* Proposal page */


// hide sidebar
.l-Content__sidebar.l-Content__sidebar--large.l-Content__sidebar--right {
  display: none;
}

// hide tabs
.proposal-head ul.nav.nav-tabs.flex-column {
  display: none;
}

// hide pitch, description, etc//
.l-Content__main.c-UserContent p.lead,
.l-Content__main.c-UserContent div:first-child,
.l-Content__main.c-UserContent h2,
.l-Content__main.c-UserContent h3,
.l-Content__main.c-UserContent hr {
  display: none;
}

// hide proposal image and sub-header
.proposal-head img,
.proposal-head h1 small {
  display: none !important;
}

// hide: 'Contest' link in breadcrumbs
li.breadcrumb-item:first-child {
  display: none;
}

li.breadcrumb-item:nth-child(2)::before {
  content: '';
  padding: 0;
}

// proposal head & content background, margin and padding
.proposal-head {
  margin-bottom: 0;
  background: #f6f6f6;
  padding: 1rem 1rem 0 1rem;
}

.proposal-head .c-Headline {
  margin-bottom: 0;
}

.l-Content__main.c-UserContent {
  margin: 0;
  font-size: 1.25rem;
  background: #f6f6f6;
  padding: 0 1rem;
}

.c-TitleBar__element.future span {
  opacity: 0;
}



/* Registration page */

#registrationForm label[for="country"] + div,
#registrationForm label[for="country"] {
  display: none;
}

#registrationForm label[for="language"] + div,
#registrationForm label[for="language"] {
  display: none;
}

#registrationForm .col-auto.mx-auto,
#registrationForm .col-auto.mx-auto div,
#registrationForm .col-auto.mx-auto + div {
  display: none;
}



/* Footer */

#c-Footer li.nav-item:nth-child(1),
#c-Footer li.nav-item:nth-child(2) {
  display: none;
}



/* Header */
.cb-navbar-background ul.navbar-nav li.nav-item.cb-nav-item-gray.cb-nav-item-sm.cb-nav-item-separator-left.cb-nav-item-icon {
  display: none;
}
