<?xml version="1.0"?>
<!DOCTYPE routes PUBLIC "-//Liferay//DTD Friendly URL Routes 6.0.0//EN" "http://www.liferay.com/dtd/liferay-friendly-url-routes_6_0_0.dtd">
<routes>
<!-- 
  <route>
    <pattern>/{jspPageName}/</pattern>
    <generated-parameter name="jspPage">{jspPageName}</generated-parameter>
  </route>
  <route>
    <pattern>/{jspPageName}</pattern>
    <generated-parameter name="jspPage">{jspPageName}</generated-parameter>
  </route>
   -->
   
   <route>
        <pattern>/{entryId:\d+}</pattern>
        <implicit-parameter name="p_p_lifecycle">0</implicit-parameter>
        <implicit-parameter name="p_p_state">normal</implicit-parameter>
    </route>
   
   <route>
           <pattern>/{urlTitle}</pattern>
        <implicit-parameter name="p_p_lifecycle">0</implicit-parameter>
   
   </route>
   <route>
   	<pattern></pattern>
   </route>
  <route>
    <pattern>/{jspPageName}</pattern>
    <generated-parameter name="jspPage">/{jspPageName}.jsp</generated-parameter>
  </route>
  <route>
    <pattern>/view/{fruwam:.*}</pattern>
	<implicit-parameter name="fruwam">3</implicit-parameter>
  </route>
  <route>
    <pattern>/view</pattern>
  </route>
</routes>