$p-cms__uploadWidget__fontWeight: $b-Typography__fontWeight--bold !default;

.cmsDetailsBox {
  border: 1px solid $t-Color__primary;
  padding: 15px;
  margin-bottom: 10px;
}

.uploadWidget {
  color: $t-Color__primary;
  font-weight: $p-cms__uploadWidget__fontWeight;
}

.collectionCard-outline-left{
  width:50%;
  float: left;
  padding-right: 60px;

  .collectionCard-category {
    padding: 10px;
  }

  .expand{
    width: 100%;
  }

  .collectionCardListItem {
    list-style: none;

  }

  .level-1 {
    ul {
      display: none;
    }
  }

  .level-1 li.anything a.open {
    background-color: $t-Color__primary--darkest;
  }

  .level-1 li a {
    background: url(/images/contest-icon-plus.png) no-repeat 18px center;
  }

  .level-1 li.active > a {
    color: white;
    background-color: $t-Color__primary--darkest
  }

  .level-1 li a.open {
    background-image: url(/images/contest-icon-minus-orange.png);
  }

  .level-1 li.active a.open {
    background-image: url(/images/contest-icon-minus.png);
  }

  .level-1 li.active a.open.active .count {
    color: white;
  }

  .level-1 li.no-child a, .level1 li.no-child a.open {
    background-image: none;
  }

  .level-1 li.anything a {
    background: white url(/images/pattern-6x6-lite.png) repeat top left;
  }


  ul {
    margin-bottom: 0;
  }

  ul li {
    background: none;
    padding: 0;
    font-size: 12px;
  }

  ul.level-1 li {
    padding-left: 0;
  }

  ul.level-2 li {
    padding-left: 32px;
    font-size: 12px;
  }

  ul.level-3 li {
    padding-left: 32px;
  }

  ul.level-4 li {
    padding-left: 32px;
  }

  ul.level-1 li a {
    padding: 10px 20px 10px 46px;
    font-size: 14px;
  }

  ul.level-2 li a {
    padding: 10px 20px 10px 40px;
    font-size: 12px;
  }

  ul.level-3 li a {
    padding: 10px 20px 10px 35px;
  }

   li a {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    color: black;
  }

}

.explanation {

  .addpropbox{
    padding: 4px 15px 4px 12px;
    height: 38px;
    width: 600px;
    display: table-cell;
    vertical-align: middle;
  }
}


.collectionCard-outline-right {
  float:left;
  width:40%;

  .buttonContainer{
    width: 100%;
    height: 50px;
  }

  .collectionCard-edit-form{

    padding: 10px;

    .addpropbox {
      background: #efefe7;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      border-radius: 12px;
      padding: 13px 15px 12px 12px;
      margin-bottom: 13px;
      line-height: 19px;
      display: block;

      .inputTitleLeft {
        float: left;
        line-height: 30px;
        padding-right: 10px;
      }

      .wideLargeInput {
        height: 30px;
        width: 250px;
        font-size: 16px;
        padding-left: 5px;
        text-align: left;
      }

      button {
        margin-left: 5px;
        height: 30px;
      }
    }
  }
}

.ontologyPicker{

  margin:auto;
  padding: 50px;
  display: block;
  position: absolute;
  top: 30px;
  width: 50%;
  z-index: 100;
  background-color: $t-Color__grey--lightest;
  border-radius: 10px;
  box-shadow: 0 1px 40px $t-Color__grey--lightest;

  .whatArea {
    width: 90%;
  }

  .whereArea {
    width: 90%;
  }

  .ontologyTermListItem {
    list-style: none;
  }

  .level-1 {
    ul {
      display: none;
    }
  }

  .level-1 li.anything a.open {
    background-color: $t-Color__primary--darkest;
  }

  .level-1 li a {
    background: url(/images/contest-icon-plus.png) no-repeat 18px center;
  }

  .level-1 li.active > a {
    color: white;
    background-color: $t-Color__primary--darkest
  }

  .level-1 li a.open {
    background-image: url(/images/contest-icon-minus-orange.png);
  }

  .level-1 li.active a.open {
    background-image: url(/images/contest-icon-minus.png);
  }

  .level-1 li.active a.open.active .count {
    color: white;
  }

  .level-1 li.no-child a, .level1 li.no-child a.open {
    background-image: none;
  }

  .level-1 li.anything a {
    background: white url(/images/pattern-6x6-lite.png) repeat top left;
  }


  ul {
    margin-bottom: 0;
  }

  ul li {
    background: none;
    padding: 0;
    font-size: 12px;
  }

  ul.level-1 li {
    padding-left: 0;
  }

  ul.level-2 li {
    padding-left: 32px;
    font-size: 12px;
  }

  ul.level-3 li {
    padding-left: 32px;
  }

  ul.level-4 li {
    padding-left: 32px;
  }

  ul.level-1 li a {
    padding: 10px 20px 10px 46px;
    font-size: 14px;
  }

  ul.level-2 li a {
    padding: 10px 20px 10px 40px;
    font-size: 12px;
  }

  ul.level-3 li a {
    padding: 10px 20px 10px 35px;
  }

  li a {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    color: black;
  }

}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearLeft {
  clear: left;
}

.inputTitleLeft {
  float: left;
  line-height: 30px;
  padding-right: 10px;
}

.fileUploadFrame input {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  z-index: 100000;
}

.uploadWidget {
  width: 219px;
  margin-top: 16px;
  cursor: pointer;
  float: left;
}

//TODO: this also exists in the theme
.cmsDetailsBox {
  border: 1px solid #30a3fb;
  padding: 15px;
  margin-bottom: 10px;
}

.cmsDetailsBox h1 {
  padding-bottom: 15px;
}

.cmsDetailsBox .dropzone {
  height: 20px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #0066b3;
  color: #0066b3;
}

.cmsDetailsBox .addpropbox input {
  float: left;
  height: 30px;

}

.cmsDetailsBox .addpropbox select {
  width: 445px;
}

.cmsDetailsBox .addpropbox select.multi {
  height: initial;
  min-height: 150px;
}

.cmsDetailsBox .addpropbox select.autoWidth {
  width: auto;
}

.cmsDetailsBox .addpropbox .wideLargeInput {
  height: 30px;
  width: 445px;
  font-size: 16px;
  padding-left: 5px;
  text-align: left;
}

.cmsDetailsBox .addpropbox.dragState {
  background-color: #CCC;
  border: 1px solid blue;
}

.cmsDetailsBox .dropzone.showAllowDropState.allowDropState {
  background-color: #CCC;
  border: 1px solid blue;
}

.cmsDetailsBox .dropzone.showAllowDropState {
  background-color: #e7f1f5;
  border: 1px dashed blue;

  /*
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-animation-name: glow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: glow;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-name: glow;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: alternate;
  -o-animation-timing-function: ease-in-out;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;*/
}

.cmsDetailsBox .addpropbox .addprophelp {
  width: 700px;
  color: #999;
}

.cmsDetailsBox .addpropInputContainer input {
  width: 910px;
}

.cmsDetailsBox .cke_skin_colab {
  width: 910px;
}

.cmsDetailsBox .addpropInputContainer textarea {
  width: 910px;
  height: auto;
  resize: both;
}

.cmsDetailsBox .addpropbox .upload {
  width: 700px;
}

.cmsDetailsBox .addpropbox label {
  width: 200px;
}

.cmsDetailsBox .addpropbox .contestDescription {
  height: 100px;
}

.cmsDetailsBox .c-Comment__add {
  height: 300px;
}

.cmsDetailsBox .actionItems {
  text-align: center;
}

.cmsDetailsBox .deleteIcon {
  position: relative;
  right: -7px;
  top: -7px;
  float: right;
  background-image: url("/climatecolab-theme/images/icon_question-x.png");
  width: 22px;
  height: 22px;
}

.cmsDetailsBox .contestPhases .deleteIcon {
  right: 0;
  top: 0;
}

.cmsDetailsBox .addSection {
  margin: 20px;
}

.cmsDetailsBox .contest-outline-left {
  float: none;
  width: auto;
  min-height: inherit;
  padding-bottom: 0;
}

.cmsDetailsBox .contestOverview {
  table-layout: fixed;
  margin: inherit;
  padding: inherit;
  margin-top: 30px;
}

.cmsDetailsBox .contestOverview .extraSmallColumn {
  width: 25px;
}

.cmsDetailsBox .contestOverview .smallColumn {
  width: 100px;
}

.cmsDetailsBox .contestOverview .mediumColumn {
  width: 200px;
}

.cmsDetailsBox .contestOverview .wideColumn {
  width: 300px;
}

.cmsDetailsBox .contestOverview tr {
  white-space: nowrap;
  line-height: 30px;
  height: 30px;
  background-color: #f2f1e9;
  display: table-row;
  margin-bottom: 0;
  border-bottom: 5px solid white;
  transition: 0.3s ease-out 0s;
  padding: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cmsDetailsBox .contestOverview tr.draggable {
  cursor: move;
}

.cmsDetailsBox .contestOverview .blue tr {
  background-color: #e7f1f5;
}

.cmsDetailsBox .contestOverview tr.blue.drag {
  transform: scale(0.9);
}

.cmsDetailsBox .contestOverview tr.drag {
  transform: scale(0.9);
  border-bottom: 5px solid white;
}

.cmsDetailsBox .contestOverview tr.allowDrop {
  transition: 0.3s ease-out 0s;
  border-top: 34px solid rgba(255, 255, 255, 1);
}

.cmsDetailsBox .contestOverview td {
  border-collapse: collapse;
  vertical-align: middle;
  text-align: center;
  line-height: inherit;
}

.cmsDetailsBox .contestOverview th {
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
}

.rotate {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#massMessage input {
  width: 100%;
  font-size: medium;
  line-height: 30px;
}

#massMessage textarea {
  width: 100%;
  font-size: medium;
  min-height: 60px;
}

#selectedMassAction {
  font-size: large;
  line-height: 27px;
}

#contestsFilterSelect {
  font-size: large;
  line-height: 27px;
}

.outerVerticalCenter {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.innerVerticalCenter {
  display: inline-block;
}

span.ontology-term-label {
  margin-left: 15px;
  font-style: italic;
}

.boxChanged:after {
  content: '*';
  color: #30a3fb;
}
#cvsContests input {
  width:210px;
}
#cvsContests span.token {
  font-size: 11px;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  margin-left: 5px;
  padding: 2px;
  line-height: 26px;
}