$p-Homepage__homespot__background: url(/images/bg-noise.png) $t-Color__grey--lightest !default;
$p-Homepage__homespot__background__background: url(/images/homespot/background.png) no-repeat right 0 center !default;
$p-Homepage__homespot__background__backgroundSize: contain !default;

$p-homepage__content__h2__fontSize: 20px !default;
$p-homepage__content__h2__textColor: $t-Color__grey--darkest !default;

$p-homepage__learn__backgroundColor: $t-Color__primary !default;
$p-homepage__learn__backgroundColor--hover: null !default;
$p-homepage__learn__borderColor: $t-Color__primary--darkest !default;
$p-homepage__learn__imageUrl: url(/images/homespot/light-bulb-white.png) !default;

$p-homepage__get__backgroundColor: $t-Color__secondary !default;
$p-homepage__get__borderColor: $t-Color__secondary--darkest !default;
$p-homepage__get__imageUrl: url(/images/homespot/people-white.png) !default;

//unused in Climate CoLab
$p-homepage__join__backgroundColor: $t-Color__accent !default;
$p-homepage__join__borderColor: none !default;
$p-homepage__join__imageUrl: none !default;

//TODO: legacy for climate colab
.homespot {
  background: $p-Homepage__homespot__background;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.p-Homepage__homespot { //.homespot
  background: $p-Homepage__homespot__background;
  margin-bottom: 25px;
}

.p-Homepage__homespot__background { //.earth
  background: $p-Homepage__homespot__background__background;
  @include background-size($p-Homepage__homespot__background__backgroundSize);
  width: 100%;
}

.topshade {
  height: 9px;
  background: url(/images/topshade.png) repeat-x;
  position: relative;
  z-index: 5;
}

//TODO: legacy for climate colab
.earth {
  background: url(/images/homespot/earth.png) no-repeat 500px top;
  @include background-size(contain);
  width: 100%;
  min-height: 336px;
  position: relative;
  top: -9px;
}

.homespot-left {
  float: left;
  width: 530px;
  padding-left: 10px;
  color: $t-Color__text--dark;
  position: relative;
  font-size: 16px;
}

.social {
  font-size: 14px;
  width: 150px;
  position: absolute;
  right: -9px;
  top: 2px;
}

.homespot-left h1 {
  font-size: 35px;
  margin: 20px 0 10px 0;
}

a.learn {
  @include theme-button($p-homepage__learn__backgroundColor, $p-homepage__learn__borderColor,
          $p-homepage__learn__imageUrl, $p-homepage__learn__backgroundColor--hover);
  text-transform: uppercase;
  margin-right: 15px;
}

a.get {
  @include theme-button($p-homepage__get__backgroundColor, $p-homepage__get__borderColor, $p-homepage__get__imageUrl);
  text-transform: uppercase;
  margin-right: 15px;
}

a.join {
  @include theme-button($p-homepage__join__backgroundColor, $p-homepage__join__borderColor, $p-homepage__join__imageUrl);
  text-transform: uppercase;
  margin-right: 15px;
}

.newsbox {
  background: url(/images/bg-noise.png) $t-Color__grey--lightest;
  width: 418px;
  font-size: 15px;
  padding: 10px 26px 10px 18px;
  margin: 25px 0 25px;
  position: relative;
  border: 1px solid $t-Color__grey--light;
  @include border-radius(6px);
}

.newsbox h3 {
  float: left;
  font-size: 15px;
  color: black;
  width: 55px;
}

.newsbox-arrow {
  position: absolute;
  top: 8px;
  left: -17px;
  width: 17px;
  height: 17px;
  background: url(/images/newsbox-arrow.png) no-repeat;
}

.newsbox:after, .homespot:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.newsbox, .homespot {
  display: inline-block;
}

* html .newsbox, * html .homespot {
  height: 1%;
}

.newsbox, .homespot {
  display: block;
}

.newslinks {
  float: left;
  width: 363px;
}

.newslinks a.readmore {
  color: black;
}

.newslinks a.readmore:hover {
  border-bottom: 1px solid black;
}

.social-icon {
  float: left;
  height: 17px;
  padding: 1px 0 0 25px;
  text-indent: -999px;
  overflow: hidden;
  font-size: 0;
}

.facebook {
  background: url(/images/icon-facebook.png) no-repeat;
}

.twitter {
  background: url(/images/icon-twitter.png) no-repeat;
}

.reddit {
  background: url(/images/icon-reddit.png) no-repeat;
}

.pinterest {
  background: url(/images/icon-pinterest.png) no-repeat;
}

.linkedin {
  background: url(/images/icon-linkedin.png) no-repeat;
}

.googleplus {
  background: url(/images/icon-googleplus.png) no-repeat;
}

.youtube {
  background: url(/images/icon-youtube.png) no-repeat;
}

.sketchy-icon {
  height: 32px;
  display: block;
  float: left;
  padding: 8px 0 0 41px;
  color: $t-Color__grey--lightest !important;
}

.sketchy-icon-black {
  height: 32px;
  display: block;
  float: left;
  padding: 8px 0 0 41px;
  color: black !important;
}

.sketchy-icon span:hover {
  border-bottom: 1px dashed white;
}

.facebook-sketchy {
  background: url(/images/facebook_sketchy.png) no-repeat;
  background-size: 32px;
}

.google-sketchy {
  background: url(/images/google_sketchy.png) no-repeat;
  background-size: 32px;
}
.SolveCoLab-sketchy{
  background: url(/images/SolveCoLab-sketchy.png) no-repeat;
  background-size: 32px;
}
.ClimateCoLab-sketchy{
  background: url(/images/ClimateCoLab-sketchy.png) no-repeat;
  background-size: 32px;
}
/* <Conference Countdown Flipclock>*/
#conference-countdown {
  position: absolute;
  top: 319px;
  width: 420px;
  left: 625px;
}

.countdown-day {
  z-index: 1;
  position: relative;
  font-size: 26px;
  display: block;
  margin: 11px 0 0 15px;
}

.countdown-graphic {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.conference-days {
  color: $t-Color__accent;
  font-weight: $b-Typography__fontWeight--bold;
  margin: 16px 0 0 60px;
  display: block;
}

.conference-until {
  margin: 16px 0 0 5px;
  display: block;
}

#conference-countdown span, #conference-countdown img {
  float: left;
}

#sec {
  width: 48px;
  position: absolute;
  float: left;
  height: 40px;
  top: 336px;
  left: 630px;
  z-index: 1;
}

.flip {
  position: absolute;
  height: 20px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  width: 48px;
  color: black;
}

.top {
  top: 0;
  @include transform-origin(center bottom);
  background: url('/images/flip_top.png') no-repeat;
}

.bottom {
  top: 19px;
  @include transform-origin(center top);
  background: url('/images/flip_bottom.png') no-repeat;
}

.bottom SPAN {
  display: block;
  margin-top: -19px;
}

.ap {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  left: 30px;
  top: 170px;
}

.front {
  z-index: 200;
}

.back {
  z-index: 0;
}

.hide {
  display: none;
}

.ani1 .top.front {
  @include skew(5deg);
  @include scaleY(.90);
}

.ani2 .top.front {
  @include skew(10deg);
  @include scaleY(.60);
}

.ani3 .top.front {
  @include skew(20deg);
  @include scaleY(.30);
}

.ani4 .top.front {
  @include skew(50deg);
  @include scaleY(0.10);
}

.ani4 .bottom.front {
  @include skew(-50deg);
  @include scaleY(0.10);
}

.ani3 .bottom.front {
  @include skew(-20deg);
  @include scaleY(.30);
}

.ani2 .bottom.front {
  @include skew(-10deg);
  @include scaleY(.60);
}

.ani1 .bottom.front {
  @include skew(-5deg);
  @include scaleY(.90);
}

/* </ Conference Countdown Flipclock>*/

.landingpage-links {
  float: right;
}

/* columns ------------- */
.home-left {
  float: left;
  width: 520px;
}

.home-right {
  float: left;
  width: 464px;
}

.home #content {
  padding: 0;
  width: 100%;
}

.home #content h2 {
  font-size: $p-homepage__content__h2__fontSize;
  color: $p-homepage__content__h2__textColor;
  margin-bottom: 18px;
}

.home #content h2.flt {
}

.home #content h2 span {
  font-size: 15px;
  padding-left: 5px;
}

.rss {
  float: right;
  margin-right: 30px;
  width: 20px;
}

.p-Homepage__activitybox__comment {
  @extend %p-Homepage__activitybox__image;
  background: url(/images/icon-activity-comment.png) no-repeat center;
}

.p-Homepage__activitybox__edit {
  @extend %p-Homepage__activitybox__image;
  background: url(/images/icon-activity-edit.png) no-repeat center;
}

.p-Homepage__activitybox__new {
  @extend %p-Homepage__activitybox__image;
  background: url(/images/icon-activity-new_proposal.png) no-repeat center;
}

.p-Homepage__activitybox__up {
  @extend %p-Homepage__activitybox__image;
  background: url(/images/icon-activity-thumbs_up.png) no-repeat center;
}

.p-Homepage__activitybox__new_user {
  @extend %p-Homepage__activitybox__image;
  background: url(/images/icon-activity-new_user.png) no-repeat center;
}

%p-Homepage__activitybox__image {
  width: 50px;
  height: 50px;
  background-size: 25px;
}

.p-Homepage__voting__notice {
  margin-top: 30px;
  margin-bottom: 30px;

  img {
    vertical-align: middle;
    margin-right: 10px;
  }
}
