@import "../components/c-Button";

$p-Homepage__homespot__background: url(/images/bg-noise.png) $t-Color__tan !default;
$p-Homepage__homespot__background__background: url(/images/homespot/background.png) no-repeat right 0 center !default;
$p-Homepage__homespot__background__backgroundSize: contain !default;

$p-homepage__content__h2__fontSize: 20px !default;
$p-homepage__content__h2__textColor: $t-Color__gray--dark-800 !default;

$p-homepage__learn__backgroundColor: $t-Color__primary !default;
$p-homepage__learn__backgroundColor--hover: null !default;
$p-homepage__learn__borderColor: $t-Color__primary--darkest !default;
$p-homepage__learn__imageUrl: url(/images/homespot/light-bulb-white.png) !default;

$p-homepage__get__backgroundColor: $t-Color__secondary !default;
$p-homepage__get__borderColor: $t-Color__secondary--darkest !default;
$p-homepage__get__imageUrl: url(/images/homespot/people-white.png) !default;

//unused in Climate CoLab
$p-homepage__join__backgroundColor: $t-Color__accent !default;
$p-homepage__join__borderColor: none !default;
$p-homepage__join__imageUrl: none !default;

//TODO: legacy for climate colab
.homespot {
  background: $p-Homepage__homespot__background;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.p-Homepage__homespot { //.homespot
  background: $p-Homepage__homespot__background;
  margin-bottom: 25px;
}

.p-Homepage__homespot__background { //.earth
  background: $p-Homepage__homespot__background__background;
  background-size: $p-Homepage__homespot__background__backgroundSize;
  width: 100%;
}

//TODO: legacy for climate colab
.earth {
  background: url(/images/homespot/earth.png) no-repeat 500px top;
  background-size: contain;
  width: 100%;
  min-height: 336px;
}

.mitproject {
  background: url(/images/logos/mit-themed.png) no-repeat;
  padding-left: 90px;
  margin-bottom: 5px;
}

.homespot-left {
  float: left;
  width: 530px;
  padding-left: 10px;
  color: $t-Color__text--dark;
  position: relative;
  font-size: 16px;
}

.social {
  font-size: 14px;
  width: 150px;
  position: absolute;
  right: -9px;
  top: 2px;
}

.homespot-left h1 {
  font-size: 35px;
  margin: 20px 0 10px 0;
}

//TODO COLAB-2561: remove once replaced in web content
a.learn {
  @include theme-button($p-homepage__learn__backgroundColor, $p-homepage__learn__borderColor,
          $p-homepage__learn__imageUrl, $p-homepage__learn__backgroundColor--hover);
  text-transform: uppercase;
  margin-right: 15px;
}

//TODO COLAB-2561: remove once replaced in web content
a.get {
  @include theme-button($p-homepage__get__backgroundColor, $p-homepage__get__borderColor, $p-homepage__get__imageUrl);
  text-transform: uppercase;
  margin-right: 15px;
}

//TODO COLAB-2561: remove once replaced in web content
a.join {
  @include theme-button($p-homepage__join__backgroundColor, $p-homepage__join__borderColor, $p-homepage__join__imageUrl);
  text-transform: uppercase;
  margin-right: 15px;
}

.newsbox {
  background: url(/images/bg-noise.png) $t-Color__tan;
  width: 418px;
  font-size: 15px;
  padding: 10px 26px 10px 18px;
  margin: 25px 0 25px;
  position: relative;
  border: 1px solid $t-Color__gray--medium-500;
  border-radius: 6px;
}

.newsbox h3 {
  float: left;
  font-size: 15px;
  color: black;
  width: 55px;
}

.newsbox-arrow {
  position: absolute;
  top: 8px;
  left: -17px;
  width: 17px;
  height: 17px;
  background: url(/images/newsbox-arrow.png) no-repeat;
}

.newsbox:after, .homespot:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.newsbox, .homespot {
  display: inline-block;
}

* html .newsbox, * html .homespot {
  height: 1%;
}

.newsbox, .homespot {
  display: block;
}

.newslinks {
  float: left;
  width: 363px;
}

.newslinks a.readmore {
  color: black;
}

.newslinks a.readmore:hover {
  border-bottom: 1px solid black;
}

.sketchy-icon {
  height: 32px;
  display: inline-block;
  padding: 8px 0 0 41px;
  color: $t-Color__tan;
  margin: 0 10px;

  &:hover {
    color: $t-Color__tan;
  }

  span:hover {
    border-bottom: 1px dashed white;
  }

  &.sketchy-black {
    color: black;
    &:hover {
      color: black;
    }

    span:hover {
      border-bottom: 1px dashed black;
    }
  }
}

.facebook-sketchy {
  background: url(/images/icons/social/facebook.svg) no-repeat;
  background-size: 32px;
}

.google-sketchy {
  background: url(/images/icons/social/google.svg) no-repeat;
  background-size: 32px;
}

/* <Conference Countdown Flipclock>*/
#conference-countdown {
  position: absolute;
  top: 319px;
  width: 420px;
  left: 625px;
}

.countdown-day {
  z-index: 1;
  position: relative;
  font-size: 26px;
  display: block;
  margin: 11px 0 0 15px;
}

.countdown-graphic {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.conference-days {
  color: $t-Color__accent;
  font-weight: $t-Typography__fontWeight--bold;
  margin: 16px 0 0 60px;
  display: block;
}

.conference-until {
  margin: 16px 0 0 5px;
  display: block;
}

#conference-countdown span, #conference-countdown img {
  float: left;
}

#sec {
  width: 48px;
  position: absolute;
  float: left;
  height: 40px;
  top: 336px;
  left: 630px;
  z-index: 1;
}

.flip {
  position: absolute;
  height: 20px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  width: 48px;
  color: black;
}

.top {
  top: 0;
  transform-origin: center bottom;
  background: url('/images/flip_top.png') no-repeat;
}

.bottom {
  top: 19px;
  transform-origin: center top;
  background: url('/images/flip_bottom.png') no-repeat;
}

.bottom SPAN {
  display: block;
  margin-top: -19px;
}

.ap {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  left: 30px;
  top: 170px;
}

.front {
  z-index: 200;
}

.back {
  z-index: 0;
}

.hide {
  display: none;
}

.ani1 .top.front {
  transform: skew(5deg) scaleY(.90);
}

.ani2 .top.front {
  transform: skew(10deg) scaleY(.60);
}

.ani3 .top.front {
  transform: skew(20deg) scaleY(.30);
}

.ani4 .top.front {
  transform: skew(50deg) scaleY(0.10);
}

.ani4 .bottom.front {
  transform: skew(-50deg) scaleY(0.10);
}

.ani3 .bottom.front {
  transform: skew(-20deg) scaleY(.30);
}

.ani2 .bottom.front {
  transform: skew(-10deg) scaleY(.60);
}

.ani1 .bottom.front {
  transform: skew(-5deg) scaleY(.90);
}

/* </ Conference Countdown Flipclock>*/

.landingpage-links {
  float: right;
}

/* columns ------------- */
.home-left {
  float: left;
  width: 520px;
}

.home-right {
  float: left;
  width: 464px;
}

.home #content {
  padding: 0;
  width: 100%;
}

.home h2 {
  font-size: $p-homepage__content__h2__fontSize;
  color: $p-homepage__content__h2__textColor;
  margin-bottom: 18px;
}

.home h2.flt {
}

.home h2 span {
  font-size: 15px;
  padding-left: 5px;
}

.p-Homepage__activitybox__comment {
  @extend %p-Homepage__activitybox__image;
  background: url(/images/icon-activity-comment.png) no-repeat center;
}

.p-Homepage__activitybox__edit {
  @extend %p-Homepage__activitybox__image;
  background: url(/images/icon-activity-edit.png) no-repeat center;
}

.p-Homepage__activitybox__new {
  @extend %p-Homepage__activitybox__image;
  background: url(/images/icon-activity-new_proposal.png) no-repeat center;
}

.p-Homepage__activitybox__up {
  @extend %p-Homepage__activitybox__image;
  background: url(/images/icon-activity-thumbs_up.png) no-repeat center;
}

.p-Homepage__activitybox__new_user {
  @extend %p-Homepage__activitybox__image;
  background: url(/images/icon-activity-new_user.png) no-repeat center;
}

%p-Homepage__activitybox__image {
  width: 50px;
  height: 50px;
  background-size: 25px;
}

.p-Homepage__voting__notice {
  margin-top: 30px;
  margin-bottom: 30px;

  img {
    margin-right: 10px;
  }
}
