.c-Header__search__pop, .c-Header__login__pop {
  display: none;
}

.popupreg_message {
  margin-top: 35px;
}

.is-required {
  font-style: italic;
  color: $t-Color__grey--dark;
  margin-bottom: 20px;
}

.popupreg_head {
  float: left;
  width: 50%;
}

.popupreg_head h1 {
  color: black;
  font-size: 36px;
}

.sso-register {
  float: right;
  width: 50%;
  margin-bottom: 20px;
}

.popupreg_txt.req {
  background: url(/images/reg-star.png) no-repeat 225px 4px;
}

.popupreg_txt {
  float: left;
  text-align: right;
  font-weight: $b-Typography__fontWeight--bold;
  width: 220px;
  height: 27px;
  padding: 6px 20px 0 0;
  color: $t-Color__grey--darkest;
}

.popupreg_input_container {
  margin-bottom: 15px;
}

.popupreg_input {
  float: left;
  border: 1px solid $t-Color__grey--medium;
  width: 300px;
  height: 33px;
  padding: 2px 0 0 8px;
  font-size: 13px;
  font-weight: $b-Typography__fontWeight;
}

.popupreg_form {
  background: white;
  width: 100%;
  padding-bottom: 25px;
  position: relative;
  top: -5px;
  left: -5px;
}

.popupreg_recap #recaptcha_area, .popupreg_recap #recaptcha_table, .popupreg_recap #recaptcha_widget_div {
  display: inline;
}

.popupreg_txt.recap {
  margin-top: 45px;
}

.popupreg_recap {
  margin-top: 40px;
}

.popupreg_terms {
  margin-top: 30px;
  color: #444;
}

.popupreg_submit_wrap {
  margin-top: 30px;
  text-align: center;
}

/** User signed in header **/
.userpop ul li {
  list-style: none;
}

#userPopupContainer {
  display: none;
}

#c-Header__menu__right li.c {
  background: white;
  border-left: 1px solid $t-Color__grey--medium;
}

/*** POPUPS ****/
//TODO: this might patrially go to the popups partial

.c-Popup__wrapper.small {
  width: 432px;
  margin-left: -216px;
}

.c-Popup__wrapper.proposal-picker {
  width: 1044px;
  margin-left: -522px;
}

.c-Popup .login_popup_box {
  padding: 17px 0 10px 13px;
  font-size: 14px;
  color: $t-Color__grey--dark;
  font-weight: $b-Typography__fontWeight--bold;
}

.c-Popup .login_popup_box .c-Header__login__username, .c-Popup .login_popup_box .c-Header__login__password {
  border: 1px solid #bbb;
}

#popup_forgotpassword .c-Header__login__username {
  width: 224px;
}

.closepopuplogin {
  position: absolute;
  top: 10px;
  right: 10px;
}

.inputLimitContainer {
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
}

.inputLimitContainer.overflow {
  color: #b00;
  font-weight: $b-Typography__fontWeight--bold;
}

.login-box-table {
  float: left;
}

table.login-box-table td {
  padding: 0 3px 0 0;
  vertical-align: middle;
}

table.login-box-table th {
  padding: 0 3px 10px 0;
  vertical-align: middle;
}

.required-field:after {
  content: '*';
  color: $t-Color__primary;
}

.p-LoginRegister__signup__infofield {
  vertical-align: middle;
  color: gray;
  padding-left: 78px;
}

div.req {
  background: url(../images/reg-star.png) no-repeat;
  width: 20px;
  height: 20px;
  float: left;
}

table.reg th {
  padding-top: 25px;
  width: 180px;
}

table.reg td {
  padding-top: 15px;
}

th.second {
  padding-left: 80px;
  width: 60px;
}

.shortBioContent {
  width: 100%;
}

.cke_editor_shortBio {
  width: 100%;
}

.is-required {
  margin: 0 !important;
}

#fileUploadForm {
  height: 0;
}