.c-Header__search__pop, .c-Header__login__pop, .c-Header__language__pop, .c-Footer__language__pop{
  display: none;
}

.popupreg_message {
  margin-top: 35px;
}

.popupreg_txt.req {
  background: url(/images/reg-star.png) no-repeat 225px 4px;
}

.popupreg_txt {
  float: left;
  text-align: right;
  font-weight: $b-Typography__fontWeight--bold;
  width: 220px;
  height: 27px;
  padding: 6px 20px 0 0;
  color: $t-Color__grey--darkest;
}

.inputLimitContainer {
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
}

.inputLimitContainer.overflow {
  color: #b00;
  font-weight: $b-Typography__fontWeight--bold;
}

.required-field:after {
  content: '*';
  color: $t-Color__primary;
}

.p-LoginRegister__signup__infofield {
  vertical-align: middle;
  color: gray;
  padding-left: 78px;
}

div.req {
  background: url(../images/reg-star.png) no-repeat;
  width: 20px;
  height: 20px;
  float: left;
}

table.reg th {
  padding-top: 25px;
  width: 180px;
}

table.reg td {
  padding-top: 15px;
}

th.second {
  padding-left: 80px;
  width: 60px;
}

.cke_editor_shortBio {
  width: 100%;
}

#fileUploadForm {
  height: 0;
}
