@import "bootstrap/variables";

$p-proposal__header__background: url(/images/pattern-6x6-blue.png) !default;
$p-proposal__header__h1__textColor: $b-Typography__textColor !default;
$p-proposal__header__h1__capitalization: $b-Typography__capitalization--none !default;
$p-proposal__header__borderBottomColor: $t-Color__gray--dark-600 !default;
$p-proposal__propbox__padding: 0 0 8px 14px !default;
$p-proposal__propbox__h4__fontWeight: 700 !default;
$p-proposal__propbox__titleAuthor__width: 632px !default;

$p-proposal__votebox__shade__background: $t-Color__gray--medium-500 !default;
$p-proposal__votebox__top__left: 5px !default;
$p-proposal__votebox__marginTop: 0px !default;

$p-proposal__left__h2__textColor: $t-Color__secondary !default;
$p-proposal__left__h2__capitalization: $b-Typography__capitalization--none !default;
$p-proposal__left__h2__fontWeight: initial !default;

$p-proposal__right__h5__topbox__backgroundColor: $t-Color__tan !default;
$p-proposal__right__h5__topbox__padding--top: 10px !default;
$p-proposal__right__h5__topbox__font-size: 13px !default;
$p-proposal__right__h5__topbox__fontWeight: bold !default;
$p-proposal__right__h5__topbox__border--top: 1px dotted $t-Color__gray--dark-600 !default;
$p-proposal__title__addProp__fontWeight: 700 !default;
$p-proposal__settings__padding--bottom: 10px !default;
$p-proposal__settings__backgroundColor: $t-Color__tan !default;
$p-proposal__contest__backgroundColor: $t-Color__tan !default;
$p-proposal__contest__padding--top--bottom: 12px !default;

$p-proposal__thumbbox__a__fontWeight: 700 !default;
$p-proposal__thumbbox__background--top: 5px !default;
$p-proposal__thumbbox__a__margin--left: 0px !default;

$p-proposal__history__item__textColor: $t-Color__primary !default;

$p-proposal__propbox__judgementActions__featured__titleAuthor__width: 455px !default;
$p-proposal__propbox__judgementActions__titleAuthor__width: 476px !default;

$p-Proposal__subscribe__capitalization: none !default;

$p-Proposal__edit__button__backgroundColor: $t-Color__primary--darkest !default;
$p-Proposal__box__offColor: $t-Color__primary__gray--light !default;

$p-proposal__thumbbox__backgroundColor: $c-Table__cell__count__backgroundColor !default;

$p-Proposal__propbox--red: $t-Color__alert !default;
$p-Proposal__propbox--green: $t-Color__secondary--light !default;

/* PROPOSALS ----------------------------------------------------------------------------- */

/* proposal HEADER */
.proposal-head {
  padding-top: 28px;
  background: $p-proposal__header__background;
  border-bottom: 1px solid $t-Color__gray--dark-600;
  margin-bottom: $t-Spacing__base;
}

.proposal-head:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.proposal-head {
  display: inline-block;
}

* html .proposal-head {
  height: 1%;
}

.proposal-head {
  display: block;
}

.proposal-image {
  float: left;
  width: 52px;
  height: 52px;
  margin-right: 15px;
}

.proposal-title {
  float: left;
  width: 910px;
  color: black;
  overflow: hidden;
}

.prop-description {
  font-size: 18px;
}

.prop-description a {
  font-weight: $t-Typography__fontWeight--bold;
}

.proposal-head h1 {
  font-size: 29px;
  color: $p-proposal__header__h1__textColor;
  text-transform: $p-proposal__header__h1__capitalization;
}

/* edit proposal block */

.lastedited {
  float: left;
  height: 19px;
  font-size: 13px;
}

.prop-left h2 {
  font-size: 27px;
  color: $p-proposal__left__h2__textColor;
  margin: 10px 0 16px;
  text-align: justify;
  text-transform: $p-proposal__left__h2__capitalization;
  font-weight: $p-proposal__left__h2__fontWeight;
}

.prop-left h3 {
  font-size: 22px;
  margin-bottom: 13px;
  color: $t-Color__gray--dark-800;
}

.prop-left p {
  color: $t-Color__gray--dark-700;
}

.div3 {
  border-top: 1px dotted $t-Color__gray--dark-600;
  height: 1px;
}

/*  the Table-like rows of proposals */
.propbox {
  clear: both;
  padding: $p-proposal__propbox__padding;
  border-bottom: 1px solid $t-Color__tan;
}

.propbox.featured {
  background: $t-Color__tan;
  border-bottom: 1px solid $t-Color__gray--medium-500;
}

.propbox.top {
  margin-top: -4px;
}

.propbox .row1 {
  height: 38px;
  padding-top: 7px;
}

.propbox .row2 {
  font-size: 13px;
  color: $t-Color__gray--dark-800;
  clear: both;
}

.propbox .title-author {
  float: left;
  width: $p-proposal__propbox__titleAuthor__width;
  margin-top: 12px;
}

.propbox.featured .title-author {
  float: left;
  width: 602px;
  margin-top: 12px;
}

.propbox.completed .title-author {
  width: 752px;
}

.propbox.featured.completed .title-author {
  width: 722px;
}

.propbox h4 {
  float: left;
  display: inline;
  font-weight: $p-proposal__propbox__h4__fontWeight;
  color: $t-Color__gray--dark-800;
}

.propbox h4 span {
  color: black;
}

.thumbbox, .c-Comment__count, .voteboxsmall {
  float: left;
  width: 30px;
  height: 22px;
  font-weight: $t-Typography__fontWeight--bold;
  color: black;
  padding: 4px 0 0 31px;
  border-radius: 3px;
}

.thumbbox {
  background: url(/images/icon-proposal-support.png) no-repeat 11px $p-proposal__thumbbox__background--top $p-proposal__thumbbox__backgroundColor;
  margin-right: 6px;

  a {
    font-weight: $p-proposal__thumbbox__a__fontWeight;
    margin-left: $p-proposal__thumbbox__a__margin--left;
  }
}

.voteboxsmall {
  background: url(/images/icon-proposal-vote-small.png) no-repeat 11px 5px $t-Color__tan;
  margin-right: 6px;
}

.modbox {
  float: left;
  width: 81px;
  padding-top: 4px;
}

.conbox {
  float: left;
  width: 99px;
  padding-top: 4px;
}

.propbox.featured .ribbonPlaceholder {
  height: 28px;
  width: 30px;
  float: left;
}

.propbox.featured .row2 {
  padding-left: 30px;
}

.propbox-red {
  background-color: $p-Proposal__propbox--red !important;
}

.propbox-green {
  background-color: $p-Proposal__propbox--green !important;
}

/* right column */

.votebox-top {
  border-bottom: 1px dotted $t-Color__gray--dark-600;
  margin-bottom: 10px;
}

.votebox-top .vote {
  float: left;
  width: 260px;
  padding-top: 17px;
  font-size: 27px;
  color: $t-Color__gray--dark-800;
}

.votebox-top .vote span {
  font-size: 33px;
  color: $t-Color__secondary;
  font-weight: $t-Typography__fontWeight--bold;
}

.votebox-top .vote img {
  margin: 0 3px 0 5px;
}

.votebox-top .question {
  float: right;
  width: 23px;
  height: 23px;
}

.votebox-bottom span {
  font-size: 20px;
  font-weight: $t-Typography__fontWeight--bold;
}

.p-Proposal__subscribe {
  text-transform: $p-Proposal__subscribe__capitalization;
}

.prop-right h5 {
  padding: 10px 0 10px 12px;
  line-height: normal;
  text-transform: uppercase;
  color: $t-Color__secondary;
}

.prop-right h5.toppad {
  padding: 42px 0 5px 12px;
}

.prop-right h5.topbox {
  padding: $p-proposal__right__h5__topbox__padding--top 0 10px 12px;
  margin-bottom: 9px;
  background: $p-proposal__right__h5__topbox__backgroundColor;
  font-size: $p-proposal__right__h5__topbox__font-size;
  color: $t-Color__gray--dark-600;
  border-top: $p-proposal__right__h5__topbox__border--top;
  font-weight: $p-proposal__right__h5__topbox__fontWeight;
}

.prop-title {
  background: $t-Color__tan;
  border-bottom: 1px solid $t-Color__gray--medium-500;
  line-height: 21px;
  color: black;
  padding: 13px 18px 13px 12px;
}

.prop-title.addprop {
  background: none;
  border-bottom: none;
  font-weight: $p-proposal__title__addProp__fontWeight;
  padding: 0 18px 9px 12px;
}

.prop-avatar {
  padding: 10px 12px 11px 12px;
  font-size: 15px;
  color: black;
}

.prop-contest {
  background: $p-proposal__contest__backgroundColor;
  border-top: 1px solid $t-Color__gray--medium-500;
  border-bottom: 1px solid $t-Color__gray--medium-500;
  font-size: 13px;
  line-height: 18px;
  color: black;
  padding: $p-proposal__contest__padding--top--bottom 18px $p-proposal__contest__padding--top--bottom 12px;
  margin-bottom: 3px;
}

.prop-settings {
  background: $p-proposal__settings__backgroundColor;
  border-bottom: 1px solid $t-Color__gray--medium-500;
  font-size: 13px;
  line-height: 18px;
  color: black;
  padding: 8px 18px $p-proposal__settings__padding--bottom 12px;
}

.prop-results {
  padding: 10px 12px 0 12px;
}

.prop-results div {
  font-size: 13px;
  line-height: 16px;
  color: $t-Color__gray--dark-700;
  margin-bottom: 10px;
}

.prop-title a, .prop-avatar a, .prop-contest a, .prop-results a {
  font-weight: $t-Typography__fontWeight--bold;
}

/* contributors table */

/*
.contributors a {
  font-weight: $t-Typography__fontWeight--bold;
}
*/

.contributors td {
  color: $t-Color__gray--dark-700;
  padding: 6px 10px;
  vertical-align: middle;
}

.contributors td.big {
  padding-top: 12px;
}

.contributors td img {
  margin-right: 12px;
}

.contributors tr.odd td {
  background: $t-Color__tan;
}

.contributors tr.bottom td {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

/* add proposal boxes */
.addpropbox {
  background: $t-Color__tan;
  border-radius: 12px;
  padding: 13px 15px 12px 12px;
  margin-bottom: 13px;
  line-height: 19px;
}

.addpropbox:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.addpropbox {
  display: inline-block;
}

* html .addpropbox {
  height: 1%;
}

//TODO: port to c-Box
.addpropbox {
  display: block;
}

.addpropbox.blue {
  background: $p-Proposal__box__offColor;
}

/* form fields */
.addpropform label {
  float: left;
  width: 110px;
  display: inline-block;
  font-size: 16px;
  color: $t-Color__gray--dark-600;
}

.addpropform label strong, .addpropform .blue {
  color: black;
}

.addpropform label img {
  position: relative;
  top: 3px;
}

.addpropform .notation {
  font-size: 15px;
  color: $t-Color__gray--dark-700;
  margin: 1px 0 25px 12px;
}

.addprophelp {
  background: url(/images/icon-addprop-arrow.png) no-repeat 0 3px;
  float: right;
  width: 454px;
  padding: 0 0 5px 11px;
  color: $t-Color__gray--dark-700;
}

.proposals #contactForm {
  display: block;
}

.blue-arrow-right {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/images/arrows.png) 18px 0;
  vertical-align: top;
}

.blue-arrow-left {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/images/arrows.png) 0 0;
  vertical-align: top;
}

#proposalPickerTable td {
  padding: 10px;
}

.prop-tabs ul {
  margin-bottom: 0;
}

//ribbon
.thread-creator-overlay {
  background: url(/images/Thread-creator-overlay.png) no-repeat;
  float: left;
  line-height: 0;
  font-size: 0;
  color: transparent;
  position: absolute;
  top: -7px;
  right: -7px;
}


/* container */
.thread-ribbon-container {
  position: absolute;
  right: -5px;
  top: -5px;
  overflow: hidden;
  height: 120px;
  padding-top: 15px;
  line-height: normal;
  font-size: 10px;
  pointer-events: none;

  > div {
    background: $t-Color__primary;
    padding: 3px;
    width: 185px;
    color: white;
    position: relative;
    right: -70px;
    text-align: center;
    transform: rotate(45deg);
  }

  //top corner
  &:before {
    content: '';
    position: absolute;
    left: 109px;
    top: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $t-Color__primary--dark;
  }

  //bottom corner
  &:after {
    content: ' ';
    position: absolute;
    right: 0;
    bottom: 53px;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid $t-Color__primary--dark;
  }
}

.prop-butt {
  float: right;
  width: 475px;
  text-align: left;

  img {
    margin-right: 10px;
  }
}

.popup-tabcontainer {
  border: 1px solid $t-Color__gray--dark-600;
}

.prop-tabs li {
  list-style: none;
  background: none;
  padding: 0;
  margin-left: 0;
}

.ui-widget-content a {
  color: $p-proposal__history__item__textColor;
}

.historyTable {
  font-weight: $t-Typography__fontWeight--bold;
}

.historyTable td {
  padding: 5px;
}

//TODO: does this really need to be different?
#proposalPickerTable .ui-datatable-odd {
  background-color: $t-Color__tan;
}

.historyTable .ui-datatable-highlighted a, #proposalPickerTable .ui-datatable-highlight {
  color: $t-Color__secondary !important;
}

.historyTable table {
  width: 617px;
  margin-top: 10px;
}

.ui-datatable table {
  width: auto;
}

.ui-widget-header {
  background: none;
}

.propbox.judgement-actions.featured .title-author {
  width: $p-proposal__propbox__judgementActions__featured__titleAuthor__width;
}

.propbox.judgement-actions .title-author {
  width: $p-proposal__propbox__judgementActions__titleAuthor__width;
}

.p-Proposals__proposalPicker__scrollContainer {
  height: 300px;
  overflow: auto;
  position: relative;
}

// admin tab columns
.admin_left {
  width: 400px;
  margin-right: 40px;
  float: left;
}

.admin_right {
  float: left;
}
