/** Search page **/
.result {
  margin: 10px 0 5px 0;
  border-bottom: 1px solid #C5C5C5;
}

.result.blu {
  background: #F3F8FA;
}

.result_title {
  float: left;
  display: inline;
  padding: 6px 25px 0 0;
  margin: 0;
}

.result_locale {
  float: right;
  background: $t-Color__secondary;
  color: white;
  text-align: center;
  padding: 4px 10px 4px 10px;
  margin: 4px 10px 0;
  font-size: 13px;
  font-weight: $b-Typography__fontWeight--bold;
  line-height: normal;
  border-radius: 5px;
}

.clear {
  clear: both;
  height: 0;
}

h1.spn {
  margin-bottom: 20px;
}

.searchFormContainer {
  margin: 10px 0;
}

.searchBlogLink{
  margin-left: 10px;
}

input.searchPhrase {
  width: 322px;
  height: 25px;
  padding: 2px 0 0 8px;
  background: $t-Color__grey--lightest;
  border: 1px solid $t-Color__grey--light;
  color: $t-Color__grey--darkest;
  font-size: 13px;
  font-weight: $b-Typography__fontWeight;
  margin-top: 6px;
  margin-left: 10px;
}

.pagination {
  width: 100%;
  margin: 10px auto;

  a {
    padding: 0 5px;

    &.c {
      cursor: default;
      color: $t-Color__grey--darkest;
    }
  }
}
