body {
  background: white;
  font-size: 15px;
}

#header {
  height: 67px;
  background: url(../images/bg-noise.png), $lightest-grey;
  border-bottom: 1px solid #aaa9a5;
}

.home #header {
  background: white;
}

.inner, #content, #footmenu ul {
  width: 984px;
  margin: 0 auto;
}

.inner:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.inner {
  display: inline-block;
}

* html .inner {
  height: 1%;
}

.inner {
  display: block;
}

#content {
  padding: 30px 0 80px;
}

#content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#content {
  display: inline-block;
}

* html #content {
  height: 1%;
}

#content {
  display: block;
}

// reduce padding below edit proposal button block
#content.ep {
  padding-top: 16px;
}