$__old: #2ea5d6; $__new: #30a3fb; // $primary-color // (1) border color .butt (edit and wiki buttons next to a proposal title)
$__old: #539bd4; $__new: #30a3fb; // $primary-color // () text color contest section
$__old: #2498b3; $__new: #719aba; // $primary-dark-grey // () text color:hover act_list
$__old: #3192b1; $__new: #03518c; // $primary-darkest // ()
$__old: #339fb8; $__new: #719aba; // $primary-dark-grey // () border content help
$__old: #8ECCE6; $__new: #aad9fd; // $primary-light // (1) text color (act_tooltip a:hover)
$__old: #e46970; $__new: #e46970; // $auxiliary-color // () text color contest section/ontology how //TODO 4th ontology color
$__old: #eed3d7; $__new: #efefe7; // $lightest-grey // #dddddd looks good // () border alert danger
$__old: #118ade; $__new: #30a3fb; // $primary-color // () admin interface
$__old: #1273c7; $__new: #0481e1; // $primary-dark // ()
$__old: #cdd8e4; $__new: #9cb6c9; // $primary-grey
$__old: #e7f0f5; $__new: #e9f0f6; // $primary-light-grey // () text color :hover contest-outline-left
$__old: #eaf2fb; $__new: #e9f0f6; // $primary-light-grey
$__old: #e0dacb; $__new: #e0dacb; // $outline-level1 // () background slevel1
$__old: #d1cbbf; $__new: #d1cbbf; // $outline-level2 // () background slevel2
$__old: #c1bcb2; $__new: #c1bcb2; // $outline-level3 // () background slevel3
$__old: #aaa69f; $__new: #aaa69f; // $outline-level4 // ()
$__old: #c09853; $__new: #c09853; // $alert-message // () text alert
$__old: #fbeed5; $__new: #bababa; // $light-grey
$__old: #fcf8e3; $__new: #efefe7; // $lightest-grey