
//TODO
$__old: #eed3d7; $__new: #000000; // #dddddd looks good // () border alert danger
$__old: #2ea5d6; $__new: #000000; // (1) border color .butt (edit and wiki buttons next to a proposal title)
$__old: #539bd4; $__new: #000000; // () text color contest section
$__old: #c09853; $__new: #000000; // () text alert
$__old: #e46970; $__new: #000000; // () text color contest section/ontology how //TODO 4th ontology color
$__old: #2498b3; $__new: #000000; // () text color:hover act_list
$__old: #3192b1; $__new: #000000; // ()
$__old: #339fb8; $__new: #000000; // () border content help
$__old: #8ECCE6; $__new: #000000; // (1) text color (act_tooltip a:hover)
$__old: #a7d7fb; $__new: #000000; // (1) border-top blueheaderbar

$light-grey: #efefe7; //$cararra-grey;
$medium-grey: #888782; //$natural-grey;
$dark-grey: #555555; //$emperor-grey;

//TODO
$__old: #272727; $__new: #272727; // (1+5) text color #footright #txt a
$__old: #454545; $__new: #454545; // (2+18) text color (menu links:hover)
$__old: #545454; $__new: #545454; // (10+3) text color proposals/contestbox
$__old: #6a6a6a; $__new: #6a6a6a; // (1+2) text color link:hover
$__old: #7f7f7f; $__new: #7f7f7f; // (1+7) border color .checkout-wrap
$__old: #858585; $__new: #858585; // (1+5) text color contest phase bar
$__old: #969696; $__new: #969696; // (1+8) text color contest count
$__old: #a3a39e; $__new: #a3a39e; // (1+3) border color .newsbox
$__old: #a9a9a9; $__new: #a9a9a9; // (1+1) //darkgrey
$__old: #b4b4b4; $__new: #000000; // (1) background .edit-prop-butts span
$__old: #bdb7b2; $__new: #000000; // (1) border input
$__old: #bdbcb7; $__new: #000000; // (1) border-bottom .contest-detail
$__old: #bebeb8; $__new: #000000; // (1) border-left menu
$__old: #c5c5c5; $__new: #c5c5c5; // (1+5) border-bottom activity
$__old: #cbcbca; $__new: #000000; // (1) border-left menu (help)
$__old: #d4d4d4; $__new: #d4d4d4; // (3+3) text color (userbox/loginbox)
$__old: #e6e4d5; $__new: #000000; // (2) background votebox
$__old: #e8e7dc; $__new: #000000; // (1) border contestbox
$__old: #eaeaea; $__new: #000000; // () liferay
$__old: #efefe7; $__new: #efefe7; // (17+6) background votebox, comments, contributors, etc

//61 more colors

$__old: #e3e0d9; $__new: #000000; // () border-right contest-outline-left
$__old: #cccccc; $__new: #000000; // () box-shadow contest-outline-left
$__old: #e7f0f5; $__new: #000000; // () text color :hover contest-outline-left

$__old: #828282; $__new: #000000; // ()

$__old: #e0dacb; $__new: #000000; // () background slevelx
$__old: #d1cbbf; $__new: #000000; // () background slevelx
$__old: #aaa69f; $__new: #000000; // () background slevelx
$__old: #c1bcb2; $__new: #000000; // () background slevelx
$__old: #e8e8e8; $__new: #000000; // () background color
$__old: #939393; $__new: #000000; // () border color
$__old: #f1f1e9; $__new: #000000; // () background color history table
$__old: #666666; $__new: #000000; // () box shadow tooltip
$__old: #464646; $__new: #000000; // () text act_boxtop
$__old: #dad7cf; $__new: #000000; // ()

$__old: #656562; $__new: #000000; // () text color
$__old: #b7b6b2; $__new: #000000; // () border
$__old: #a6a59c; $__new: #000000; // () background
$__old: #727272; $__new: #000000; // () text
$__old: #f3f3ed; $__new: #000000; // ()
$__old: #e5e1da; $__new: #000000; // ()
$__old: #444341; $__new: #000000; // ()
$__old: #222222; $__new: #000000; // ()
$__old: #dddddd; $__new: #000000; // ()
$__old: #b7b6ae; $__new: #000000; // ()
$__old: #f2f0ec; $__new: #000000; // ()
$__old: #e1ddd6; $__new: #000000; // ()
$__old: #878787; $__new: #000000; // ()
$__old: #f9f9f7; $__new: #000000; // ()
$__old: #565656; $__new: #000000; // ()
$__old: #bcb6b1; $__new: #000000; // ()
$__old: #707070; $__new: #000000; // ()
$__old: #efeee3; $__new: #000000; // ()
$__old: #BFBFBF; $__new: #000000; // ()
$__old: #DEDEDE; $__new: #000000; // ()
$__old: #F7F6F2; $__new: #000000; // ()
$__old: #606060; $__new: #000000; // ()
$__old: #444444; $__new: #000000; // ()
$__old: #898989; $__new: #000000; // ()
$__old: #555555; $__new: #000000; // ()
$__old: #b3b0aa; $__new: #000000; // ()
$__old: #eaf2fb; $__new: #000000; // ()
$__old: #cdd8e4; $__new: #000000; // ()
$__old: #fcf8e3; $__new: #000000; // ()
$__old: #fbeed5; $__new: #000000; // ()

//admin/just keep this
$__old: #118ade; $__new: #000000; // () admin interface
$__old: #1273c7; $__new: #000000; // ()
