$p-Contests__contestFlag__capitalization : $b-Typography__capitalization--none !default;
$p-Contests__contestFlag__boxShadow: 2px 2px 1px $t-Color__grey--dark !default;
$p-Contests__contestFlag--color__border: 1px solid $t-Color__secondary--light !default;

$p-Contests__contestBox__boder--buttom: null !default;
$p-Contests__contestBox--hover__boxShadow: 0 0 10px #666 !default;

$p-Contests__contestDetail__backgroundColor: $t-Color__grey--lightest !default;
$p-Contests__contestDetail__heading__background: url(../images/pattern-6x6-lite.png) darken($t-Color__grey--lightest, 7) !default;

$p-Contests__userslist__a__fontWeight: 700 !default;

$p-Contests__detailsButton__fontWeight: 700 !default;
$p-Contests__detailsButton__borderRadius: 5px !default;
$p-Contests__detailsButton__padding: 8px 5px 0px 5px !default;
$p-Contests__detailsButton__backgroundColor: $t-Color__primary__grey--light !default;
$p-Contests__detailsButton__borderColor: $t-Color__primary__grey--dark !default;

/* CONTESTS ------------------------------------------------------------------------------------- */

/* columns  ------------- */
.contest-left {
  float: left;
  width: 500px;
}

.contest-right {
  float: left;
  width: 484px;
}

/* grid-view / list-view button */
.c-Headline .view {
  float: left;
  height: 34px;
  line-height: 34px;
  background: $t-Color__grey--lightest;
  border: solid 1px $t-Color__grey--medium;
  @include border-radius(6px);
  margin-right: 16px;
  font-size: 12px;
  font-weight: $b-Typography__fontWeight--bold;
  text-transform: uppercase;

  > div {
    float: left;
    padding-left: 35px;
    padding-right: 6px;

    &.selected {
      @include border-radius(5px);
      color: white;

      border: solid 1px #4746ad;
      box-shadow: 0px 0px 4px #3e3e3e;
      margin-top: -1px;
      margin-left: -1px;
    }
  }

  .grid {
    background: url(../images/icon-grid_view-off.png) no-repeat 8px 8px;

    &.selected {
      background: url(../images/icon-grid_view-on.png) no-repeat 9px 8px $t-Color__primary;
    }
  }

  .outline {
    background: url(../images/icon-list_outline-off.png) no-repeat 6px 8px;

    &.selected {
      background: url(../images/icon-list_outline-on.png) no-repeat 9px 8px $t-Color__primary;
    }
  }

  .list {
    background: url(../images/icon-list_view-off.png) no-repeat 6px 8px;

    &.selected {
      background: url(../images/icon-list_view-on.png) no-repeat 9px 8px $t-Color__primary;
    }
  }
}

.p-Contests__ListViewTable { //table.contest-list-view

  %image-only {
    background-position-y: 8px;
    background-repeat: no-repeat;
    a {
      width: 30px;
      height: 30px;
      display: inline-block;
    }
  }

  %image-text {
    background-position-y: 8px;
    background-repeat: no-repeat;
    padding-left: 35px;
  }

  th.proposals {
    @extend %image-only;
    background-image: url(../images/icon-list-proposals.png);
  }

  th.votes {
    @extend %image-only;
  }

  th.comments {
    @extend %image-only;
    background-image: url(../images/icon-list-comment.png);
  }

  .ontology_what {
    @extend %image-text;
    background-image: url(../images/icon-list-what.png);
  }

  .ontology_where {
    @extend %image-text;
    background-image: url(../images/icon-list-where.png);
  }

  .ontology_who {
    @extend %image-text;
    background-image: url(../images/icon-list-who.png);
  }

  .ontology_how {
    @extend %image-text;
    background-image: url(../images/contest-icon-how.png);
  }
}

.list a {
  width: 100%;
}

.grid a {
  width: 100%;
}

.filter {
  float: right;
  width: 180px;
  height: 27px;
}

.filter input {
  width: 170px;
  height: 27px;
  padding: 1px 0 0 8px;
  border: 1px solid $t-Color__grey--light;
  font: 12px "Lucida Grande", Arial, sans-serif;
}

.users-filter {
  float: right;
  padding-right: 240px;
  height: 27px;
}

.users-filter input {
  font: 12px "Lucida Grande", Arial, sans-serif;
}

#userFilterInput {
  height: 24px;
}

#usersFilterSubmit {
  margin-bottom: 6px;
  margin-top: 6px;
}

.users-pagination {
  float: left;
  margin-top: 40px;
  margin-left: 10px;
}

/* contest boxes - rounded corners ------------- */
.contestbox {
  width: 452px;
  height: 152px;

  @if $p-Contests__contestBox__boder--buttom != null {
    border-bottom: $p-Contests__contestBox__boder--buttom;
  } @else {
    border: 4px solid $t-Color__grey--lightest;
    @include border-radius(8px);
  }

  background: white;
  padding: 9px 8px;
  margin-bottom: 24px;
  position: relative;
  float: left;
}

.contestbox .img-wrap {
  float: left;
  width: 169px;
}

.contestbox .text-wrap {
  float: left;
  width: 283px;
  font-size: 14px;
  padding-top: 3px;
  line-height: 20px;
  color: $t-Color__grey--dark;
  position: relative;
}

.contestbox h3 {
  margin-bottom: 8px;
  color: $t-Color__grey--darkest;
}

.contestbox .count {
  position: absolute;
  top: 128px;
  left: 0;
  color: $t-Color__grey--medium;
}

.contest-featured-seperator {
  width: 50%;
  border-bottom: 1px solid gray;
  float: left;
  margin: 20px 25% 44px 25%;
  height: 0;
}

.prop {
  float: left;
  display: inline;
  padding-right: 18px;
}

.comm {
  float: left;
  display: inline;
}

.prop a, .comm a {
  font-weight: $b-Typography__fontWeight--bold;
}

.contestbox:hover {
  -moz-box-shadow: $p-Contests__contestBox--hover__boxShadow;
  -webkit-box-shadow: $p-Contests__contestBox--hover__boxShadow;
  box-shadow: $p-Contests__contestBox--hover__boxShadow;
}

.contestbox .featured {
  background: url(../images/contest-featured.png) no-repeat;
  width: 109px;
  height: 36px;
  position: absolute;
  top: 115px;
  left: -20px;
  z-index: 5;
}

.contestbox .indevelopment {
  background: url(../images/contest-in_dev.png) no-repeat;
  width: 149px;
  height: 36px;
  position: absolute;
  top: 115px;
  left: -20px;
  z-index: 5;
}

/* top section of the contests page under the headline, above the sub-headline */
.contest-detail {
  background-color: $p-Contests__contestDetail__backgroundColor;
  border-bottom: 1px solid $t-Color__grey--light;
  margin-top: -4px;
  color: $t-Color__grey--darkest;
}

.contest-detail .heading {
  background: $p-Contests__contestDetail__heading__background;
  min-height: 24px;
  padding: 7px 0 5px 20px;
  font-size: 22px;
}

.contest-detail .heading-title {
  margin: 20px 0;
}

.contest-detail .description {
  padding: 18px 16px 20px 18px;
}

.contest-detail .description p {
  padding-right: 22px;
  line-height: 24px;
  margin: 0;
}

.fixed-position-container {
  position: relative;
}

.fixed-position-inner-relative {
  overflow: auto;
}

.fixed-position-inner-fixed {
  position: absolute;
}

.contest-detail .what, .contest-detail .where, .contest-detail .who, .contest-detail .how {
  float: left;
  font-size: 16px;
  height: 24px;
  display: inline;
  padding-top: 1px;
  padding-right: 10px;
  background: none;
  width: auto;
}

.contest-detail .what {
  background: url(../images/icon-list-what.png) no-repeat;
  padding-left: 30px;
}

.contest-detail .where {
  background: url(../images/icon-list-where.png) no-repeat;
  padding-left: 33px;
}

.contest-detail .who {
  background: url(../images/icon-list-who.png) no-repeat;
  padding-left: 25px;
}

.contest-detail .moreinfo {
  clear: both;
  padding: 14px 16px 16px 18px;
  position: relative;
  min-height: 37px;
}

.contest-detail .advisors {
  font-size: 14px;
  font-weight: $b-Typography__fontWeight--bold;
  padding-top: 0;
  color: $t-Color__grey--medium;
  float: left;
}

.contest-detail .advisors img {
  margin-left: 5px;
  margin-right: 10px;
  vertical-align: bottom;
}

.contest-detail .contestTeamRole {
  padding: 5px 0;
}

.contest-detail .buttons {
  float: right;
  width: 270px;
  text-align: right;
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.contest-detail .buttons a, a.detailbutton {
  padding: $p-Contests__detailsButton__padding;
  width: 115px;
  height: 27px;
  display: inline-block;
  margin-left: 3px;
  background: $p-Contests__detailsButton__backgroundColor;
  border: 1px solid $p-Contests__detailsButton__borderColor;
  font-size: 16px;
  font-weight: $p-Contests__detailsButton__fontWeight;
  text-align: center;
  @include border-radius($p-Contests__detailsButton__borderRadius);
}

/* the table with rows of users  */
.userslist {
  clear: both;
  margin-top: -4px;
}

.userslist td {
  height: 30px;
  padding: 11px 10px 0;
  font-size: 14px;
  line-height: 20px;
  color: $t-Color__grey--darkest;
  border-bottom: 1px solid $t-Color__grey--lightest;
}

.userslist a {
  font-weight: $p-Contests__userslist__a__fontWeight;
}

.userslist tr.top td {
  height: 61px;
  padding-top: 15px;
}

.userslist td.g {
  background-image: url(../images/pattern-tbl-6x6.png);
}

.userslist.featured td {
  background-color: $t-Color__grey--lightest;
}

.userslist tr.feat-bot {
  border-bottom: 1px solid $t-Color__primary__grey;
}

#priorActiveAllWidget {
  border: 1px solid $t-Color__primary;
  -moz-box-shadow: 0 2px 2px #666;
  -webkit-box-shadow: 0 2px 2px #666;
  box-shadow: 0 2px 2px #666;
  position: absolute;
  display: none;
  z-index: 1000;
  background: white;
  text-align: left;
  padding: 10px 10px 10px 10px;
  width: 125px;
}

#priorActiveAllWidget ul {
  margin-left: 0;
  list-style: none;
}

#priorActiveAllWidget ul li {
  margin-left: 0;
  list-style: none;
  background: none;
  padding: 5px;
}

#priorActiveAllWidget ul li.active,
#priorActiveAllWidget ul li:hover {
  background: $t-Color__primary__grey--light;
}

#priorActiveAllWidget ul li.active,
#priorActiveAllWidget ul li:hover {
  background: $t-Color__primary__grey--light;
}

#priorActiveAllWidget ul li a,
#priorActiveAllWidget ul li a:after {
  background: none;
  border: 0;
}

@import 'scss/pages/outline_view';


//TODO: what exactly are these?
#contestsFilterClear {
  background: url(../images/filter-cancel.png) no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 8px;
  display: block;

}

#archivedContestsMarkerContainer {
  margin-bottom: 15px;
}

#archivedContestsMarkerContainer img {
  vertical-align: middle;
  margin-right: 20px;
}

//TODO: prop-description is for proposals?
.contest-discussion .prop-description a {
  font-size: 18px;
}

.contest-detail .heading {
  padding-right: 27px;
}

%contest-flag {
  height: 30px;
  line-height: 30px;
  padding: 0 15px 0 15px;
  text-align: center;
  display: inline-block;
  color: white;
  box-shadow: $p-Contests__contestFlag__boxShadow;

  position: absolute;
  top: 115px;
  left: -20px;

  text-transform: $p-Contests__contestFlag__capitalization;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    bottom: 3px;
    right: 3px;
  }
}

.contest-flag-color {
  @extend %contest-flag;
  @include background-gradient($t-Color__secondary);



  &:after {
    border: $p-Contests__contestFlag--color__border;
    border-left: 0;
  }
}

.contest-flag-grey {
  @extend %contest-flag;
  @include background-gradient($t-Color__grey--medium);
  &:after {
    border: 1px solid $t-Color__grey--light;
    border-left: 0;
  }
}

//contest outline view
.accordion, .accordion li {
  list-style: none;
}
