%p-Members__list__element {
  float: left;
  height: 37px;
  a {
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
  }
}

.p-Members__list__element--user { //.blueheaderbar .user
  @extend %p-Members__list__element;
  width: 330px;
}

.p-Members__list__element--points { //.blueheaderbar .points
  @extend %p-Members__list__element;
  width: 88px;
  padding-left: 11px;
}

.p-Members__list__element--activity { //.blueheaderbar .activity
  @extend %p-Members__list__element;
  width: 80px;
}

.p-Members__list__element--category { //.blueheaderbar .category
  @extend %p-Members__list__element;
  width: 108px;

  a {
    margin-left: 15px;
  }
}

.p-Members__list__element--seniority { //.blueheaderbar .seniority
  @extend %p-Members__list__element;
  width: 121px;
}