.points-container {
    margin: 0 auto;
    width: 135px;
    height: 135px;
    position: relative;

    .fill, .globe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .fill {
        background-color: #30a3fb;
        transition: background-color 2s ease;
    }

    .globe {
        background: url(../img/globus.png) no-repeat;
        background-size: cover;
        height: 105px;
        padding-top: 30px;
        text-align: center;
        font-size: 2em;
        color: white;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
}

.pointType {
    p.percentage {
        text-align: center;
        position: relative;
        top: -150px;
        font-size: 2em;
    }

    td.left {
        background-image: url(../img/arrow-left.png);
        background-position: 80% 0;
    }
    td.left.large {
        background-position: 62.5% 0;
    }
    td.right.large  {
        background-position: 37.5% 0;
    }
    td.right.small {
        background-position: 0% 0%;
    }
    td.left.small {
        background-position: 100% 0%;
    }
    td.right {
        background-image: url(../img/arrow-right.png);
        background-position: 20% 0;
    }
    td.left, td.right {
        background-repeat: no-repeat;
        position: relative;
        top: -50px;
        padding-top: 100px;

        td.left, td.right {
            padding-left: 10px;
            padding-right: 10px;
            top: -30px;
            padding-top: 50px;
            background-size: 35%;

            p.percentage {
                top: -120px;
            }
        }
        td.left {
            background-position: 60% 0;
        }
        td.right {
            background-position: 40% 0;
        }
    }
    ul li {
        padding: 5px 10px;
    }

    ul.userDistributionInputs {
      list-style-type: none;
        li {
            padding: 0;
            margin: 0;
            background: none;
        }
    }

    .highlighted {
        color: #66b035;
        font-weight: 700;
        text-align: center;
    }
    span.highlighted {
        padding-right: 5px;
    }
    .percentageInput {
        input {
            width: 50px;
            margin-right: 3px;
            float: none;
        }
        span, input {
          display: inline-block;
          vertical-align: baseline;
        }
    }
    .deleteListItem {
        float: right;
        margin: 8px 18px 0px 10px;
        padding: 2px 6px;
        background: #30a3fb;
        border-radius: 3px;
        color: white;
        cursor: pointer;
    }
    .error {
        font-weight: bold;
        color: #c00;
    }
}