.contactForm table {
  width: 100%;
}

.contactForm .text {
  width: 65%;
  font-size: 14px;
  line-height: 24px;
}

.contactForm .longtext {
  width: 65%;
  height: 200px;
}

.contactForm label {
  color: #464646;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.contactForm .contactLabel {
  padding: 10px 0 5px 0;
}

.contactFormPreferences table {
  width: 100%;
}

.contactFormPreferences .labels {
  width: 28%;
  padding-right: 5px;
}

.contactFormPreferences .inputs {
  width: 50%;
}

.contactFormPreferences .inputs input {
  width: 100%;
  font-size: 14px;
}

.contactFormPreferences .inputs textarea {
  width: 100%;
  height: 100px;
  font-size: 13px;
}

.contactFormPreferences .messages {
  width: 20%;
}

.contactFormPreferences .even td {
  background: #ddd;
}

.contactFormPreferences .even td,
.contactFormPreferences .odd td {
  padding: 10px 0;
}

.contactFormPreferences {
  width: 100%;
}

.form-errors {
  margin-top: 20px;
}

.form-erros span {
  display: inline-block;
}

.required:after {
  content: "*";
  color: #30a3fb;
}