<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 
     <servlet>
         <servlet-name>JSON Servlet</servlet-name>
         <servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
         <init-param>
             <param-name>servlet-class</param-name>
             <param-value>com.liferay.portal.servlet.JSONServlet</param-value>
         </init-param>
         <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>  
       <servlet-name>MyPortal Servlet</servlet-name>  
       <servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>  
       <init-param>  
          <param-name>servlet-class</param-name>  
          <param-value>com.liferay.portal.kernel.servlet.PortletServlet</param-value>  
       </init-param>  
       <init-param>  
          <param-name>portlet-class</param-name>  
          <param-value>foo.bar.portlets.MyPortlet</param-value>  
       </init-param>  
       <load-on-startup>100</load-on-startup>  
    </servlet> 
    <servlet>
    	<servlet-name>Email List Servlet</servlet-name>
    	<servlet-class>com.ext.utils.EmailListServlet</servlet-class>
    </servlet> 
	
	<servlet>
		<servlet-name>PortletServlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletServlet</servlet-name>
		<url-pattern>/plansProposalsFacade-portlet/*</url-pattern>
	</servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>JSON Servlet</servlet-name>
        <url-pattern>/api/json/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSON Servlet</servlet-name>
        <url-pattern>/api/secure/json/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>Email List Servlet</servlet-name>
    	<url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>