<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false" scan="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.xcolab.util.http.caching.provider" level="INFO"/>
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web" level="WARN" />
    <logger name="org.springframework.boot.actuate" level="WARN" />

    <root>
        <level value="WARN"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>