body {
  background: white;
}

.contestbox {
  width: 452px;
  background: #f6f6f6;
  margin: 0 auto;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  line-height: 27px;
  padding: 20px;
  color: black;
}

input {
  border: 1px solid black;
  color: #8d8d8d;
  font-weight: 200;
  box-shadow: none;

  background: url(../img/input.gif) no-repeat;
  width: 330px;
  height: 28px;
  padding: 2px 0 0 8px;
  font-size: 15px;
  margin: 5px 0 10px 0;
}

.c-Button__primary:hover, .c-Button__primary:hover {
  color: white;
  text-decoration: none;
  background: #09aeed;
}

.c-Button__primary {
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
  font-weight: 400;
  line-height: normal;
  border-radius: 0;
  font-size: 16px;
  padding: 7px 15px;
  background: #2e89c7;
  color: white;
  text-shadow: none;
  text-transform: uppercase;
  margin-right: 15px;
}
