#mobile-navbar{
	display: block;
	position: fixed;
	height: 72px;
	width: 100%;
	text-align: center;
	background: url(../images/bg-noise.jpg) #ecece5;
	left: 0;
	top: 0;
	border-bottom: 1px solid #aaa9a5;
	color: #0090ff;
	line-height: normal;
	font-size: 40px;
	font-family: "proxima-nova", "proxima-nova-1", Arial, Helvetica, sans-serif;
	padding-top: 28px;
}

#c-Header, #footer {
	display: none;
}

#content{
	padding-bottom: 0;
	margin-bottom: 0;
}

.portlet-body {
	padding: 0 20px 0 20px;
}

.jquerypage{
	position: absolute;
	padding-right: 15%;
        padding-left: 15%;
}

body, #content, #wrapper, .portlet-dropzone, .inner{
	width: 100% !important;
}

.custommobileheader{
	background: url(../images/bg-noise.jpg) #ecece5;
        border-bottom: 1px solid #aaa9a5;
}


.mobilesocialcontainer{
	width: 100px;
	float: left;
	margin-left: 8px;
	margin-top: 11px;
}
