@import "../base/b-functions";

//main colors:
$t-Color__primary: #30a3fb;
$t-Color__secondary: #66b035;
$t-Color__accent: #e36f0f;
$t-Color__auxiliary: #e46970; // 4th color when needed (e.g. ontology)

//lightness variations
$t-Color__primary--light: lighten($t-Color__primary, 24); $__hex: #aad9fd;
$t-Color__secondary--light: lighten($t-Color__secondary, 24); $__hex: #a7da85;

$t-Color__primary--dark: darken($t-Color__primary, 13); $__hex: #0481e1;
$t-Color__secondary--dark: darken($t-Color__secondary, 13); $__hex: #467a25;

$t-Color__primary--darkest: darken($t-Color__primary, 30); $__hex: #03518c;
$t-Color__secondary--darkest: darken($t-Color__secondary, 30); $__hex: #14230b;

//grey variations of the primary color
$t-Color__primary__grey--dark: desaturate($t-Color__primary, 61); $__hex: #719aba;
$t-Color__primary__grey: lighten($t-Color__primary__grey--dark, 11); $__hex: #9cb6c9;
$t-Color__primary__grey--light: lighten($t-Color__primary__grey--dark, 35); $__hex: #eaf0f5;

//greys
$t-Color__grey--lightest: #efefe7;
$t-Color__grey--light: #bababa;
$t-Color__grey--medium: #888888;
$t-Color__grey--dark: #575757;
$t-Color__grey--darkest: #404040;

//alert and message colors:
$t-Color__alert: #b94a48;
$t-Color__alert--light: #f2dede;
$t-Color__info__background: $t-Color__primary__grey--light;
$t-Color__success__background: $t-Color__secondary--light;

//standard text colors
$t-Color__text--light: white;
$t-Color__text--dark: $t-Color__grey--darkest;
$t-Text__threshold: (brightness($t-Color__text--light) + brightness($t-Color__text--dark)) / 2;

//outline view TODO: see if we can adapt this to use our colors
$t-Color__outline__level1: #e0dacb; // background slevel1
$t-Color__outline__level2: #d1cbbf; // background slevel2
$t-Color__outline__level3: #c1bcb2; // background slevel3
$t-Color__outline__level4: #aaa69f; // background slevel4-6
