@import "../lib/l-functions";

//main colors:
$t-Color__primary: #30a3fb;
$t-Color__secondary: #66b035;
$t-Color__accent: #e36f0f;
$t-Color__auxiliary: #e46970; // 4th color when needed (e.g. ontology)
