/** userss list **/
.userslist.table .column.usersName {
	width: 366px;
}

.userslist.table .column.usersName .usersFlag {
	position: relative;
}

/*
.userslist.table .column.usersActivityCount {
	width: 31px;
}

.userslist.table .column.usersCommentsCount {
	width: 35px;
}
*/
.userslist.table .column.usersActivityCount {
	width: 118px;
}

.userslist.table .column.usersCategory {
	width: 105px;
}

.userslist.table .column.usersSeniority {
	width: 105px;
}
