.impactsContent h3.ui-accordion-header a.activator {
  margin: 0;
  padding: 6px 0 3px 15px;
  font-weight: normal;
}

.impactsContent h3.ui-accordion-header {
  cursor: pointer;
}

/* vertical tabs */
.ui-tabs {
  border-bottom: 0;
  padding: 0 0 0 0;
}

.ui-tabs-vertical {
  width: 400px;
}

.ui-tabs-vertical .ui-tabs-nav {
  float: left;
  width: 120px;
}

.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
  width: 120px;
  height: auto;
  padding-top: 5px;
  padding-left: 0;
  padding-right: 0;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
  padding: 1em;
  float: left;
  width: 200px;
  border: none;
}

.ui-tabs-panel .ui-widget-content h4 {
  margin-top: 10px;
}

.physicalImpactsTab .tabsContainer,
.physicalImpactsTab .contentsContainer {
  float: left;
}

.physicalImpactsTab .contentsContainer {
  width: 312px;
  padding: 5px;
  background: #fff;
}

.physicalImpactsTab .contentsContainer .tabContent {
  background: #fff;
}

.physicalImpactsTab .tabsContainer {
  width: 120px;
}

.physicalImpactsTab .tabsContainer a {
  cursor: pointer;
  color: #FFFFFF;
}

.physicalImpactsTab .tabsContainer a:hover {
  color: #ddd;
}

.physicalImpactsTab .tabsContainer li {
  background: url("/climatecolab-theme/images/blue_table_bg_header.png") no-repeat left center;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 33px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-top: 6px;
  padding-top: 5px;
  text-align: center;
  width: 120px;
}

.physicalImpactsTab .tabsContainer li.active {
  background: transparent url("/climatecolab-theme/images/blue_table_th_bg.gif") no-repeat scroll left center;
}

.run-the-model-to-see-inputs {

  color: #999999;
  font-weight: bold;
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
  width: 100%;
}

ul.ui-tabs-nav li.ui-state-active a {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DEDEDE;
  border-bottom: medium none;
  color: #336699;
  font-weight: bold;
}

.impactsContent .ui-accordion-header a.folder {
  padding: 0;
  color: #336699;

}

.ui-accordion .ui-accordion-header {

  background: none repeat-x scroll 50% 50% #EBEBEB;
}

.ui-accordion h3.ui-accordion-header:hover, .ui-accordion h3.ui-accordion-header.ui-state-active {

  background: none repeat-x scroll 50% 50% #58534A;

}

.ui-accordion h3.ui-accordion-header:hover a, .ui-accordion h3.ui-accordion-header.ui-state-active a {
  color: #FFF;
}

.ui-accordion .ui-accordion-header.ui-state-default,
.ui-accordion .ui-accordion-header.ui-state-active {
  margin: 1px 0 0;
  border: 0;
}

.scalarOutput {
  padding: 0;
  line-height: normal;
}

.impacts {

}

.impacts .corcen_top {
  width: 100%;
}

.impacts .corcen_bottom {

  width: 100%;
}

.impacts .corcen {
  border: thin solid #E1E1E1;
  background: #FFFFFF;
  width: 100%;
}

.impacts .title {
  background: none repeat scroll 0 0 #EBEBEB;
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  height: 42px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.impacts .title h2 {
  float: left;
  margin-top: 6px;
  margin-left: 15px;
  margin-bottom: 0;
  margin-right: 0;

}

.impacts input[type="submit"].prominantButton {
  float: right;
  margin: 5px 5px 5px 0;
}

.impacts input[type="submit"].prominantButton-dis {
  float: right;
  margin: 5px 5px 5px 0;
}

.chartMessagePlaceholder {
  border: 1px solid red;
  background: #FAD2D7;
  padding: 5px;
  margin: 5px;
}

.chartMessagePlaceholder li {
  color: #571B22;
}

.runSimulationButton_bdr {
  background: none;
  border: 1px solid lightgrey;
  width: 132px;
  height: 35px;
  padding: 1px 3px 3px 1px;
}

.wf-active .runSimulationButton_bdr a {
  font-size: 17px;
}

.runSimulationButton_bdr a {
  font-size: 15px;
  font-style: italic;
  color: #666;
}

.runSimulationButton_bdr {
  font-weight: 400;
  line-height: normal;
}

.wf-active .runSimulationButton_bdr a span, .wf-active .runSimulationButton_bdr a span {
  font-size: 15px;
}

.runSimulationButton_bdr a span, .runSimulationButton_bdr a span {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  color: #E36F0F;
}

.runSimulationButtonHighlight {
  text-align: center;
  width: 128px;
  padding: 8px 0 4px 0;
}

.runTheModelToSee_container {
  height: 520px;
}

.runTheModelToSee {
  padding: 230px 40px;
}

.runTheModelToSee_box {
  border: 1px solid #b9b8b3;
  line-height: 22px;
  font-size: 16px;
  padding: 10px 7px;
  text-align: center;
}

.chartContainer {
  padding-right: 12px;
  padding-left: 12px;
}

.jqplot-table-legend-swatch {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  padding: 5px;
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
  position: static;
  width: auto;
  border: 0;
  background: transparent;
  font: 12px Verdana, Geneva, sans-serif;
}

table.jqplot-table-legend {
  margin-top: 25px;
}

td.jqplot-table-legend {
  vertical-align: top;
}

td.jqplot-table-legend > div {
  border: 0;
}

.rounded_button.blugrid.inputTabTrigger a, .rounded_button.blugrid.outputTabTrigger a {
  padding-bottom: 20px;
}

.actions-edit_chart-head-bg {
  width: 489px;
}

.jqplot-yaxis-tick {
  left: 10px;
}

.jqplot-yaxis-label {
  left: -10px !important;
}

.jqplot-axis.jqplot-xaxis {
  top: 270px;
}

.acthead-r.edit {
  height: 60px;
}