body {
  background: white;
}

.contestbox {
  width: 452px;
  background: #f5f5f4;
  margin: 0 auto;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  line-height: 27px;
  padding: 20px;
  color: black;
}

input {
  border: 1px solid black;
  color: #8d8d8d;
  font-weight: 200;
  box-shadow: none;

  background: url(../img/input.gif) no-repeat;
  width: 330px;
  height: 28px;
  padding: 2px 0 0 8px;
  font-size: 15px;
  margin: 5px 0 10px 0;
}

.c-Button__primary:hover, .c-Button__primary:hover {
  text-decoration: none;
  color: white;
  background: #a8140d;
}

.c-Button__primary {
  background: #d71a11;
  color: white;
  text-shadow: none;
  text-transform: uppercase;
  border-radius: 25px;
  display: inline-block;
  padding: 10px 15px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
