.model ul li {
    list-style:disc inside;
    line-height:1.4;

}

.float-right {

    float:right;
}

/** PORTLET**/
.contentWrapperTop {
    background: transparent url("../img/tabContent_top.gif") no-repeat scroll center top;
    width: 100%;
    padding-top: 4px;
}

.contentWrapperBottom {
    background: transparent url(../img/tabContent_bottom.gif) no-repeat scroll left bottom;
    width: 100%;
    padding-bottom: 4px;
}

.contentWrapperMiddle
 {
    background: #EDEDED none repeat scroll 0 0;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-size: 12px;
}

.contentWrapperMiddle .content {
    padding: 15px;
}

/** INLINE HELP **/

.inlineHelp {
    border: 1px solid #CCCCFF;
    background: #ebebff;
    padding:10px;
    margin:  4px 0px;
    font-size:10pt;
    color: #666655;

}

.hideThisTrigger {
    padding-top: 10px;
}

.hideThisTrigger a {
    font-weight:bold;
}



a.helpMessageTrigger {
    font-style:italic;

}

a.helpMessageTrigger.commentHelp {
    padding-top:8px;
}

a.helpMessageTrigger.helpVisible {
    display:none;
}

a.helpMessageTrigger.helpHidden {
    display:inline;
    color: #8c96b4;
}





/** CATEGORIES **/



.categoryHeader {

    margin-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:10px;
    background-color:#CCD8DF;
}





.categoryDisplay {
    margin-top:15px;
    padding:10px;
     background-color: #FAF7F7;
    width:100%;
}

.categorySeriesContainer {
    padding-right:20px;
}

.categoryButtonPanel {
    float:right;
}


.categoryDetails {

}

.categoryDescription {
    margin:10px;
    padding:10px;
    background-color:#FFFFFF
}

.categoryDescription p  {
    font-size:14px;
   color:#000000 !important;
}

.categoryContents {
    padding:10px;
}
.categoryContents table {
    width:100%;
    border:none;
}

.categoryContentsTable td {
    border:none;
   padding:5px;
}



.categoryContentsTableHeader {
    background-image:none;
    background:transparent;
    padding-top:3px;
    padding-bottom:3px;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:1px #CCCCCC solid;
    color: #777777;
    font-weight:bold;

}

.categoryContentsTableHeader span {
    padding:0px;
}

.categoryContentsTableHeader td {
    padding:0px;
}

.categoryContentsTable tr.Row1 {
    background-color: #FFFFFF;
}

.categoryContentsTable tr.Row2 {
    background-color: #FAF7F7;
}


.categoryContentsTable .modelName
    {
    width:125px;
    }

.categoryContentsTable .modelDescription {
    width:600px;
}

.categoryHeader input {
    width:100%;
}

.categoryDescription textarea {
    width:100%
}


/* other */

.modelIndex {
    position: relative;
}

.modelIndex .iceOutConStat {
	position:absolute;
    right:20px;
    top:5px;
}



.pageTitle {
	position: relative;
    background-color:#CCD8DF;
    margin-bottom: 10px;
}

.pageTitle h2 {
	padding: 10px;
	padding-left: 25px;
    float: left;
}

.tabinner .content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 15px;
    background-color: #ffffff;
}

.modelDescription textarea {
    width: 100%;
    height: 200px;
}

.simulationActions {
    float:right;
    margin: 10px;
}


/* ADMIN AREA */
.sortableOutputDisplay li {
    background: #FAF1D7;
    padding: 5px;
    width: 260px;
    border: 1px solid #E6DDC5;
    margin-bottom: 5px;
}

.subSortableOutputDisplay li {
    margin-left: 20px;
    margin-bottom: 5px;
    background: #E4F2D0;
    padding: 2px;
    width: 200px;
    border: 1px solid #D8E6C5;
}

.impactsContent h3.ui-accordion-header a.activator {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-left: 15px;
}

.impactsContent h3.ui-accordion-header {
	cursor: pointer;
}

.model-information .actions table td {
    height: 38px;
}
#runModel.full,
.runModelBtn.full {
    background-color:transparent;
    background-image:url("/collaboratorium-theme/images/runModel_btn.gif");
    background-position:0 0;
    background-repeat:no-repeat;
    height:49px;
    width:211px;
    border: 0;
    display: block;
    margin-left: 320px;
}



.modelActions {
    text-align: center;
}


/* vertical tabs */
.ui-tabs {
    border-bottom: 0;
    padding: 0 0 0 0;
}

.ui-tabs-vertical {
    width: 400px;
}
.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 120px;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav li a {
    display:block;
    width: 120px;
    height: auto;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
    border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: left;
    width: 200px;
    border: none;
}

.ui-tabs-panel .ui-widget-content h4 {
     margin-top:10px;
}

.physicalImpactsTab .tabsContainer,
.physicalImpactsTab .contentsContainer {
    float: left;
}


.physicalImpactsTab .contentsContainer {
    width: 270px;
    padding: 5px;
    background: #fff;
}

.physicalImpactsTab .contentsContainer .tabContent {
	background: #fff;
}


.physicalImpactsTab .tabsContainer {
    width: 120px;
}

.physicalImpactsTab .tabsContainer a {
    cursor: pointer;
    color: #FFFFFF;
}


.physicalImpactsTab .tabsContainer a:hover {
	color: #ddd;
}

.physicalImpactsTab .tabsContainer li {
    background-image:url("/collaboratorium-theme/images/blue_table_bg_header.png");
    background-position:left center;
    background-repeat: no-repeat;
    color:#FFFFFF;
    cursor:pointer;
    font-size:13px;
    font-weight:bold;
    height:33px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-top: 6px;
    padding-top:5px;
    text-align:center;
    width:120px;
}

.physicalImpactsTab .tabsContainer li.active {
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("/collaboratorium-theme/images/blue_table_th_bg.gif");
    background-position:left center;
    background-repeat:no-repeat;
}

.sliderDef .value {
    width: 50px;
}

.sliderDef .sliderCol {
	width: 100px;
}

.model-information .actions  table .sliderDef .valueCol {
	text-align: left;
}
	

.sliderDef .empty {
    width: 0px;
}

    
.run-the-model-to-see-inputs  {
    border:1px solid #DFDFDF;
    color:#999999;
    font-weight:bold;
    padding-bottom:100px;
    padding-top:100px;
    text-align:center;
    width:100%;
}

ul.ui-tabs-nav li.ui-state-active a{
    background:none repeat scroll 0 0 #FFFFFF;
    border-color:#DEDEDE #DEDEDE;
    border-style:solid solid none;
    border-width:1px 1px medium;
    color:#336699;
    font-weight:bold;
}

.embeddedActions {
	float: right;
	padding-right: 135px;
	
}

.embeddedActions input {
	margin-left: 5px;
}

.model-information .bottom-content {
    overflow:hidden;
    padding-top:0;
    width:100%;
}

.embeddedActions a.saveChanges {
    background:url("/collaboratorium-theme/images/saveChange_btn.gif") no-repeat scroll 0 0 transparent;
    display:inline;
    float:left;
    height:45px;
    margin-top:4px;
    width:106px;
}

.embeddedActions a.cancel {
    background:url("/collaboratorium-theme/images/tabAciont_cancel_btn.png") no-repeat scroll 0 0 transparent;
    display:inline;
    float:left;
    height:45px;
    margin-top:4px;
    width:106px;
}

.embedded-inputs-disabled {
    padding-left: 220px;
}

.singleInputOrderDef {
	position: relative;
    border: 1px solid #FAD978;
    background: #FFF3CF;
    padding: 5px;
    width: 400px;
    font-size: 1.2em;
    margin-bottom: 10px;
    cursor: move;
    z-index: 5;
}


.subInputsOrder {
	position: relative;
}

.subInputsOrder li {
    border: 1px solid #99FFB1;
    background: #D1FFDC;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: move;
    z-index: 10;
}

.inputsOrder {
    position: relative;
}

.inputGroup {
    width: 100%;
}
.inputGroupsContainer {
	width: 98%;
}

.inputGroupsContainer td {
    vertical-align: top;
}

.inputGroupsContainer .groupsCell {
	width: 70%;
	padding: 5px;
}

.inputGroupsContainer .availableItemsCell {
    width: 30%;
    padding: 5px;
}

.availableGroupItems {
    padding: 5px;
    border: 1px solid #FAD978;
    background: #FFF3CF;
    width: 100%;
}

.inputGroup .groupedInputs {
    padding: 5px;
}

.individualInputPlaceholder {
    height: 10px;
    width: 100%;
}

.individualInput {
    padding: 3px;
    border: 1px solid green;
    background: #C4FFD2;
    margin-bottom: 5px;
    cursor: move;
}

.inputGroup .inputTitle h3 {
    display: inline;
}
.inputGroup .inputTitle .actions {
    float: right;
    margin-right: 15px;
}


.inputGroup .inputTitle .actions input {
	margin-left: 5px;
}

.orderListItem {
    border: 1px solid #FAD978;
    background: #FFF3CF;
    padding: 3px;
    width: 400px;
    margin-bottom: 4px;
    cursor: move;
}   
.orderSubListItem {
    border: 1px solid #99FFB1;
    background: #D1FFDC;
    padding: 1px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    cursor: move;
}

.chartMessagePlaceholder {
	border: 1px solid red;
	background: #FAD2D7;
	padding: 5px;
	margin: 5px;
}

.chartMessagePlaceholder li {
    color: #571B22;
}


.impactsContent .ui-accordion-header a.folder {
	padding: 0;

}

.ui-accordion .ui-accordion-header {
    margin-top: 0;
}

.ui-accordion .ui-accordion-header.ui-state-default, 
.ui-accordion .ui-accordion-header.ui-state-active {
	border: 0;/*1px solid #CCCCCC;*/
}

.scalarOutput {
    padding: 0;
    line-height: normal;
    margin: 0;
}


/*
.model-information table.icePnlTbOn,
.model-information table.icePnlTbOff,
.model-information table.icePnlTbOver {
     height:50px;
    width:40px;
}

.model-information td.icePnlTb {
    height: 50px;
    width:40px;
}


.model-information table.icePnlTbOn td,
.model-information table.icePnlTbOff td,
.model-information table.icePnlTbOver td {
   height:auto;
    width:50px;
    white-space:normal;
}

.model-information .actions table.innerLayout td.label {
    text-align:right;
}

.model-information .actions table.innerLayout td.field {
    text-align:left;
}

table.icePnlTbSet > tbody:first-child > tr:first-child table {
    height:50px;
}
*/

.assumption {
    background: #eee;
    margin: 10px 0;
    padding: 10px;
}

.positionsActions {
    float: right;
    padding-right: 125px;
    position: relative;
}


.assumption .question {
    background:url("../img/question_icon_small.png") no-repeat scroll 3px 3px transparent;
    padding:3px 9px;
    padding-left: 20px;
    font-weight: normal;
}

.assumption .position,
.assumption .positionItem label {
    background:url("../img/position_icon_small.png") no-repeat scroll 3px 0 transparent;
    padding:3px 9px;
    padding-left: 20px;
    margin-left: 40px;
    font-weight: normal;
}

.actionsImpacts {
	background: #fff;
}

.inputsDropTarget {
	background: #f00;
	min-height: 10px;
}

.dropTarget {
	border: 1px solid #f0f000;
	background: #fafa99;
	padding: 10px;
}

.dropTarget .dropTarget {
	border: 1px solid #00e0e0;
	background: #99f5f5;
	padding: 10px;
}

.actionButtons {
	float: right;
}

.groupAddFormContainer, .groupEditFormContainer, .tabAddFormContainer {
	display: none;
}