$p-Discussion__right__borderBottom: 1px solid $t-Color__grey--light !default;
$p-Discussion__right__borderBottom__marginTop: 11px !default;
$p-Discussion__right__borderBottom__paddingBottom: 18px !default;
$p-Discussion__right__subscribeLinkSmall__capitalization: $b-Typography__capitalization--none !default;

.p-Discussion__left {
  width: 680px;
  float: left;
}

.p-Discussion__right {
  margin-left: 50px;
  float: left;
  width: 250px;

  .subscribeLinkSmall {
    text-transform: $p-Discussion__right__subscribeLinkSmall__capitalization;
  }

  img {
    max-width: 20px;
    position: relative;
    top: 4px;
  }

  &.border-bottom {
    margin-top: $p-Discussion__right__borderBottom__marginTop;
    border-bottom: $p-Discussion__right__borderBottom;
    padding-bottom: $p-Discussion__right__borderBottom__paddingBottom;
    vertical-align: bottom;
  }
}