$p-userprofile__comm_rightcol-title2__height: 22px !default;
$p-userprofile__comm_rightcol-title2__padding--bottom: 0px !default;

.profile_input {
  border: none;
  background: url(../images/profile_input.gif) no-repeat;
  width: 330px;
  height: 28px;
  padding: 2px 0 0 8px;
  font-size: 15px;
  font-weight: $b-Typography__fontWeight;
  margin: 5px 0 10px 0;
}

.input_long {
  width: 100%;
  height: 28px;
  padding: 2px 0 0 8px;
  font-size: 15px;
  font-weight: $b-Typography__fontWeight;
  margin: 5px 0 10px 0;
  border: 1px solid;
  border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
}

.wf-active .profile_about {
  font-size: 14px;
}

.profile_upload {
  border: none;
  background: url(../images/profile_upload-button.gif) no-repeat;
  width: 121px;
  height: 30px;
  margin-top: 12px;
  cursor: pointer;
}

#uploadImageContainer {
  width: 136px;
  height: 30px;
  background: url(../images/profile_upload-button.gif) no-repeat 15px 0;
  margin-top: 20px;
  cursor: pointer;
}

#portraitUploadInput {
  width: 140px;
  height: 30px;
  z-index: 99999;
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  cursor: pointer;
}

.profilehelp {
  background: url(../images/icon-addprop-arrow.png) no-repeat 0 3px;
  float: right;
  padding: 0 0 5px 11px;
  color: $t-Color__grey--dark;
}

.comm_rightcol {
  padding-bottom: 10px;
  margin-top: 40px;
}

//TODO: also used in feeds-portlet...
.comm_rightcol-bdr {
  border-bottom: 3px solid $t-Color__primary__grey--light;
  padding-bottom: 10px;
  margin-top: 0;
}

.comm_rightcol .actionColumn {
  width: 75px;
  font-size: 12px;
}

.comm_rightcol-title {
  font-size: 19px;
  font-weight: $b-Typography__fontWeight--bold;
  margin-bottom: 15px;
}

.comm_rightcol-title2 {
  text-transform: uppercase;
  background: $t-Color__primary__grey--light;
  height: $p-userprofile__comm_rightcol-title2__height;
  padding: 10px 0 $p-userprofile__comm_rightcol-title2__padding--bottom 8px;
  font-size: 12px;
  line-height: normal;
  font-weight: $b-Typography__fontWeight--bold;
  color: contrasting-color($t-Color__primary__grey--light);
  margin-bottom: 5px;
}

.wf-active .comm_rightcol-title2 {
  font-size: 14px;
}

.comm_rightcol-time {
  color: black;
  padding: 0 10px;
  font: 12px/21px Verdana, Geneva, sans-serif;
}

.profile_rightcol p, .comm_rightcol-bdr p {
  color: #666;
  padding: 0 10px;
  margin-bottom: 15px;
  font: 12px/21px Verdana, Geneva, sans-serif;
}