.wizardScreen {
	display: none;
}

.wizardScreen .inputContainer {
	width: 20px;
	padding-top: 15px;
}

.wizardScreen .optionDef:hover {
	background: #f5f5f5;
}
.wizardScreen .optionDef i.glyphicon {
	color: green;
}

.wizardScreen .optionDef i.glyphicon.optionSelector {
	color: #7777ff;
	cursor: pointer;
}

.wizardRunTheModel, .wizardNavigateBack {
	display: none;
}

.option-description-short {
	cursor: pointer;
}
.option-description-long {
	display: none;
	margin-top: 10px;
}

