//resets browser stylesheets to a common default

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, b, i, sub, sup, tt, var, caption,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input,
table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  word-wrap: normal !important;
  word-break: normal !important;
}

img {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: top;
}

td, th {
  text-align: left;
  line-height: normal;
}

select {
  height: 30px;
  font-size: 16px;
}

a:active {
  outline: 0;
}

:focus {
  outline: 0;
}
