body {
  background: white;
  font-size: 15px;
}

.inner, #content, #c-Footer__menu ul {
  width: 984px;
  margin: 0 auto;
}

.inner:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.inner {
  display: inline-block;
  position: relative;
}

* html .inner {
  height: 1%;
}

.inner {
  display: block;
}

#content {
  padding: 30px 0 80px;
}

#content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#content {
  display: inline-block;
}

* html #content {
  height: 1%;
}

#content {
  display: block;
}

// reduce padding below edit proposal button block
#content.ep {
  padding-top: 16px;
}

ol, ul {
  margin-left: 0;
}

ol li {
  margin-left: 20px;
}

ul li {
  margin-left: 11px;
}

.b-layout__left {
  float: left;
}

.b-layout__right {
  float: right;
}

.b-layout__center {
  text-align: center;
}