#if (! $page.getName($locale).contains('Register')) 

<div class="savechanges-wrap">
 <div class="savechanges">
    <!-- Registration -->
    <div class="popup_reg">
      <div class="popupreg_form">
        <div class="closepopupreg"><a href="javascript:;" class="closereg"><img src="/climatecolab-theme/images/help_close.png" width="20" height="20" alt="X" /></a></div>
        <div class="popupreg_head"><h3>Join the CoLab</h3></div>
        <div class="popupreg_message">This page requires you to login...<div class="popupreg_facebook"><a href="javascript:clickFacebookButton()"><img src="/climatecolab-theme/images/popuplogin_facebook.gif" width="154" height="22" alt="Login with Facebook" /></a></div></div>
        <div class="is-required"><img src="/climatecolab-theme/images/reg-star.png" width="8" height="7" align="texttop" /> is a required field.</div>      
        <form method="post" id="createAccountForm" action="/web/guest/loginregister?p_p_id=loginregister&p_p_lifecycle=1&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&saveLastPath=1&_loginregister_struts_action=%2Fext%2Floginregister%2Fcreate_account&_loginregister_isRegistering=true">
          <input name="cmd" type="hidden" value="add"/>
          <input name="birthdayMonth" type="hidden" value="0"/>
          <input name="birthdayDay" type="hidden" value="1"/>
          <input name="birthdayYear" type="hidden" value="1970"/>
          
          #if ($request.getParameter('isRegistering')) 
            #parse ("$full_templates_path/signin_reg_error_message_translator.vm")
          #end
          
          #set ($screenName = '')
          #set ($emailAddress = '')
          #set ($lastName = '')
          #set ($firstName = '')
          
          #if ($request.getParameter('screenName'))
            #set ($screenName = $request.getParameter('screenName'))
          #end          
          #if ($request.getParameter('emailAddress'))
            #set ($emailAddress = $request.getParameter('emailAddress'))
          #end          
          #if ($request.getParameter('lastName'))
            #set ($lastName = $request.getParameter('lastName'))
          #end          
          #if ($request.getParameter('firstName'))
            #set ($firstName = $request.getParameter('firstName'))
          #end
          
          
          
          <p><div class="popupreg_txt req">Screen name:</div><input name="screenName" class="popupreg_input" type="text" value="$screenName" maxlength="75" /></p>
          <p><div class="popupreg_txt req">Email address:</div><input name="emailAddress" class="popupreg_input" type="text" value="$emailAddress"  maxlength="255" /></p>
          <p><div class="popupreg_txt">First name:</div><input name="firstName" class="popupreg_input" type="text" value="$firstName"  maxlength="75" /></p>
          <p><div class="popupreg_txt">Last name:</div><input name="lastName" class="popupreg_input" type="text" value="$lastName"  maxlength="75 "/></p>
          <p><div class="popupreg_txt req">Password:</div><input name="password1" class="popupreg_input" type="password" value=""  maxlength="75" /></p>
          <p><div class="popupreg_txt req">Retype Password:</div><input name="password2" class="popupreg_input" type="password" value="" maxlength="75" /></p>
          <div class="clearfix"></div>
          #if (! $page.getName($locale).toLowerCase().contains('feedback'))
          <div class="popupreg_recap"><div class="popupreg_txt req recap">Retype the words</div>
            <div class="popupreg_recaptcha">
            <script type="text/javascript">
                var RecaptchaOptions = { lang : 'en'};
            </script>
            <script type="text/javascript" src="$propsUtil.get("captcha.engine.recaptcha.url.script")$propsUtil.get("captcha.engine.recaptcha.key.public")">
            </script>
            <noscript>
                           
                <iframe src="$propsUtil.get("captcha.engine.recaptcha.url.noscript")$propsUtil.get("captcha.engine.recaptcha.key.public")"
                        height="300" width="500" frameborder="0"></iframe><br />
                <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                <input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
            </noscript>
            </div>
            <div class="clear"></div>
            
          </div>    
          #end      
          <div class="popupreg_terms">
            <div class="popupreg_txt terms">Terms of use</div>
            <div class="popupreg_terms-right">By registering for this site, you agree to abide by the <a href="http://cci.mit.edu/research/climatehelp/CollaboratoriumTermsUse.html" target="_blank">Terms of Use</a></div>
          </div>
          <div class="clearfix"></div>
          <div class="popupreg_submit_wrap"><input type="submit" name="submit"  class="popupreg_submit closereg" value="" onclick="addRedirectBeforeSubmit('createAccountForm')" /></div>
        </form>
      </div>
    </div>
    <!-- /Registration -->
    
  <div class="btns">
   <div class="blue-button"><a href="javascript:;" class="s1">SAVE changes</a></div> <div class="gray-button"><a href="javascript:;" class="s2">Discard changes</a></div>
  </div>
 </div>
</div>
 #end 
