<div id="popup_flagging" class="c-Popup__wrapper small" style="display: none;">
    <div class="c-Popup">
        <div class="closepopuplogin"><a href="javascript:;" onclick="jQuery('#popup_flagging').hide()"><img src="$images_folder/help_close.png" width="20" height="20" alt="X" /></a></div>

        <h4>Why do you want to report this content?</h4>

        <div class="c-Alert__info__message">
            This content will be reviewed by moderators if it is reported by enough users.
            Please review the reporting guidelines for more information and to avoid false reports.
        </div>
        <div class="clearfix"></div>
        <div class="login_popup_box">
            <form id="popup_flagging_form" method="post" action="/flagging/report">
                <input type="hidden" name="targetType" id="popup_flagging_form_targetType"/>
                <input type="hidden" name="targetId" id="popup_flagging_form_targetId"/>
                <input type="hidden" name="targetAdditionalId"
                       value="0" id="popup_flagging_form_targetAdditionalId"/>
                <label>Reason:</label> <br />
                <select name="reason" id="popup_flagging_reasons" style="width: 350px;"></select>
                <div class="clearfix"></div>
                <label>Comment:</label> <br />
                <textarea name="comment" placeholder="Optional comment" style="width: 350px;"></textarea> <br />
                <a class="c-Button__primary" href="javascript:;" class="c-Header__login__submit" onclick="jQuery(this).parents('form').submit();">Report</a>
            </form>
        </div>
    </div>
</div>
<!-- /report popup -->

<script type="text/javascript">
    jQuery("#popup_flagging_form").submit(function(e) {

        var url = jQuery("#popup_flagging_form").attr("action");

        jQuery.ajax({
            type: "POST",
            url: url,
            data: jQuery("#popup_flagging_form").serialize(),
            success: function(data)
            {
                if (data.success) {
                    jQuery('#popup_flagging').hide()
                    jQuery.growlUI('SUCCESS');
                } else {
                    jQuery('#popup_flagging').hide()
                    jQuery.growlUI('ERROR');
                }
            }
        });

        e.preventDefault();
    });
</script>