#if ( $request.getParameter('signinRegError') == 'AuthException') 
    #set( $error = 'Authentication failed, please check your screen name and password.' )
#elseif ( $request.getParameter('signinRegError') == 'NoSuchUserException')
    #set ($error = 'Authentication failed, please check your screen name and password.' )
#elseif ( $request.getParameter('signinRegError') == 'MemberNotFoundException')
    #set ($error = 'Authentication failed, please check your screen name and password.' )
#elseif ( $request.getParameter('signinRegError') == 'UserEmailAddressException') 
    #set ($error = "Please enter a valid screen name or email address" )
#elseif ( $request.getParameter('signinRegError') == 'UserLockoutException') 
    #set ($error = "This account has been locked")
#elseif ( $request.getParameter('signinRegError') == 'UserPasswordException' )
    #set ($error = "Please enter a valid screen name and password")
#elseif ( $request.getParameter('signinRegError') == 'UserScreenNameException')
    #set ( $error =  "Please enter a valid screen name")
#elseif ( $request.getParameter('signinRegError') == 'CaptchaTextException') 
    #set ( $error = "Captcha text verification failed" )
#elseif ( $request.getParameter('signinRegError') == 'ContactFirstNameException')
    #set ($error = "Please enter a valid first name")
#elseif ( $request.getParameter('signinRegError') == 'ContactLastNameException')
    #set ($error = "Please enter a valid last name")
#elseif ( $request.getParameter('signinRegError') == 'DuplicateUserEmailAddressException')
    #set ($error = "Requested email address is already taken")
#elseif ( $request.getParameter('signinRegError') == 'DuplicateUserScreenNameException')
    #set ($error = 'Requested screen name is already taken')
#elseif ( $request.getParameter('signinRegError') == 'ReservedUserEmailAddressException')
    #set ($error = 'Requested email address is reserved')
#elseif ( $request.getParameter('signinRegError') == 'CookieNotSupportedException')
    #set ($error = "Please check your browser configuration, cookies must be enabled!")
#elseif ($request.getParameter('signinRegError'))
    #set ($error = "An error occurred")
#end
#if ($error) 
     <div class="c-Alert__error__message"><p>$error</p></div>
#end