<div id="popup_login" class="c-Popup__wrapper small" style="display: none;">
    <div class="c-Popup">
        <div class="closepopuplogin"><a href="javascript:;" onclick="jQuery('#popup_login').hide()"><img src="$images_folder/help_close.png" width="20" height="20" alt="X" /></a></div>
        
        <h4>Please log in to the $_colab_name</h4>
    #if ($request.getParameter('isSigningIn')) 
        #parse ("$full_templates_path/signin_reg_error_message_translator.vm")
        #set($loginMessageClass='hidden')
    #else 
        #set($loginMessageClass='')
    #end
        <div class="c-Alert__info__message $loginMessageClass ">
            Welcome!  To access the link you clicked, please login or register as a free member using Facebook, Google, or your username &amp; password.
        </div>
        <div class="c-Header__login__with">
            <a href="/web/guest/loginregister/-/login/SSO/facebookRegister" class="sketchy-icon-black facebook-sketchy" style="margin:0 30px 0 70px;"><span>Facebook</span></a>
            <a href="/web/guest/loginregister/-/login/SSO/googleRegister" class="sketchy-icon-black google-sketchy"><span>Google</span></a>
        </div>
        <div class="clearfix"></div>
           <div class="login_popup_box">
                <form id="signInForm_form" method="post" action="/web/guest/loginregister?p_p_id=loginregisterportlet_WAR_loginregisterportlet&p_p_lifecycle=1&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&saveLastPath=1&_loginregisterportlet_WAR_loginregisterportlet_isLoggingIn=true"
                        onsubmit="addRedirectBeforeSubmit('signInFormPopup'); return true;" >
                    <input type="hidden" name="isLoggingIn" value="true" />
                    <label>Username:</label> 
                    <input name="login" type="text" class="c-Header__login__username" onkeypress="return submitenter(this,event)" style="float: right;"/>
                    <div class="clearfix"></div>
                    <label>Password:</label> &nbsp;
                    <input name="password" type="password" class="c-Header__login__password" onkeypress="return submitenter(this,event)" style="float: right;"/>
                    <input name="redirect" type="hidden" />
                    <div class="btns">
                        <div style="float: left;">
                            <span><em><a href="javascript:;" class="c-Header__login__forgot" style="color:#900;" onclick="showForgotPasswordPopup()">Forgot your password?</a></em></span><br />
                            <span><em><a href="/web/guest/loginregister?redirect=$escapeTool.url($themeDisplay.uRLCurrent)" class="c-Header__login__forgot" >Haven't registered yet?</a></em></span><br />
                            <div class="clearfix"></div>
                        </div>
                            <a class="c-Button__primary" href="javascript:;" class="c-Header__login__submit" onclick="jQuery(this).parents('form').submit();" id="deferLoginPopupSubmit">LOGIN</a>
                    </div>
                </form>
            </div>            
        </div>
</div>
<!-- /popup login -->



  
<div id="popup_forgotpassword" class="c-Popup__wrapper small" style="display: none;">
    <div class="c-Popup">
        <div class="closepopuplogin"><a href="javascript:;" onclick="jQuery('#popup_forgotpassword').hide()"><img src="$images_folder/help_close.png" width="20" height="20" alt="X" /></a></div>
    
        <h4>Password recovery</h4>
        
        #if ($request.getParameter('isPasswordReminder')) 
        	#parse ("$full_templates_path/signin_reg_error_message_translator.vm")
        #else
        	<div class="c-Alert__info__message"><p>Enter your email or screen name to get new password</p></div>
        #end            
        <div class="login_popup_box">
            <form id="forgotPasswordForm" method="post" action="/web/guest/loginregister?p_p_id=loginregisterportlet_WAR_loginregisterportlet&p_p_lifecycle=1&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&saveLastPath=1&_loginregisterportlet_WAR_loginregisterportlet_isForgotpass=true"
                    onsubmit="addRedirectBeforeSubmit('forgotPasswordForm'); processForgotPasswordForm('forgotPasswordForm');" >
                <label>Username/email:</label> 
                <input name="screenName" type="text" class="c-Header__login__username screenName" placeholder="username/email" onkeypress="return submitenter(this,event)" />
                    
                <div class="btns">
                    <a class="c-Button__primary" href="javascript:;" onclick="jQuery(this).parents('form').submit(); " >Request new password</a>
                </div>
            </form>
        </div>
      </div>
    </div>
    <!-- /popup login -->

#if ($isSharedColab)
    <!-- Shared poupup login -->
    <div id="popup_SSO_login" class="c-Popup__wrapper small" style="display: none;">
    <div class="c-Popup">
        <div class="closepopuplogin"><a href="javascript:;" onclick="jQuery('#popup_SSO_login').hide()"><img src="$images_folder/help_close.png" width="20" height="20" alt="X" /></a></div>
        <div><img style="max-height:55px" src="$images_folder/$partnerColabLogo"/> </div>
        <div style="margin-top: 15px;margin-bottom: 15px;">Are you a $partnerColabName member? Login to $_colab_name using your $partnerColabName username and password.</div>
        <div style="font-size: small;">$_colab_name will receive your $partnerColabName public profile and email address.</div>
        <div class="clearfix"></div>
    #if ($request.getParameter('isSSOSigningIn'))
        <div class="c-Alert__error__message"><p>Authentication failed, please check your username and password.</p></div>
    #end
        <div class="login_popup_box">
            <form id="signInSSOForm_form" method="post" action="/web/guest/loginregister/-/login/SSO/colabSSO?p_auth=TLipuzLG&_loginregisterportlet_WAR_loginregisterportlet_javax.portlet.action=initiateLoginOrReg"
                  onsubmit="addRedirectBeforeSubmit('signInSSOForm_form'); return true;" >

                <label>Username:</label>
                <input name="login" type="text" class="c-Header__login__username" onkeypress="return submitenter(this,event)" style="float: right;"/>
                <div class="clearfix"></div>
                <label>Password:</label> &nbsp;
                <input name="password" type="password" class="c-Header__login__password" onkeypress="return submitenter(this,event)" style="float: right;"/>
                <input name="redirect" type="hidden" />
                <div class="btns" style="margin-top: 26px;text-align: right;">
                    <a class="c-Button__primary" href="javascript:;" class="c-Header__login__submit" onclick="jQuery(this).parents('form').submit();" id="">LOGIN</a>
                </div>
            </form>
        </div>
    </div>
    </div>

    <div id="popup_SSO_autoreg" class="c-Popup__wrapper small" style="display: none;width: 473px;">
        <div class="c-Popup">
            <div class="closepopuplogin"><a href="javascript:;" onclick="jQuery('#popup_SSO_autoreg').hide()"><img src="$images_folder/help_close.png" width="20" height="20" alt="X" /></a></div>
            <div><img style="max-height:55px;margin-right: 10px;" src="$images_folder/logo-climate-colab.png"/> <img style="max-height:55px" src="$images_folder/$partnerColabLogo"/> </div>
            <div style="margin-top: 15px;margin-bottom: 15px;">$_colab_name has teamed up with $partnerColabName to run this $contestNameLowerCase. To participate, click "OK" below.
                When you save your $proposalNameLowerCase, you'll be able to see and make changes to it on either site – all edits and comments will be synced between the two platforms.
                We'll even create a linked account so you can log into $partnerColabName  with your $_colab_name username and password.  It's easy!</div>
            <div style="font-size: small;">$partnerColabName will receive your $_colab_name public profile and email address. Questions? Contact $adminEmail.</div>
            <div class="clearfix"></div>
            <div class="login_popup_box">
                <div class="btns" style="margin-top: 26px;text-align: right;">

                    <a class="c-Button__primary" href="javascript:handleOkForSharedColabAutoReg();" class="c-Header__login__submit"  id="yes_auto_reg" style="">OK</a>
                    <a class="c-Button__primary" href="javascript:handleNoForSharedColabAutoReg();" class="c-Header__login__submit"  id="no_auto_reg" >CANCEL</a>

                </div>
            </div>
        </div>
    </div>
        <!-- Shared poupup login -->
    #end