/*  HOMEPAGE  ------------------------------------------------------------------------------ */

.homespot {
  background: url(../images/bg-noise.png) $lightest-grey;
  padding-bottom: 5px;
}

.topshade {
  height: 9px;
  background: url(../images/topshade.png) repeat-x;
  position: relative;
  z-index: 5;
}

.earth {
  background: url(../images/homespot/earth.png) no-repeat 500px top;
  @include background-size(contain);
  width: 100%;
  min-height: 336px;
  position: relative;
  top: -9px;
}

.homespot-left {
  float: left;
  width: 530px;
  padding-left: 10px;
  color: $darkest-grey;
  position: relative;
  font-size: 16px;
}

.social {
  font-size: 14px;
  width: 150px;
  position: absolute;
  right: -9px;
  top: 2px;
}

.homespot-left h1 {
  font-size: 35px;
  margin: 20px 0 10px 0;
}

a.learn {
  @include theme-button($primary-color, $primary-darkest, url(../images/homespot/light-bulb-white.png));
  text-transform: uppercase;
  margin-right: 15px;
}

a.get {
  @include theme-button($secondary-color, $secondary-darkest, url(../images/homespot/people-white.png));
  text-transform: uppercase;
  margin-right: 15px;
}

.newsbox {
  background: url(../images/bg-noise.png) $lightest-grey;
  width: 418px;
  font-size: 15px;
  padding: 10px 26px 10px 18px;
  margin: 25px 0 25px;
  position: relative;
  border: 1px solid $light-grey;
  @include border-radius(6px);
}

.newsbox h3 {
  float: left;
  font-size: 15px;
  color: black;
  width: 55px;
}

.newsbox-arrow {
  position: absolute;
  top: 8px;
  left: -17px;
  width: 17px;
  height: 17px;
  background: url(../images/newsbox-arrow.png) no-repeat;
}

.newsbox:after, .homespot:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.newsbox, .homespot {
  display: inline-block;
}

* html .newsbox, * html .homespot {
  height: 1%;
}

.newsbox, .homespot {
  display: block;
}

.newslinks {
  float: left;
  width: 363px;
}

.newslinks a.readmore {
  color: black;
}

.newslinks a.readmore:hover {
  border-bottom: 1px solid black;
}

.social-icon {
  float: left;
  height: 17px;
  padding: 1px 0 0 25px;
  text-indent: -999px;
  overflow: hidden;
  font-size: 0;
}

.facebook {
  background: url(../images/icon-facebook.png) no-repeat;
}

.twitter {
  background: url(../images/icon-twitter.png) no-repeat;
}

.reddit {
  background: url(../images/icon-reddit.png) no-repeat;
}

.pinterest {
  background: url(../images/icon-pinterest.png) no-repeat;
}

.linkedin {
  background: url(../images/icon-linkedin.png) no-repeat;
}

.googleplus {
  background: url(../images/icon-googleplus.png) no-repeat;
}

.youtube {
  background: url(../images/icon-youtube.png) no-repeat;
}

.sketchy-icon {
  height: 32px;
  display: block;
  float: left;
  padding: 8px 0 0 41px;
  color: $lightest-grey !important;
}

.sketchy-icon-black {
  height: 32px;
  display: block;
  float: left;
  padding: 8px 0 0 41px;
  color: black !important;
}

.sketchy-icon span:hover {
  border-bottom: 1px dashed white;
}

.facebook-sketchy {
  background: url(../images/facebook_sketchy.png) no-repeat;
  background-size: 32px;
}

.google-sketchy {
  background: url(../images/google_sketchy.png) no-repeat;
  background-size: 32px;
}

/* <Conference Countdown Flipclock>*/
#conference-countdown {
  position: absolute;
  top: 319px;
  width: 420px;
  left: 625px;
}

.countdown-day {
  z-index: 1;
  position: relative;
  font-size: 26px;
  display: block;
  margin: 11px 0 0 15px;
}

.countdown-graphic {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.conference-days {
  color: $accent-color;
  font-weight: bold;
  margin: 16px 0 0 60px;
  display: block;
}

.conference-until {
  margin: 16px 0 0 5px;
  display: block;
}

#conference-countdown span, #conference-countdown img {
  float: left;
}

#sec {
  width: 48px;
  position: absolute;
  float: left;
  height: 40px;
  top: 336px;
  left: 630px;
  z-index: 1;
}

.flip {
  position: absolute;
  height: 20px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  width: 48px;
  color: black;
}

.top {
  top: 0;
  @include transform-origin(center bottom);
  background: url('../images/flip_top.png') no-repeat;
}

.bottom {
  top: 19px;
  @include transform-origin(center top);
  background: url('../images/flip_bottom.png') no-repeat;
}

.bottom SPAN {
  display: block;
  margin-top: -19px;
}

.ap {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  left: 30px;
  top: 170px;
}

.front {
  z-index: 200;
}

.back {
  z-index: 0;
}

.hide {
  display: none;
}

.ani1 .top.front {
  @include skew(5deg);
  @include scaleY(.90);
}

.ani2 .top.front {
  @include skew(10deg);
  @include scaleY(.60);
}

.ani3 .top.front {
  @include skew(20deg);
  @include scaleY(.30);
}

.ani4 .top.front {
  @include skew(50deg);
  @include scaleY(0.10);
}

.ani4 .bottom.front {
  @include skew(-50deg);
  @include scaleY(0.10);
}

.ani3 .bottom.front {
  @include skew(-20deg);
  @include scaleY(.30);
}

.ani2 .bottom.front {
  @include skew(-10deg);
  @include scaleY(.60);
}

.ani1 .bottom.front {
  @include skew(-5deg);
  @include scaleY(.90);
}

/* </ Conference Countdown Flipclock>*/

.landingpage-links {
  float: right;
}

/* columns ------------- */
.home-left {
  float: left;
  width: 520px;
}

.home-right {
  float: left;
  width: 464px;
}

.home #content h2 {
  font-size: 20px;
  color: $darkest-grey;
  margin-bottom: 18px;
}

.home #content h2.flt {
}

.home #content h2 span {
  font-size: 15px;
  padding-left: 5px;
}

.rss {
  float: right;
  margin-right: 30px;
  width: 20px;
}

/* homepage activity boxes ------------- */
.activitybox {
  border-bottom: 1px solid $light-grey;
  font-size: 14px;
  color: $dark-grey;
}

.activitybox:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.activitybox {
  display: inline-block;
}

* html .activitybox {
  height: 1%;
}

.activitybox {
  display: block;
}

.activitybox.blu {
  background: $primary-light-grey;
}

.activitybox.bottom {
  border-bottom: none;
}

.activitybox .status {
  float: left;
  width: 50px;
  height: 50px;
}

.activitybox .text {
  float: left;
  width: 85%;
  line-height: 20px;
}

.activitybox h3 {
  font-size: 14px;
  color: $dark-grey;
}

.activitybox .status {
  margin-left: 5px;
}

.activitybox .comment {
  background: url(../images/icon-activity-comment.png) no-repeat left 12px;
}

.activitybox .edit {
  background: url(../images/icon-activity-edit.png) no-repeat left 12px;
}

.activitybox .new {
  background: url(../images/icon-activity-new_proposal.png) no-repeat left 12px;
}

.activitybox .up {
  background: url(../images/icon-activity-thumbs_up.png) no-repeat left 11px;
}

.activitybox .new_user {
  background: url(../images/icon-activity-new_user.png) no-repeat left 10px;
}
