.searchpop, .loginpop {
  display: none;
}

.popupreg_message {
  margin-top: 35px;
}

.is-required {
  font-style: italic;
  color: #606060;
  margin-bottom: 20px;
}

.popupreg_head {
  float: left;
  width: 50%;
}

.popupreg_head h1 {
  color: #000;
  font-size: 36px;
}

.sso-register {
  float: right;
  width: 50%;
  margin-bottom: 20px;
}

.popupreg_txt.req {
  background: url(../images/reg-star.png) no-repeat 225px 4px;
}

.popupreg_txt {
  float: left;
  text-align: right;
  font-weight: 600;
  width: 220px;
  height: 27px;
  padding: 6px 20px 0 0;
  color: #444444;
}

.popupreg_input_container {
  margin-bottom: 15px;
}

.popupreg_input {
  float: left;
  border: 1px solid #898989;
  width: 300px;
  height: 33px;
  padding: 2px 0 0 8px;
  font-size: 13px;
  font-weight: 400;
}

.popupreg_form {
  background: white;
  width: 100%;
  padding-bottom: 25px;
  position: relative;
  top: -5px;
  left: -5px;
}

.popupreg_recap #recaptcha_area, .popupreg_recap #recaptcha_table, .popupreg_recap #recaptcha_widget_div {
  display: inline;
}

.popupreg_txt.recap {
  margin-top: 45px;
}

.popupreg_recap {
  margin-top: 40px;
}

.popupreg_terms {
  margin-top: 30px;
  color: #444;
}

.popupreg_submit_wrap {
  margin-top: 30px;
  text-align: center;
}

/** User signed in header **/
.userpop ul li {
  list-style: none;
}

#userPopupContainer {
  display: none;
}

#menu-right li.c {
  background: white;
  border-left: 1px solid #888782;
}

/*** POPUPS ****/
//TODO: this might patrially go to the popups partial

.popup-wrap.small {
  width: 432px;
  margin-left: -216px;
}

.popup-wrap.proposal-picker {
  width: 1044px;
  margin-left: -522px;
}

.popup .error-message {
  border: 1px dashed #555555;
  background: #ffeeee;
}

.popup .popup-message {
  border: 1px dashed #555555;
  background: #e7f1f5;
}

.popup .error-message, .popup .popup-message, .error-message-registerOrLogin {
  border-left: 0;
  border-right: 0;
  padding: 10px 10px;
  margin: 0 0 15px 0;
}

.popup .error-message p, .popup .popup-message p, .error-message-registerOrLogin p {
  margin: 0;
}

.popup .login_popup_box {
  /* width: 374px;*/
  padding: 17px 0 10px 13px;
  /*background: url(../images/search-bg.png);*/
  font-size: 14px;
  color: #545454;
  font-weight: 700;
}

.popup .login_popup_box .username, .popup .login_popup_box .password {
  border: 1px solid #bbb;
}

#popup_forgotpassword .username {
  width: 224px;
}

.closepopuplogin {
  position: absolute;
  top: 10px;
  right: 10px;
}

.inputLimitContainer {
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
}

.inputLimitContainer.overflow {
  color: #b00;
  font-weight: bold;
}

.login-box-table {
  float: left;
}

table.login-box-table td {
  padding: 0 3px 0 0;
  vertical-align: middle;
}

table.login-box-table th {
  padding: 0 3px 10px 0;
  vertical-align: middle;
}