/* PROPOSALS ----------------------------------------------------------------------------- */

/* proposal HEADER */
.proposal-head {
  padding-top: 28px;
  background: url(../images/pattern-6x6-blue.png);
  border-bottom: 1px solid #969696;
}

.proposal-head:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.proposal-head {
  display: inline-block;
}

* html .proposal-head {
  height: 1%;
}

.proposal-head {
  display: block;
}

.proposal-image {
  float: left;
  width: 52px;
  height: 52px;
  margin-right: 15px;
}

.proposal-title {
  float: left;
  width: 910px;
  color: #272727;
  overflow: hidden;
}

.prop-description {
  font-size: 18px;
}

.prop-description a {
  font-weight: 700;
}

.proposal-head h1 {
  font-size: 29px;
}

/* proposal TABS */
.prop-tabs {
  margin-top: 8px;
}

.prop-tabs ul {
  height: 37px;
}

.prop-tabs li {
  float: left;
  list-style: none;
  height: 37px;
  margin-right: 6px;
}

.prop-tabs li a {
  height: 24px;
  padding: 13px 12px 0;
  display: inline-block;
  font-size: 13px;
  color: white;
  background: $primary-color;
  text-transform: uppercase;
  font-weight: 700;
  @include border-top-left-radius(5px);
  @include border-top-right-radius(5px);
  @include box-sizing(content-box);
}

.prop-tabs li a:hover {
  height: 24px;
  padding: 12px 11px 1px;
  background: $primary-darkest;
  border-top: 1px solid #969696;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
}

.prop-tabs li.c a {
  height: 25px;
  padding: 12px 11px 0;
  color: $primary-color;
  background: white;
  border-top: 1px solid #969696;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
}

.prop-tabs li a div {
  display: inline;
  text-align: center;
  font: 12px Arial, Helvetica, sans-serif;
  color: white;
  background: $primary-darkest;
  padding: 0 5px;
  margin-left: 5px;
  @include border-radius(8px);
}

.discussion-button-badge {
  position: absolute;
  right: -7px;
  top: -6px;
  display: inline;
  text-align: center;
  font: 12px Arial, Helvetica, sans-serif;
  color: white;
  background: $primary-darkest;
  padding: 0 5px;
  margin-left: 5px;
  @include border-radius(8px);
}

.button-wrapper {
  position: relative;
  display: inline-block
}

.button-wrapper .detailbutton {
  overflow: auto;
}

/* edit proposal block */
.edit-prop-wrap {
  border-bottom: 1px dashed #666;
  padding: 31px 0 13px;
}

.edit-prop {
  font-size: 13px;
}

.edit-prop a {
  font-weight: 700;
}

.edit-prop-butts {
  float: left;
  margin-right: 5px;
}

.edit-prop-butts a, .edit-prop-butts span {
  height: 20px;
  padding: 3px 10px 0;
  margin-right: 5px;
  display: inline-block;
  background: $primary-darkest;
  font-size: 14px;
  color: white;
  @include border-radius(3px);
}

.edit-prop-butts span {
  background: #b4b4b4;
  font-weight: 700;
}

.lastedited {
  float: left;
  height: 19px;
  font-size: 13px;
}

/* proposal columns */
.prop-left {
  float: left;
  width: 631px;
  margin-right: 23px;
  line-height: 24px;
}

.prop-right {
  float: left;
  width: 330px;
}

.prop-left h2 {
  font-size: 27px;
  color: $secondary-color;
  margin: 10px 0 16px;
  text-align: justify;
}

.prop-left h3 {
  font-size: 22px;
  margin-bottom: 13px;
  color: #454545;
}

.prop-left p {
  color: #545454;
}

.prop-left p.intro {
  font-size: 19px;
  line-height: 27px;
}

.div1 {
  background: #efefe7;
  height: 6px;
  margin: 30px 0 30px;
}

.div2 {
  background: #a3a39e;
  height: 1px;
  margin: 38px 0 30px;
}

.div3 {
  border-top: 1px dotted #7f7f7f;
  height: 1px;
}

/*  the Table-like rows of proposals */
.propbox {
  clear: both;
  height: 78px;
  padding: 0 0 0 14px;
  border-bottom: 1px solid #d4d4d4;
}

.propbox.featured {
  background: #efefe7;
}

.propbox.top {
  margin-top: -4px;
}

.propbox .row1 {
  height: 38px;
  padding-top: 7px;
}

.propbox .row2 {
  height: 30px;
  font-size: 13px;
  color: #454545;
  clear: both;
}

.propbox .title-author {
  float: left;
  width: 632px;
  margin-top: 12px;
}

.propbox.featured .title-author {
  float: left;
  width: 602px;
  margin-top: 12px;
}

.propbox.completed .title-author {
  width: 752px;
}

.propbox.featured.completed .title-author {
  width: 722px;
}

.propbox h4 {
  float: left;
  display: inline;
  font-weight: 700;
  color: #454545;
}

.propbox h4 span {
  color: black;
}

.thumbbox, .commbox, .voteboxsmall {
  float: left;
  width: 30px;
  height: 22px;
  font-weight: 700;
  color: black;
  padding: 4px 0 0 31px;
  @include border-radius(3px);
}

.thumbbox {
  background: url(../images/icon-proposal-support.png) no-repeat 11px 5px #efefe7;
  margin-right: 6px;
}

.commbox {
  background: url(../images/icon-proposal-comments.png) no-repeat 11px 5px #efefe7;
  margin-right: 18px;
}

.voteboxsmall {
  background: url(../images/icon-proposal-vote-small.png) no-repeat 11px 5px #efefe7;
  margin-right: 6px;
}

.modbox {
  float: left;
  width: 81px;
  padding-top: 4px;
}

.conbox {
  float: left;
  width: 99px;
  padding-top: 4px;
}

.propbox.featured .ribbonPlaceholder {
  height: 28px;
  width: 30px;
  float: left;
}

.propbox.featured .row2 {
  padding-left: 30px;
}

.propbox-red {
  background-color: $alert-color !important;
}

.propbox-green {
  background-color: $secondary-light !important;
}

/* right column */
.votebox-wrap {
  width: 334px;
  margin-top: -34px;
}

/* increase negative top margin for edit proposal button block */
.votebox-wrap.ep {
  width: 334px;
  margin-top: -87px;
}

.votebox-shade {
  width: 331px;
  background: #a3a39e;
  margin: 3px 0 0 3px;
}

.votebox {
  width: 331px;
  background: #efefe7;
  border: 1px solid #c5c5c5;
  position: relative;
  top: -5px;
  left: -5px;
}

.votebox-top {
  border-bottom: 1px dotted #7f7f7f;
  padding: 10px 10px 20px 18px;
}

.votebox-top .vote {
  float: left;
  width: 260px;
  padding-top: 17px;
  font-size: 27px;
  color: #454545;
}

.votebox-top .vote span {
  font-size: 33px;
  color: $secondary-color;
  font-weight: 700;
}

.votebox-top .vote img {
  padding: 0 3px 0 5px;
}

.votebox-top .question {
  float: right;
  width: 23px;
  height: 23px;
}

.votebox-top .blue-button {
  margin-top: 5px;
  font-weight: 400;
}

.votebox-bottom {
  font-size: 16px;
  color: #545454;
  background: #e6e4d5;
  padding: 14px 0 17px 18px;
}

.votebox-bottom span {
  font-size: 20px;
  font-weight: 700;
}

.votebox-bottom a {
  font-weight: 700;
  margin-left: 5px;
}

.votebox-bottom img {
  padding-right: 6px;
  vertical-align: -3px;
}

.prop-right .share {
  margin: 17px 0 36px 17px;
}

.prop-right .share a {
  margin-right: 15px;
}

.prop-right .share img {
  vertical-align: middle;
}

.prop-right h5 {
  padding: 10px 0 10px 12px;
  line-height: normal;
  text-transform: uppercase;
  color: $secondary-color;
}

.prop-right h5.toppad {
  padding: 42px 0 5px 12px;
}

.prop-right h5.topbox {
  padding: 10px 0 10px 12px;
  margin-bottom: 9px;
  background: #efefe7;
  font-size: 13px;
  color: #6a6a6a;
  border-top: 1px dotted #7f7f7f;
}

.prop-title {
  background: #efefe7;
  border-bottom: 1px solid #c5c5c5;
  line-height: 21px;
  color: #272727;
  padding: 13px 18px 13px 12px;
}

.prop-title.addprop {
  background: none;
  border-bottom: none;
  font-weight: 700;
  padding: 0 18px 9px 12px;
}

.prop-avatar {
  padding: 10px 12px 11px 12px;
  font-size: 15px;
  color: #272727;
}

.prop-avatar img {
  vertical-align: middle;
}

.prop-contest {
  background: #efefe7;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  font-size: 13px;
  line-height: 18px;
  color: #272727;
  padding: 10px 18px 12px 12px;
  margin-bottom: 3px;
}

.prop-settings {
  background: #efefe7;
  border-bottom: 1px solid #c5c5c5;
  font-size: 13px;
  line-height: 18px;
  color: #272727;
  padding: 8px 18px 10px 12px;
}

.prop-results {
  padding: 10px 12px 0 12px;
}

.prop-results div {
  font-size: 13px;
  line-height: 16px;
  color: #545454;
  margin-bottom: 10px;
}

.prop-title a, .prop-avatar a, .prop-contest a, .prop-results a {
  font-weight: 700;
}

/* contributors table */
.contributors a {
  font-weight: 700;
}

.contributors td {
  color: #545454;
  padding: 6px 10px;
  vertical-align: middle;
}

.contributors td.big {
  padding-top: 12px;
}

.contributors td img {
  padding-right: 12px;
  vertical-align: middle;
}

.contributors tr.odd td {
  background: #efefe7;
}

.contributors tr.bottom td {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

/* comments table */
.comments {
  font-size: 15px;
}

.comments td {
  border-bottom: 3px solid white;
}

.comments tr.odd td {
  background-color: #efefe7;
}

.commentor {
  background-image: url(../images/pattern-6x6.png);
  width: 212px;
  padding: 16px 20px 26px 16px;
  line-height: 19px;
  color: black;
}

.commentor img {
  margin-bottom: 14px;
}

.commentor a, .commentor span {
  font-weight: 700;
}

.the-comment {
  width: 693px;
  padding: 26px 20px 15px 23px;
  line-height: 22px;
  color: #454545;
}

/* add proposal boxes */
.addpropbox {
  background: #efefe7;
  @include border-radius(12px);
  padding: 13px 15px 12px 12px;
  margin-bottom: 13px;
  line-height: 19px;
}

.addpropbox:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.addpropbox {
  display: inline-block;
}

* html .addpropbox {
  height: 1%;
}

.addpropbox {
  display: block;
}

.addpropbox.blue {
  background: $primary-light-grey;
}

/* form fields */
.addpropform label {
  float: left;
  width: 110px;
  display: inline-block;
  font-size: 16px;
  color: #6a6a6a;
}

.addpropform label strong, .addpropform .blue span {
  color: black;
}

.addpropform label img {
  position: relative;
  top: 3px;
}

.addpropform input, .addpropform textarea {
  float: right;
  border: 1px solid #858585;
  font-size: 16px;
}

.addpropform input {
  height: 42px;
  width: 445px;
  padding: 0 5px;
}

.addpropform textarea {
  width: 440px;
  padding: 5px;
}

.addpropform .notation {
  font-size: 15px;
  color: #545454;
  margin: 1px 0 25px 12px;
}

.addpropform .upload {
  float: right;
  width: 455px;
}

.addpropform .upload a {
  padding-top: 20px;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
}

.uploadbox {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px dashed black;
  margin-right: 20px;
}

.addprophelp {
  background: url(../images/icon-addprop-arrow.png) no-repeat 0 3px;
  float: right;
  width: 454px;
  padding: 0 0 5px 11px;
  color: #545454;
}

.proposals #contactForm {
  display: block;
}

.blue-arrow-right {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/climatecolab-theme/images/arrows.png) 18px 0;
  vertical-align: top;
}

.blue-arrow-left {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/climatecolab-theme/images/arrows.png) 0 0;
  vertical-align: top;
}

.contest-flag-container {
  position: absolute;
  top: 115px;
  left: -20px;
}

.contest-flag-left {
  width: 12px;
  height: 36px;
  display: block;
  float: left;
}

.contest-flag-middle {
  float: left;
  height: 36px;
  font-family: "proxima-nova", "proxima-nova-1", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 9px;
}

.contest-flag-right {
  width: 12px;
  height: 36px;
  display: block;
  float: left;
}

.contest-flag-left {
  background: url(/climatecolab-theme/images/banner-green-left.png) repeat-x;
}

.contest-flag-1-middle {
  background: url(/climatecolab-theme/images/banner-green-middle.png) repeat-x;
}

.contest-flag-1-right {
  background: url(/climatecolab-theme/images/banner-green-right.png) repeat-x;
}

.contest-flag-2-left {
  background: url(/climatecolab-theme/images/banner-grey-left.png) repeat-x;
}

.contest-flag-2-middle {
  background: url(/climatecolab-theme/images/banner-grey-middle.png) repeat-x;
}

.contest-flag-2-right {
  background: url(/climatecolab-theme/images/banner-grey-right.png) repeat-x;
}

.historyTable, .historyTable tr, .historyTable td {
  border: 0;
}

.historyTable {
  font-weight: 700;
}

.historyTable td {
  padding: 5px;
}

.historyTable .even td, #proposalPickerTable .ui-datatable-odd {
  background-color: #f1f1e9;

}

.historyTable .ui-datatable-highlighted a, #proposalPickerTable .ui-datatable-highlight {
  color: $secondary-color !important;
}

//TODO: popup?
#previousProposalsPopup.popup-wrap {
  top: -2000px;
  position: relative;
  left: 280px;;
}

.prop-tabs ul {
  margin-bottom: 0;
}
