/** userss list **/
.userslist.table .column.screenName {
	width: 330px;
}

.userslist.table .column.screenName .usersFlag {
	position: relative;
}

/*
.userslist.table .column.usersActivityCount {
	width: 31px;
}

.userslist.table .column.usersCommentsCount {
	width: 35px;
}
*/
.userslist.table .column.usersPoints {
	width: 70px;
	text-align: right;
}

.userslist.table .column.usersActivityCount {
	width: 70px;
	text-align: right;
}

.userslist.table .column.usersCategory {
	width: 95px;
}

.userslist.table .column.usersSeniority {
	width: 95px;
}

.activity {
    text-align: right;
}
