#logo {
  float: left;
  margin-right: 15px;
  margin-top: 12px;
}

/* top menus */
#menu {
  float: left;
  width: 450px;
  height: 67px;
}

#menu li {
  float: left;
  list-style: none;
  border-left: 1px solid $light-grey;
}

#menu li:hover {
  color: $darkest-grey;
}

#menu li.c {
  background: white;
  border-left: 1px solid $medium-grey;
}

#menu li a {
  height: 41px;
  padding: 26px 16px 0 15px;
  color: $primary-color;
  font-weight: 700;
  display: inline-block;
  box-sizing: content-box;
}

#menu li a:hover, #menu li.c a {
  color: $darkest-grey;
  height: 42px;
}

#menu li:hover + li, #menu li.c + li {
  border-left: 1px solid $medium-grey;
}

#menu li a.search {
  background: url(../images/icon-menu-search.png) no-repeat 24px 18px;
  height: 22px;
  padding-top: 45px;
  font-size: 10px;
  color: $dark-grey;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

#menu li a.search:hover, #menu li.c a.search {
  height: 22px;
  color: black;
}

.home #menu li:hover {
  background: url(../images/bg-noise.jpg);
}

.home #menu li a:hover {
  height: 41px;
}

.home #menu li a.search:hover {
  height: 22px;
}

/* not logged in */
#menu-right {
  float: right;
  min-width: 180px;
  height: 67px;
  position: relative;
}

#menu-right li {
  float: left;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

#menu-right li a {
  height: 22px;
  padding: 45px 7px 0 7px;
  font-size: 10px;
  font-weight: 700;
  color: $dark-grey;
  display: inline-block;
  text-transform: uppercase;
}

#menu-right li a:hover {
  color: black;
}

#menu-right li.register {
  background: url(../images/icon-menu-register.png) no-repeat center 13px;
}

#menu-right li.login {
  background: url(../images/icon-menu-login.png) no-repeat center 15px;
  padding-right: 7px;
}

#menu-right li.help {
  background: url(../images/icon-menu-help.png) no-repeat 20px 15px;
  padding-left: 7px;
  border-left: 1px solid $light-grey;
}

#menu-right li.register:hover {
  background: url(../images/icon-menu-register2.png) no-repeat center 13px;
}

#menu-right li.login:hover {
  background: url(../images/icon-menu-login2.png) no-repeat center 15px;
}

#menu-right li.help:hover {
  background: url(../images/icon-menu-help2.png) no-repeat 20px 15px;
}

/* logged in */
#menu-right li.user {
  background: url(../images/arrow-blue_down.png) no-repeat right center;
  margin-right: 11px;
}

#menu-right li.user a {
  height: 47px;
  padding: 20px 15px 0 0;
  color: $primary-color;
  font-size: 15px;
  text-transform: none;
}

#menu-right li.user a:hover {
  color: #333;
}

#menu-right li.user a img {
  border: 1px solid $medium-grey;
  margin-left: 10px;
  vertical-align: -9px;
}

/* MENU RIGHT POPUPS */
#header .inner {
  position: relative;
  z-index: 11;
}

/* SEARCH POP */
.searchpop {
  position: absolute;
  top: 11px;
  left: 520px;
  z-index: 11;
}

.searchtop {
  width: 33px;
  height: 30px;
  padding: 12px 0 0 12px;
  background: $darkest-grey;
  @include border-top-left-radius(3px);
  @include border-top-right-radius(3px);
}

.searchbox {
  width: 274px;
  height: 42px;
  padding: 17px 0 0 12px;
  background: url(../images/search-bg.png);
  @include border-bottom-left-radius(3px);
  @include border-bottom-right-radius(3px);
  @include border-top-right-radius(3px);
}

.search-term {
  float: left;
  width: 199px;
  height: 29px;
  margin-right: 7px;
  padding-left: 5px;
  border: none;
  font: 12px "Lucida Grande", Arial, sans-serif;
}

.search-submit {
  float: left;
  width: 52px;
  height: 30px;
  padding-top: 3px;
  background: $primary-color;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: white;
  text-align: center;
  @include border-radius(3px);
  cursor: pointer;
}

.search-submit:hover {
  background: $primary-dark;
}

/* LOGIN POP */
.loginpop {
  position: absolute;
  top: 11px;
  left: 631px;
  width: 287px;
  z-index: 11;
}

.logintop {
  width: 33px;
  height: 30px;
  padding: 12px 0 0 12px;
  margin-left: 242px;
  background: $darkest-grey;
  @include border-top-left-radius(3px);
  @include border-top-right-radius(3px);
}

.loginbox {
  width: 274px;
  padding: 17px 0 10px 13px;
  background: url(../images/search-bg.png);
  font-size: 14px;
  color: $lightest-grey;
  font-weight: 700;
  @include border-bottom-left-radius(3px);
  @include border-bottom-right-radius(3px);
  @include border-top-left-radius(3px);
}

.loginbox span a {
  color: white;
}

.loginbox span a:hover {
  border-bottom: 1px dashed white;
}

.loginbox span {
  font-weight: 400;
}

.loginwith {
  margin-bottom: 25px;
}

.loginwith img {
  vertical-align: middle;
  margin-right: 5px;
}

.loginwith-del {
  height: 0;
  width: 35%;
  border-bottom: 1px solid;
  margin: 8px 4%;
  float: left;
}

.loginwith-or {
  width: 23px;
  float: left;
}

.loginform {
  margin-top: 5px;
}

.username, .password {
  width: 254px;
  height: 29px;
  padding-left: 5px;
  margin-bottom: 8px;
  border: none;
  font: 12px "Lucida Grande", Arial, sans-serif;
  @include border-radius(3px);
}

.forgot {
  vertical-align: top;
  margin: 0 15px 0 5px;
}

.login-submit {
  width: 88px;
  height: 30px;
  padding-top: 3px;
  background: $primary-color;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: white;
  text-align: center;
  @include border-radius(3px);
  cursor: pointer;
}

.login-submit:hover {
  background: $primary-dark;
}

.user-notification {
  display: inline;
  text-align: center;
  font: 12px Arial, Helvetica, sans-serif;
  color: white;
  padding: 0 5px;
  margin-left: 5px;
  @include border-radius(8px);
  position: absolute;
}

.user-notification-top {
  top: 13px;
  right: 78px;
  background: $primary-darkest;
}

.user-notification-message {
  top: 84px;
  left: 105px;
  background: $secondary-color;
}

/* USER POP */
.userpop {
  position: absolute;
  top: 11px;
  left: 752px;
  width: 175px;
  z-index: 100;
}

.usertop {
  width: 47px;
  height: 34px;
  padding: 8px 0 0 8px;
  margin-left: 120px;
  background: url(../images/arrow-white_down.png) no-repeat 39px center $darkest-grey;
  @include border-top-left-radius(3px);
  @include border-top-right-radius(3px);
}

.usertop img {
  border: 1px solid $medium-grey;
}

.userbox {
  width: 158px;
  padding: 10px 0 18px 17px;
  background: url(../images/search-bg.png);
  font-size: 14px;
  color: $lightest-grey;
  font-weight: 700;
  @include border-bottom-left-radius(3px);
  @include border-bottom-right-radius(3px);
  @include border-top-left-radius(3px);
}

.userbox ul {
  list-style: none;
}

.userbox li {
  height: 28px;
}

.userbox a {
  height: 18px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  display: inline-block;
}

.userbox a:hover {
  border-bottom: 1px dashed white;
}
