.headline {
  margin-bottom: 22px;
}

.headline:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.headline {
  display: inline-block;
}

* html .headline {
  height: 1%;
}

.headline {
  display: block;
}

/* for the "grid" layout */
.headline.formmargin {
  margin-right: 10px;
}

.headline h1 {
  float: left;
  display: inline;
  width: auto;
  margin-right: 30px;
}

.headline .view {
  float: left;
  height: 34px;
  background: url(../images/view-bg.png) no-repeat 3px 3px;
  margin-right: 16px;
}

.headline .show {
  float: left;
  display: inline;
  height: 26px;
  padding-top: 8px;
  font: 12px "Lucida Grande", Arial, sans-serif;
  vertical-align: middle;
}

.headline .divider {
  float: left;
  height: 30px;
  width: 5px;
  margin-right: 5px;
  border-right: 1px dotted #333;
}

/* for the contest page */
.headline.contest-page {
  margin-bottom: 14px;
}

.headline .contest-image {
  float: left;
  width: 52px;
  height: 52px;
  margin: -12px 15px 0 0;
}

.headline .days-left {
  float: right;
  width: 300px;
  text-align: right;
  vertical-align: middle;
  line-height: normal;
}

.headline .days-left span {
  font-size: 24px;
  font-weight: 700;
  color: $accent-color;
  padding-right: 5px;
  vertical-align: middle;
}

/* contest page fold */
.fold {
  padding: 25px 0 25px 0;
}

.fold .fold-message {
  padding: 10px 10px;
  border-top: 1px dashed #00f;
  border-bottom: 1px dashed #00f;
  background: $primary-light-grey;
  text-align: center;
}

.fold .fold-message h3 {
  display: inline;
}

/* second headline area on the contest page */
.headline.subhead {
  margin: 0 0 15px 0;
  padding-left: 15px;
}

.headline h2 {
  float: left;
  display: inline;
  width: auto;
  font-weight: 400;
  color: $darkest-grey;
}

.headline h2 span {
  font-size: 33px;
  vertical-align: middle;
  font-weight: 700;
  color: $secondary-color;
}

.subhead .right {
  float: right;
  width: 300px;
  text-align: right;
}

/* for the proposal pages */
.headline.prophead {
  margin: 10px 0 15px 0;
  padding-left: 15px;
}

.headline.propsubhead {
  margin: 70px 0 15px 0;
  padding-left: 15px;
}

.prop-butt {
  float: right;
  width: 475px;
  text-align: left;
}

.prop-butt img {
  vertical-align: middle;
  padding-right: 10px;
}

/* for the ADD a proposal page */
.headline.addprop {
  width: 616px;
  margin-right: 368px;
  line-height: 24px;
  margin-bottom: 30px;
  color: black;
}

.headline.addprop a {
  font-weight: 700;
}
