/*  HELP BOXES  --------------------------------------------------- */

#content .help {
  width: 970px;
  border-radius: 10px;
  background: white;
  @include border-radius(10px);
  border: 1px solid #339fb8;
  margin: 15px 0;
  line-height: normal;
}

.helptop {
  background: url(../images/grid_t.gif);
  height: 24px;
  padding: 14px 10px 0 19px;
  color: black;
  font-size: 15px;
}

.wf-active .helptop {
  font-size: 17px;
}

.helptop span {
  font-weight: 600;
  color: $secondary-color;
}

.helptop .closehelp {
  float: right;
  height: 20px;
  width: 20px;
  margin-top: -5px;
}

.helptext {
  font-size: 14px;
  color: #444;
  padding: 15px 20px 18px 20px;
  line-height: 24px;
}

.wf-active .helptext {
  font-size: 16px;
}
