/* TOOLTIPS ----------------------------------------------------------------------------- */
.tooltip {
  display: none;
  background: transparent url(../images/tooltip-bg.png);
  padding: 8px 15px;
  color: #fff;
  font: 13px Arial, Helvetica, sans-serif;
  @include box-shadow(0 0 6px #666);
  @include border-radius(5px);
  position: absolute;
  min-width: 150px;
}

.tt-arrow {
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 13px;
  background: url(../images/tooltip-arrow.png) no-repeat bottom center;
}

.tooltip {
  z-index: 10000;
}

//TODO: these appear to be specific to modeling: find out why and combine them with other tooltips
#hide_tips {
  display: none;
}

.act_tooltip {
  width: 266px;
  background: url(../images/actions_tooltip-top.png) no-repeat right top;
  padding-top: 14px;
  position: absolute;
  left: 228px;
  top: 0;
  z-index: 5;
  visibility: hidden;
}

.act_tt-wrap {
  background: url(../images/actions_tooltip-arrow.png) no-repeat 0 8px;
}

.act_tt-txt {
  width: 258px;
  background: url(../images/actions_tooltip-bg.png);
  margin-left: 8px;
  padding: 0 16px;
  font: 11px/17px Verdana, sans-serif;
  color: #fff;
  min-height: 30px;
}

.act_tt-bot {
  background: url(../images/actions_tooltip-bottom.png) no-repeat right;
  height: 20px;
}

.act_tooltip {
  visibility: visible;
}

.act_tooltip a:hover {
  color: #8ECCE6;
}

